@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--bar-gap);
  box-sizing: border-box;
  background-color: var(--bar-background-color);
  padding: var(--bar-padding);
  min-height: var(--bar-min-height);

  & {
    --bar-padding: var(--bar-padding-default-top)
      var(--bar-padding-default-right) var(--bar-padding-default-bottom)
      var(--bar-padding-default-left);
  }

  &.bar--compact {
    height: var(--bar-height-compact);
  }

  &.bar--text-only {
    align-items: baseline;
  }

  &.bar--centered {
    & .bar__left {
      display: flex;
      justify-content: center;
    }

    & .bar__solo {
      display: flex;
      justify-content: center;
    }
  }

  &.bar--centered.bar--inverted {
    & .bar__right {
      display: flex;
      justify-content: center;
    }

    & .bar__solo {
      display: flex;
      justify-content: center;
    }
  }

  &__left {
    flex: 1;
  }

  &__right {
    flex: none;
  }

  &__solo {
    flex: 1;
  }

  &.bar--inverted {
    .bar__left {
      flex: none;
    }

    .bar__right {
      flex: 1;
    }
  }

  &.bar--clip-left {
    .bar__left {
      overflow: hidden;
    }
  }

  &.bar--clip-right {
    .bar__right {
      overflow: hidden;
    }
  }

  &.bar--clip-solo {
    .bar__solo {
      overflow: hidden;
    }
  }
}

@media (width <= 460px) {
  .bar--reflow {
    flex-direction: column;
    --bar-padding: var(--bar-padding-mobile-top) var(--bar-padding-mobile-right)
      var(--bar-padding-mobile-bottom) var(--bar-padding-mobile-left);
  }
}
