.bar.recharged {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-xxxsmall) 0;
  min-height: var(--size-large);

  &.bar--compact {
    height: var(--size-medium);
  }

  &.bar--text-only {
    align-items: baseline;
  }

  & .bar__solo {
    &--full {
      flex: 1;
    }  
  }
}

@media (max-width: 460px) {
  .bar.recharged {
    flex-direction: column;
    padding-top: var(--size-xxxsmall) !important;
    padding-bottom: var(--size-xxxsmall) !important;
  }
}
