.bar.recharged {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-xxxsmall) 0;
  min-height: var(--size-large);

  &.bar--compact {
    height: var(--size-medium);
  }

  &.bar--text-only {
    align-items: baseline;
  }

  & .bar__solo {
    flex: 1;
  }
}
