:root {
  --bar-min-height: var(--size-large);
  --bar-gap: var(--size-xxxsmall);

  --bar-height-compact: var(--size-medium);

  --bar-padding-top: var(--size-xxxsmall) !important;
  --bar-padding-bottom: var(--size-xxxsmall) !important;
}

.bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--bar-gap);
  min-height: var(--bar-min-height);

  &.bar--compact {
    height: var(--bar-height-compact);
  }

  &.bar--text-only {
    align-items: baseline;
  }

  & .bar__solo {
    &--full {
      flex: 1;
    }
  }
}

@media (max-width: 460px) {
  .bar {
    flex-direction: column;
    padding: var(--bar-padding);
    padding-top: var(--bar-padding-top);
    padding-bottom: var(--bar-padding-bottom);
  }
}
