:root[data-theme='figma-ui3'] {
  --bar-min-height: var(--size-large);
  --bar-gap: var(--size-xxxsmall);
  --bar-padding: 0 var(--size-xsmall);

  --bar-height-compact: var(--size-medium);

  --bar-padding-mobile: 0 var(--size-xxxsmall);
}
