:root[data-theme='figma-ui3'] {
  --bar-min-height: var(--size-large);
  --bar-gap: var(--size-xxsmall);
  --bar-padding: 0 var(--size-xsmall);
  --bar-background-color: transparent;
  --bar-border: var(--size-unit) solid var(--figma-color-border);

  --bar-height-compact: var(--size-medium);

  --bar-padding-mobile: var(--size-xxxsmall);
}
