:root[data-theme='penpot'] {
  --bar-min-height: var(--size-large);
  --bar-gap: var(--size-xxxsmall);
  --bar-padding: 0 var(--size-xsmall);
  --bar-background-color: var(--color-background-primary);
  --bar-border: var(--size-unit) solid var(--color-background-quaternary);

  --bar-height-compact: var(--size-medium);

  --bar-padding-mobile: var(--size-xxxsmall);
}
