:root[data-theme='penpot'] {
  --bar-min-height: var(--size-large);
  --bar-gap: var(--size-xxxsmall);
  --bar-padding: 0 var(--size-xsmall);
  --bar-border: 0 solid transparent;

  --bar-height-compact: var(--size-medium);

  --bar-padding-mobile: var(--size-xxxsmall);
}
