:root[data-theme='sketch'] {
  --bar-min_height: var(--size-pos-large);
  --bar-gap: var(--size-pos-xxsmall);
  --bar-padding: 0 var(--size-pos-xsmall);
  --bar-background-color: transparent;
  --bar-border: var(--size-pos-unit) solid var(--sketch-color-border-primary);

  --bar-height-compact: var(--size-pos-medium);

  --bar-padding-mobile: var(--size-pos-xxxsmall);
}
