.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;

  &--full-height {
    height: 100%;
  }

  &__block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--size-xxsmall) 0;
    overflow-y: auto;

    & + & {
      border-left: 1px solid var(--figma-color-border-disabled);
    }

    &--list {
      padding: var(--size-xxsmall) 0 0 0;
    }

    &--distributed {
      justify-content: space-between;
      gap: var(--size-small);
      overflow-y: hidden;
    }

    &--centered {
      margin: auto;
    }

    &--blank {
      padding: 0;
    }
  }
}
