@import 'figma-ui2';
@import 'figma-ui3';

.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;

  &--full-width {
    width: 100%;
  }

  &--full-height {
    height: 100%;
  }

  &__block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--layout-block-padding);
    overflow-y: auto;

    &--list {
      padding: var(--layout-list-padding);
    }

    &--distributed {
      justify-content: space-between;
      gap: var(--layout-distributed-gap);
      overflow-y: hidden;
    }

    &--centered {
      flex: none;
      margin: auto;
    }

    &--blank {
      padding: 0;
    }
  }

  & > .div + & > .div {
    border-left: var(--layout-block-border);
  }
}
