@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.layout {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  background-color: var(--layout-background-color);
  overflow: hidden;

  @media (max-width: 460px) {
    flex-direction: column;

    & > * {
      flex: 1 !important;
      width: 100% !important;
      min-width: unset !important;
      max-width: unset !important;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--full-height {
    height: 100%;
  }

  &__block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    padding: var(--layout-block-padding-top) var(--layout-block-padding-right)
      var(--layout-block-padding-bottom) var(--layout-block-padding-left);
    overflow: hidden auto;

    &--list {
      padding: var(--layout-list-padding-top) var(--layout-list-padding-right)
        var(--layout-list-padding-bottom) var(--layout-list-padding-left);
    }

    &--distributed {
      justify-content: space-between;
      gap: var(--layout-distributed-gap);
      overflow-y: hidden;
    }

    &--centered {
      flex: none;
      box-sizing: border-box;
      margin: auto;
      padding: var(--layout-centered-padding-top)
        var(--layout-centered-padding-right)
        var(--layout-centered-padding-bottom)
        var(--layout-centered-padding-left);
      max-width: 100%;
    }

    &--blank {
      padding: 0;
    }

    &--fixed {
      flex: none;

      @media (max-width: 460px) {
        flex: none !important;
        overflow: visible;
      }
    }
  }

  & > div + div {
    border-left: var(--layout-block-border-width) solid
      var(--layout-block-border-color);

    @media (max-width: 460px) {
      border-top: var(--layout-block-border-width) solid
        var(--layout-block-border-color);
      border-left: none;
    }
  }
}
