:root[data-theme='penpot'] {
  --layout-block-padding: var(--size-pos-xxsmall) 0;
  --layout-block-border: var(--size-pos-unit) solid
    var(--penpot-color-background-quaternary);
  --layout-background-color: var(--penpot-color-background-primary);

  --layout-list-padding: var(--size-pos-xxsmall) 0 0 0;

  --layout-centered-padding: var(--size-pos-small);

  --layout-distributed-gap: var(--size-pos-small);
}
