:root[data-theme='sketch'] {
  --layout-block-padding: var(--size-xxsmall) 0;
  --layout-block-border: var(--size-unit) solid
    var(--sketch-color-border-primary);
  --layout-background-color: var(--sketch-color-background-primary);

  --layout-list-padding: var(--size-xxsmall) 0 0 0;

  --layout-centered-padding: var(--size-small);

  --layout-distributed-gap: var(--size-small);
}
