:root[data-theme='figma-ui3'] {
  --semantic_message-gap: var(--size-pos-xxxsmall);
  --semantic_message-padding: var(--size-pos-xxsmall) var(--size-pos-xxsmall)
    var(--size-pos-xxsmall) 0;
  --semantic_message-radius: var(--border-radius-xlarge);
  --semantic_message-background-color: var(--figma-color-bg);
  --semantic_message-border-color: transparent;
  --semantic_message-border-width: 0;
  --semantic_message-border-offset: 0;

  --semantic_message-background-color-info: var(
    --figma-color-bg-brand-tertiary
  );
  --semantic_message-background-color-info-accent: #00000030;
  --semantic_message-background-color-error: var(
    --figma-color-bg-danger-tertiary
  );
  --semantic_message-background-color-error-accent: #00000030;
  --semantic_message-background-color-success: var(
    --figma-color-bg-success-tertiary
  );
  --semantic_message-background-color-success-accent: #00000030;
  --semantic_message-background-color-warning: var(
    --figma-color-bg-warning-tertiary
  );
  --semantic_message-background-color-warning-accent: #00000030;

  --semantic_message-border-color-info: transparent;
  --semantic_message-border-color-error: transparent;
  --semantic_message-border-color-success: transparent;
  --semantic_message-border-color-warning: transparent;
  --semantic_message-border-width-info: 0;
  --semantic_message-border-width-error: 0;
  --semantic_message-border-width-success: 0;
  --semantic_message-border-width-warning: 0;
  --semantic_message-border-offset-info: 0;
  --semantic_message-border-offset-error: 0;
  --semantic_message-border-offset-success: 0;
  --semantic_message-border-offset-warning: 0;

  --semantic_message-padding-anchored: var(--size-pos-small)
    var(--size-pos-xsmall) var(--size-pos-small) 0;
  --semantic_message-padding-vertical: var(--size-pos-xsmall)
    var(--size-pos-xxxsmall);
  --semantic_message-padding-anchored-vertical: var(--size-pos-xsmall)
    var(--size-pos-xxxsmall);
}
