:root[data-theme='penpot'] {
  --semantic-message-gap: var(--size-xxsmall);
  --semantic-message-padding: var(--size-xxsmall) var(--size-xxsmall)
    var(--size-xxsmall) 0;
  --semantic-message-radius: var(--border-radius-xlarge);
  --semantic-message-background-color: var(--color-background-primary);

  --semantic-message-background-color-info: var(--color-background-info);
  --semantic-message-background-color-info-accent: #00000030;
  --semantic-message-background-color-error: var(--color-background-error);
  --semantic-message-background-color-error-accent: #00000030;
  --semantic-message-background-color-success: var(--color-background-success);
  --semantic-message-background-color-success-accent: #00000030;
  --semantic-message-background-color-warning: var(--color-background-warning);
  --semantic-message-background-color-warning-accent: #00000030;

  --semantic-message-padding-anchored: var(--size-small) var(--size-xsmall)
    var(--size-small) 0;
  --semantic-message-padding-vertical: var(--size-xsmall) var(--size-xxxsmall);
  --semantic-message-padding-anchored-vertical: var(--size-xsmall)
    var(--size-xxxsmall);
}
