.semantic-message {
  border-radius: var(--size-xxsmall);
  padding: var(--size-xxsmall) 0;
  gap: var(--size-xxxsmall);
  display: flex;
  justify-content: space-between;

  &--info {
    background-color: var(--figma-color-bg-brand-tertiary);
  }

  &--error {
    background-color: var(--figma-color-bg-danger-tertiary);
  }

  &--success {
    background-color: var(--figma-color-bg-success-tertiary);
  }

  &--warning {
    background-color: var(--figma-color-bg-warning-tertiary);
  }

  &--anchored {
    padding: var(--size-small) 0;
    border-radius: 0;
  }

  &--vertical {
    flex-direction: column;
    align-items: center;
  }

  &__body {
    display: flex;
    gap: var(--size-xxxsmall);
    align-items: center;
  }
}