@import 'figma-ui2.scss';

.semantic-message {
  display: flex;
  justify-content: space-between;
  gap: var(--semantic-message-gap);
  border-radius: var(--semantic-message-border-radius);
  background-color: var(--semantic-message-background-color);
  padding: var(--semantic-message-padding);

  &--info {
    --semantic-message-background-color: var(
      --semantic-message-background-color-info
    );
  }

  &--error {
    --semantic-message-background-color: var(
      --semantic-message-background-color-error
    );
  }

  &--success {
    --semantic-message-background-color: var(
      --semantic-message-background-color-success
    );
  }

  &--warning {
    --semantic-message-background-color: var(
      --semantic-message-background-color-warning
    );
  }

  &--anchored {
    border-radius: 0;
    --semantic-message-padding: var(--semantic-message-padding-anchored);

    &.semantic-message--vertical {
      --semantic-message-padding: var(
        --semantic-message-padding-anchored-vertical
      );
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: center;
    --semantic-message-padding: var(--semantic-message-padding-vertical);
  }

  &__body {
    flex: 1;
  }
}
