:root[data-theme='sketch'] {
  --semantic_message-gap: var(--size-pos-xxsmall);
  --semantic_message-padding: var(--size-pos-xxsmall) var(--size-pos-xsmall)
    var(--size-pos-xxsmall) 0;
  --semantic_message-radius: var(--border-radius-xlarge);
  --semantic_message-background-color: var(--sketch-color-background-primary);
  --semantic_message-border-color: var(--sketch-color-border-secondary);
  --semantic_message-border-width: var(--size-pos-unit);
  --semantic_message-border-offset: var(--size-neg-unit);

  --semantic_message-background-color-info: var(--sketch-color-background-info);
  --semantic_message-background-color-info-accent: #00000030;
  --semantic_message-background-color-error: var(
    --sketch-color-background-error
  );
  --semantic_message-background-color-error-accent: #00000030;
  --semantic_message-background-color-success: var(
    --sketch-color-background-success
  );
  --semantic_message-background-color-success-accent: #00000030;
  --semantic_message-background-color-warning: var(
    --sketch-color-background-warning
  );
  --semantic_message-background-color-warning-accent: #00000030;

  --semantic_message-border-color-info: var(--sketch-color-accent-info);
  --semantic_message-border-color-error: var(--sketch-color-accent-error);
  --semantic_message-border-color-success: var(--sketch-color-accent-success);
  --semantic_message-border-color-warning: var(--sketch-color-accent-warning);
  --semantic_message-border-width-info: var(--size-pos-unit);
  --semantic_message-border-width-error: var(--size-pos-unit);
  --semantic_message-border-width-success: var(--size-pos-unit);
  --semantic_message-border-width-warning: var(--size-pos-unit);
  --semantic_message-border-offset-info: var(--size-neg-unit);
  --semantic_message-border-offset-error: var(--size-neg-unit);
  --semantic_message-border-offset-success: var(--size-neg-unit);
  --semantic_message-border-offset-warning: var(--size-neg-unit);

  --semantic_message-padding-anchored: var(--size-pos-small)
    var(--size-pos-xsmall) var(--size-pos-small) 0;
  --semantic_message-padding-vertical: var(--size-pos-xsmall)
    var(--size-pos-xxxsmall);
  --semantic_message-padding-anchored-vertical: var(--size-pos-xsmall)
    var(--size-pos-xxxsmall);
}
