@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

li.actions-item {
  display: flex;
  align-items: center;
  gap: var(--actions-item-gap);
  outline: var(--actions-item-border-secondary-width) solid
    var(--actions-item-border-secondary-color);
  outline-offset: var(--actions-item-border-secondary-offset);
  border-bottom: var(--actions-item-border-width) solid
    var(--actions-item-border-color);
  background-color: var(--actions-item-background-color);
  padding: var(--actions-item-padding-top) var(--actions-item-padding-right)
    var(--actions-item-padding-bottom) var(--actions-item-padding-left);
  user-select: none;

  @media (max-width: 460px) {
    flex-direction: column;
    align-items: stretch;
  }

  & {
    --actions-item-background-color: var(
      --actions-item-background-color-default
    );
    --actions-item-border-secondary-width: var(
      --actions-item-border-secondary-width-default
    );
    --actions-item-border-secondary-offset: var(
      --actions-item-border-secondary-offset-default
    );
    --actions-item-border-secondary-color: var(
      --actions-item-border-secondary-color-default
    );
  }

  &:last-child {
    border-bottom: none;
  }

  &--interactive {
    &:hover {
      --actions-item-background-color: var(
        --actions-item-background-color-hover
      );
    }

    &:focus {
      --actions-item-background-color: var(
        --actions-item-background-color-focus
      );
      --actions-item-border-secondary-width: var(
        --actions-item-border-secondary-width-focus
      );
      --actions-item-border-secondary-offset: var(
        --actions-item-border-secondary-offset-focus
      );
      --actions-item-border-secondary-color: var(
        --actions-item-border-secondary-color-focus
      );
    }
  }

  .actions-item__asset {
    width: 100px;
    min-width: var(--actions-item-asset-min-width);
    height: var(--actions-item-asset-height);
  }

  .actions-item__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--actions-item-content-gap);
    overflow: hidden;
  }

  .actions-item__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: var(--actions-item-actions-gap);
  }
}
