li.actions-item {
  display: flex;
  align-items: center;
  gap: 0 var(--size-xsmall);
  border-bottom: 1px solid var(--figma-color-border-disabled);
  padding: var(--size-xsmall) var(--size-xsmall) var(--size-xsmall)
    var(--size-small);
  user-select: none;

  &:last-child {
    border-bottom: none;
  }

  &--interactive:hover {
    background-color: var(--figma-color-bg-hover);
  }

  &-interactive:focus {
    outline: 2px solid var(--figma-color-border-selected);
    outline-offset: -2px;
  }

  .actions-item__asset {
    width: 100px;
    min-width: var(--size-xxxlarge);
    height: var(--size-xxxlarge);
  }

  .actions-item__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--size-xxsmall) 0;
  }

  .actions-item__user {
    display: flex;
    align-items: center;
    gap: var(--size-xxsmall);
  }

  .actions-item__user__avatar {
    border-radius: var(--size-small);
    width: var(--size-small);
    height: var(--size-small);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .actions-item__user__name {
    text-wrap: nowrap;
  }

  .actions-item__actions {
    display: flex;
    align-items: center;
    gap: var(--size-xxsmall);
  }
}
