@import 'figma-ui2';
@import 'figma-ui3';

li.actions-item {
  display: flex;
  align-items: center;
  gap: var(--actions-item-gap);
  outline: var(--actions-item-border-secondary-width) solid
    var(--actions-item-border-secondary-color);
  outline-offset: var(--actions-item-border-secondary-offset);
  border-bottom: var(--actions-item-border-width) solid
    var(--actions-item-border-color);
  background-color: var(--actions-item-background-color);
  padding: var(--actions-item-padding);
  user-select: none;

  &:last-child {
    border-bottom: none;
  }

  &--interactive {
    &:hover {
      --actions-item-background-color: var(--figma-color-bg-hover);
    }

    &:focus {
      --actions-item-background-color: var(
          --actions-item-background-color-focus
        )
        --actions-item-border-secondary-width:
        var(--actions-item-border-secondary-width-focus);
      --actions-item-border-secondary-offset: var(
        --actions-item-border-secondary-offset-focus
      );
      --actions-item-border-secondary-color: var(
        --actions-item-border-secondary-color-focus
      );
    }
  }

  .actions-item__asset {
    width: 100px;
    min-width: var(--actions-item-asset-min-width);
    height: var(--actions-item-asset-height);
  }

  .actions-item__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--actions-item-content-gap);
  }

  .actions-item__actions {
    display: flex;
    align-items: center;
    gap: var(--actions-item-actions-gap);
  }
}
