@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

li.actions-item {
  display: flex;
  align-items: center;
  gap: var(--actions_item-gap);
  outline: var(--actions_item-border-secondary-width) solid
    var(--actions_item-border-secondary-color);
  outline-offset: var(--actions_item-border-secondary-offset);
  border-bottom: var(--actions_item-border-width) solid
    var(--actions_item-border-color);
  background-color: var(--actions_item-background-color);
  padding: var(--actions_item-padding);
  user-select: none;

  &:last-child {
    border-bottom: none;
  }

  &--interactive {
    &:hover {
      --actions_item-background-color: var(
        --actions_item-background-color-hover
      );
    }

    &:focus {
      --actions_item-background-color: var(
        --actions_item-background-color-focus
      );
      --actions_item-border-secondary-width: var(
        --actions_item-border-secondary-width-focus
      );
      --actions_item-border-secondary-offset: var(
        --actions_item-border-secondary-offset-focus
      );
      --actions_item-border-secondary-color: var(
        --actions_item-border-secondary-color-focus
      );
    }
  }

  .actions-item__asset {
    width: 100px;
    min-width: var(--actions_item-asset-min_width);
    height: var(--actions_item-asset-height);
  }

  .actions-item__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--actions_item-content-gap);
  }

  .actions-item__actions {
    display: flex;
    align-items: center;
    gap: var(--actions_item-actions-gap);
  }
}
