:root[data-theme='figma-ui2'] {
  /* Base */
  --actions_item-gap: var(--size-pos-xsmall);
  --actions_item-padding: var(--size-pos-xsmall) var(--size-pos-xsmall)
    var(--size-pos-xsmall) var(--size-pos-small);
  --actions_item-border-color: var(--figma-color-border-disabled);
  --actions_item-border-width: var(--size-pos-unit);
  --actions_item-background-color: var(--figma-color-bg);
  --actions_item-border-secondary-width: 0;
  --actions_item-border-secondary-offset: 0;
  --actions_item-border-secondary-color: transparent;

  --actions_item-asset-min_width: var(--size-pos-xxxlarge);
  --actions_item-asset-height: var(--size-pos-xxxlarge);

  --actions_item-content-gap: var(--size-pos-xxsmall);
  --actions_item-actions-gap: var(--size-pos-xxsmall);

  /* States */
  --actions_item-background-color-hover: var(--figma-color-bg-hover);

  --actions_item-background-color-focus: var(--figma-color-bg-selected);
  --actions_item-border-secondary-width-focus: var(--size-pos-xunit);
  --actions_item-border-secondary-offset-focus: var(--size-neg-xunit);
  --actions_item-border-secondary-color-focus: var(
    --figma-color-border-selected
  );
}
