:root[data-theme='figma-ui3'] {
  --form-item-gap: var(--size-pos-xxsmall);
  --form-item-padding: var(--size-pos-xunit) 0 var(--size-pos-xunit) var(--size-pos-xxsmall);
  --form-item-text-color: var(--figma-color-text);
  --form-item-label-width: 96px;
  --form-item-helper-padding: 0 var(--size-pos-xxxsmall);

  --form-item-label-margin: var(--size-pos-xxxsmall) 0 0;
  --form-item-label-margin-multiline: var(--size-pos-xxsmall) 0 0;

  --form-item-text-color-disabled: var(--figma-color-text-disabled);
  --form-item-icon-color-disabled: var(--figma-color-icon-disabled);
}
