$id: "form-item";

:root {
  --#{id}-gap: var(--size-xxsmall);
  --#{id}-padding: 0 0 0 var(--size-xxsmall);
  --#{id}-text-color: var(--figma-color-text);
  --#{id}-label-width: 96px;
  --#{id}-helper-padding: 0;

  --#{id}-text-color-disabled: var(--figma-color-text-disabled);
  --#{id}-icon-color-disabled: var(--figma-color-icon-disabled);
}

.form-item {
  display: flex;
  flex-direction: column;
  --text-color-primary: var(--#{id}-text-color);
  --message-padding: var(--#{id}-helper-padding);

  &__row {
    display: flex;
    position: relative;
    align-items: baseline;
    gap: var(--#{id}-gap);
    cursor: default;
    padding: var(--#{id}-padding);
    user-select: none;
  }

  &--fill {
    label {
      flex: 0 1 var(--#{id}-label-width);
    }

    .form-item__input {
      flex: 1;
    }

    .input--number,
    .input--color {
      width: fit-content;
    }
  }

  &--blocked {
    pointer-events: none;
    --text-color-primary: var(--#{id}-text-color-disabled);
    --message-text-color: var(--#{id}-text-color-disabled);
    --message-icon-color: var(--#{id}-text-color-disabled);
  }
}
