.form-item.recharged {
  display: flex;
  position: relative;
  align-items: baseline;
  gap: var(--size-xxsmall);
  cursor: default;
  padding: 0 0 0 var(--size-xxsmall);
  user-select: none;

  &.form-item--fill {
    label {
      flex: 0 1 96px;
    }

    .form-item__input {
      flex: 1;
    }

    .input--number,
    .input--color {
      width: fit-content;
    }
  }

  .form-item__helper .onboarding-tip {
    padding: 0;
  }

  &.form-item--blocked {
    pointer-events: none;
  }

  &.form-item--blocked label {
    color: var(--figma-color-text-disabled);
  }
}
