:root[data-theme='penpot'] {
  --form-item-gap: var(--size-xxsmall);
  --form-item-padding: var(--size-xxxsmall) 0 var(--size-xxxsmall)
    var(--size-xxsmall);
  --form-item-text-color: var(--penpot-color-foreground-primary);
  --form-item-label-width: 112px;
  --form-item-helper-padding: 0 var(--size-xxsmall);

  --form-item-label-margin: var(--size-xxsmall) 0 0;
  --form-item-label-margin-multiline: var(--size-xxsmall) 0 0;

  --form-item-text-color-disabled: var(--penpot-color-foreground-disabled);
  --form-item-icon-color-disabled: var(--penpot-color-foreground-disabled);
}
