:root[data-theme='figma-ui3'] {
  --popin-breakpoint: 460px;
  --popin-shadow: var(--elevation-500-modal-window);
  --popin-shadow-panel: var(--elevation-400-menu-panel);
  --popin-radius: var(--border-radius-xxlarge);
  --popin-width-panel: 400px;
  --popin-min-width: 460px;
  --popin-max-width: 576px;
  --popin-min-height: 136px;
  --popin-background-color: var(--figma-color-bg);
  --popin-text-color: var(--figma-color-text);
  --popin-border-color: transparent;
  --popin-border-width: 0;
  --popin-border-offset: 0;

  --popin-header-height: var(--size-pos-large);
  --popin-header-gap: var(--size-pos-xxsmall);
  --popin-header-padding: 0 var(--size-pos-xxsmall);
  --popin-header-border: var(--size-pos-unit) solid var(--figma-color-border);
  --popin-header-text-transform: none;

  --popin-content-padding-empty: var(--size-pos-small);

  --popin-footer-padding: var(--size-pos-xxsmall) var(--size-pos-xsmall);
  --popin-footer-gap: var(--size-pos-xxsmall);
  --popin-footer-border: none;

  --popin-actions-gap: var(--size-pos-xxsmall);
}
