@import 'figma-ui2.scss';
@import 'figma-ui3.scss';

.popin {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  cursor: default;
  outline: var(--popin-border-width) solid var(--popin-border-color);
  outline-offset: var(--popin-border-offset);
  box-shadow: var(--popin-shadow);
  border-radius: var(--popin-radius);
  background-color: var(--popin-background-color);
  width: 100%;
  min-width: var(--popin-min-height);
  max-width: var(--popin-max-width);
  min-height: var(--popin-min-height);
  max-height: 100%;
  user-select: none;

  .popin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--popin-header-gap);
    border-bottom: var(--popin-header-border);
    padding: var(--popin-header-padding);
    height: var(--popin-header-height);
  }

  .popin__title {
    display: flex;
    align-items: center;
  }

  .popin__content {
    display: flex;
    flex: 1;
    padding: 0;
    overflow-y: auto;

    &--loading,
    &--message {
      justify-content: center;
      align-items: center;
    }
  }

  .popin__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--popin-footer-padding);
  }

  .popin__actions {
    display: flex;
    gap: var(--popin-actions-gap);
  }
}

@media (max-width: 460px) {
  .popin {
    min-width: unset;
    max-width: unset;
    height: auto;
    min-height: max-content;

    .popin__content,
    .popin__actions,
    .popin__footer {
      flex-direction: column;
    }

    .popin__actions,
    .popin__footer {
      flex-direction: column-reverse;
    }

    .popin__footer {
      gap: var(--popin-footer-gap);
      height: auto;
    }

    .popin__actions {
      width: 100%;
    }
  }
}
