@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.popin {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  cursor: default;
  outline: var(--popin-border-width) solid var(--popin-border-color);
  outline-offset: var(--popin-border-offset);
  box-shadow: var(--popin-shadow);
  border-radius: var(--popin-radius);
  background-color: var(--popin-background-color);
  width: 100%;
  min-width: var(--popin-min_width);
  max-width: var(--popin-max_width);
  min-height: var(--popin-min_height);
  max-height: 100%;
  overflow: hidden;
  user-select: none;

  &--panel {
    --popin-max_width: var(--popin-width-panel);
    --popin-min_width: var(--popin-width-panel);
    --popin-min_height: 100%;
    --popin-radius: 0;
    --popin-shadow: var(--popin-shadow-panel);
  }

  .popin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--popin-header-gap);
    border-bottom: var(--popin-header-border);
    padding: var(--popin-header-padding);
    height: var(--popin-header-height);
  }

  .popin__title {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-transform: var(--popin-header-text-transform);
  }

  .popin__content {
    display: flex;
    flex: 1;
    padding: 0;
    overflow-y: auto;

    &--loading,
    &--message {
      justify-content: center;
      align-items: center;
      padding: var(--popin-content-padding-empty);
    }
  }

  .popin__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--popin-footer-border);
    padding: var(--popin-footer-padding);
  }

  .popin__actions {
    display: flex;
    gap: var(--popin-actions-gap);
  }
}

@media (max-width: 460px) {
  .popin {
    min-width: unset;
    max-width: unset;
    height: auto;
    min-height: max-content;

    &--panel {
      --popin-max_width: 100%;
      --popin-min_width: 100%;
      --popin-min_height: 100%;
      height: 100%;
    }

    .popin__content,
    .popin__actions,
    .popin__footer {
      flex-direction: column;
    }

    .popin__actions,
    .popin__footer {
      flex-direction: column-reverse;
    }

    .popin__footer {
      gap: var(--popin-footer-gap);
      height: auto;
    }

    .popin__actions {
      width: 100%;
    }
  }
}
