:root[data-theme='figma-ui3'] {
  --simple_item-gap: var(--size-pos-xxsmall);
  --simple_item-padding: var(--size-pos-xunit) var(--size-pos-xsmall);
  --simple_item-min_height: var(--size-pos-medium);
  --simple_item-border-radius: var(--border-radius-small);
  --simple_item-background-color: var(--figma-color-bg);
  --simple_item-border-width: 0;
  --simple_item-border-offset: 0;
  --simple_item-border-color: transparent;

  --simple_item-background-color-hover: var(--figma-color-bg-hover);

  --simple_item-background-color-focus: var(--figma-color-bg-selected);
  --simple_item-border-width-focus: var(--size-pos-unit);
  --simple_item-border-offset-focus: var(--size-neg-unit);
  --simple_item-border-color-focus: var(--figma-color-border-selected);

  --simple_item-min_width-compact: 112px;
  --simple_item-width-compact: 112px;

  --simple_item-min_width-square: var(--size-pos-medium);
  --simple_item-width-square: var(--size-pos-medium);
}
