.simple-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2px var(--size-xsmall);
  min-height: var(--size-medium);
  background-color: var(--figma-color-bg);
  gap: var(--size-xxsmall);

  &--center {
    align-items: center;
  }

  &--baseline {
    align-items: baseline;
  }

  &--interactive:hover {
    background-color: var(--figma-color-bg-hover);
  }

  &-interactive:focus {
    outline: 2px solid var(--figma-color-border-selected);
    outline-offset: -2px;
  }

  .simple-item__left-part,
  .simple-item__right-part {
    display: flex;
    max-width: 100%;
  }

  .simple-item__left-part {
    flex: 1;
  }

  .simple-item__param {
    max-width: 100%;

    &--compact {
      width: 112px;
      min-width: 112px;
    }

    &--square {
      width: var(--size-medium);
      min-width: var(--size-medium);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--fill {
      flex: 1;
    }
  }
}