@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.simple-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--simple_item-gap);
  box-sizing: content-box;
  outline: var(--simple_item-border-width) solid var(--simple_item-border-color);
  outline-offset: var(--simple_item-border-offset);
  background-color: var(--simple_item-background-color);
  padding: var(--simple_item-padding);
  min-height: var(--simple_item-min_height);

  &--centered {
    align-items: center;
  }

  &--baseline {
    align-items: baseline;
  }

  &--interactive {
    &:hover {
      --simple_item-background-color: var(--simple_item-background-color-hover);
    }

    &:focus {
      --simple_item-background-color: var(--simple_item-background-color-focus);
      --simple_item-border-width: var(--simple_item-border-width-focus);
      --simple_item-border-offset: var(--simple_item-border-offset-focus);
      --simple_item-border-color: var(--simple_item-border-color-focus);
    }
  }

  &--transparent {
    --simple_item-background-color: transparent;
  }

  .simple-item__left,
  .simple-item__right {
    display: flex;
    max-width: 100%;
  }

  .simple-item__left {
    flex: 1;
  }

  .simple-item__param {
    max-width: 100%;

    &--compact {
      width: var(--simple_item-width-compact);
      min-width: var(--simple_item-min_width-compact);
    }

    &--square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--simple_item-width-square);
      min-width: var(--simple_item-min_width-square);
    }

    &--fill {
      flex: 1;
    }
  }
}
