:root[data-theme='sketch'] {
  --simple-item-gap: var(--size-pos-xxsmall);
  --simple-item-padding: var(--size-pos-xunit) var(--size-pos-xsmall);
  --simple-item-min-height: var(--size-pos-medium);
  --simple-item-border-radius: var(--border-radius-small);
  --simple-item-background-color: var(--sketch-color-background-primary);
  --simple-item-border-width: 0;
  --simple-item-border-offset: 0;
  --simple-item-border-color: transparent;

  --simple-item-background-color-hover: var(
    --sketch-color-background-secondary
  );

  --simple-item-background-color-focus: var(--sketch-color-accent-disabled);
  --simple-item-border-width-focus: var(--size-pos-unit);
  --simple-item-border-offset-focus: var(--size-neg-unit);
  --simple-item-border-color-focus: var(--sketch-color-accent-primary);

  --simple-item-min-width-compact: 112px;
  --simple-item-width-compact: 112px;

  --simple-item-min-width-square: var(--size-pos-medium);
  --simple-item-width-square: var(--size-pos-medium);
}
