$id: "inputs-bar";

:root {
  --#{$id}-gap: var(--size-xxsmall);
  --#{$id}-width: var(--size-xlarge);
  --#{$id}-padding: 0 1px;
  --#{$id}-margin: 0 -1px;
  --#{$id}-radius: var(--border-radius-small);

  --#{$id}-border-color: var(--figma-color-border-selected);
  --#{$id}-border-width: var(--size-xunit);
}

.inputs {
  display: flex;
  align-items: center;
  gap: var(--#{$id}-gap);

  &:hover {
    --input-border-width: var(--input-border-width-hover);
    --input-border-offset: var(--input-border-offset-hover);
    --input-border-color: var(--input-border-color-hover);
  }

  .inputs__bar {
    display: flex;
    position: relative;
    padding: var(--#{$id}-padding);
    --input-number-width: var(--#{$id}-width);
    --input-color-width: var(--#{$id}-width);

    & .input {
      margin: var(--#{$id}-margin);

      input:focus {
        --input-border-width: var(--input-border-width-hover);
        --input-border-offset: var(--input-border-offset-hover);
        --input-border-color: var(--input-border-color-hover);
      }
    }

    &:focus-within {
      --input-border-width: var(--input-border-width-hover);
      --input-border-offset: var(--input-border-offset-hover);
      --input-border-color: var(--input-border-color-hover);

      &:before {
        position: absolute;
        z-index: 2;
        box-shadow: inset 0 0 0 var(--#{$id}-border-width) var(--#{$id}-border-color);
        border-radius: var(--#{$id}-radius);
        inset: 0 0 0 0;
        pointer-events: none;
        content: '';
      }
    }
  }
}
