@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.inputs {
  display: flex;
  align-items: center;
  gap: var(--inputs-bar-gap);
  --input-radius: var(--inputs-bar-input-radius);

  &:hover {
    --input-border-width: var(--input-border-width-hover);
    --input-border-offset: var(--input-border-offset-hover);
    --input-border-color: var(--input-border-color-hover);
  }

  .inputs__bar {
    display: flex;
    position: relative;
    gap: var(--inputs-bar-gap-inner);
    border-radius: var(--inputs-bar-radius);
    padding: var(--inputs-bar-padding);
    overflow: hidden;
    --input-number-width: var(--inputs-bar-width);
    --input-color-width: var(--inputs-bar-width);

    & .input {
      margin: var(--inputs-bar-margin);

      input:focus {
        --input-border-width: var(--input-border-width-hover);
        --input-border-offset: var(--input-border-offset-hover);
        --input-border-color: var(--input-border-color-hover);
      }
    }

    &:focus-within {
      --input-border-width: var(--input-border-width-hover);
      --input-border-offset: var(--input-border-offset-hover);
      --input-border-color: var(--input-border-color-hover);

      &:before {
        position: absolute;
        z-index: 2;
        inset: 0 0 0 0;
        box-shadow: inset 0 0 0 var(--inputs-bar-border-width)
          var(--inputs-bar-border-color);
        border-radius: var(--inputs-bar-radius);
        pointer-events: none;
        content: '';
      }
    }
  }
}
