.inputs.recharged {
  display: flex;
  gap: var(--size-xxsmall);
  align-items: center;

  .label {
    flex: 0;
  }

  .inputs__bar {
    display: flex;
    padding: 0 1px;
    position: relative;

    & .input.recharged {
      width: var(--size-xlarge);
      margin: 0 -0.5px;

      input[type='color'] ~ input,
      input[type='number'] {
        max-width: unset;
        min-width: unset;
      }
    }

    & input {
      background-color: transparent;
    }

    & input:focus {
      border: 1px solid var(--figma-color-border);
    }

    &:hover input {
      border: 1px solid var(--figma-color-border);
    }

    &:focus-within:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: inset 0 0 0 2px var(--figma-color-border-selected);
      z-index: 2;
      pointer-events: none;
      border-radius: var(--border-radius-small);
    }

    &:focus-within input {
      border: 1px solid var(--figma-color-border);
      outline: 1px solid transparent;
      outline-offset: -2px;
    }
  }
}
