:root[data-theme='figma-ui3'] {
  /* Base */
  --input-number-width: 96px;
  --input-color-width: 96px;
  --input-height: var(--size-pos-small);
  --input-margin: 0;
  --input-gap: var(--size-pos-xxsmall);
  --input-radius: var(--border-radius-medium);
  --input-padding: var(--size-pos-xxsmall) var(--size-pos-xxxsmall) var(--size-pos-xxsmall)
    var(--size-pos-xxsmall);
  --input-padding-clearable: var(--size-pos-medium);
  --input-padding-unit: var(--size-pos-small);
  --input-padding-with-icon: var(--size-pos-small);
  --input-top-clearable: var(--size-pos-xunit);
  --input-right-clearable: var(--size-pos-xxxsmall);
  --input-background-color: var(--figma-color-bg-secondary);
  --input-border-width: 0;
  --input-border-offset: 0;
  --input-border-color: transparent;
  --input-text-font-family: var(--font-stack);
  --input-text-font_size: var(--font-size-xsmall);
  --input-text-font_weight: var(--font-weight-normal);
  --input-text-letter_spacing: var(--font-letter_spacing-neg-xsmall);
  --input-text-line_height: var(--font-line_height);
  --input-text-color: var(--figma-color-text);
  --input-text-placeholder-color: var(--figma-color-text-secondary);

  --input-color-chip-width: var(--size-pos-xsmall);
  --input-color-chip-height: var(--size-pos-xsmall);
  --input-color-chip-left: var(--size-pos-xxxsmall);
  --input-color-chip-radius: var(--border-radius-small);
  --input-color-chip-border: rgba(0, 0, 0, 0.1) 0 0 0 var(--size-pos-unit) inset;
  --input-color-chip-border-focus: var(--figma-color-border-selected) 0 0 0
    var(--size-pos-unit) inset;
  --input-color-chip-opacity: 1;

  --input-icon-width: var(--size-pos-small);
  --input-icon-height: var(--size-pos-small);
  --input-icon-color: var(--figma-color-icon-disabled);

  --input-textarea-min_height: var(--size-pos-xxlarge);
  --input-textarea-padding: var(--size-pos-xxsmall);
  --input-textarea-background-color: var(--figma-color-bg-secondary);
  --input-textarea-border-width: var(--size-pos-unit);
  --input-textarea-border-offset: var(--size-neg-unit);
  --input-textarea-border-color: var(--figma-color-border);
  --input-textarea-text-color: var(--figma-color-text);
  --input-textarea-text-placeholder-color: var(--figma-color-text-secondary);

  --input-status-height: var(--size-pos-small);
  --input-status-height-long-text: var(--size-pos-medium);
  --input-status-gap: var(--size-pos-xxsmall);

  /* Default */
  --input-background-color-empty: var(--figma-color-bg-secondary);
  --input-border-width-empty: 0;
  --input-border-offset-empty: 0;
  --input-border-color-empty: transparent;
  --input-text-color-empty: var(--figma-color-text);
  --input-text-placeholder-color-empty: var(--figma-color-text-secondary);

  --input-background-color-empty-hover: var(--figma-color-bg-secondary);
  --input-border-width-empty-hover: var(--size-pos-unit);
  --input-border-offset-empty-hover: var(--size-neg-unit);
  --input-border-color-empty-hover: var(--figma-color-border);
  --input-text-color-empty-hover: var(--figma-color-text);
  --input-text-placeholder-color-empty-hover: var(--figma-color-text-secondary);

  --input-background-color-empty-focus: var(--figma-color-bg-secondary);
  --input-border-width-empty-focus: var(--size-pos-unit);
  --input-border-offset-empty-focus: var(--size-neg-unit);
  --input-border-color-empty-focus: var(--figma-color-border-selected);
  --input-text-color-empty-focus: var(--figma-color-text);
  --input-text-placeholder-color-empty-focus: var(--figma-color-text-secondary);

  --input-background-color-hover: var(--figma-color-bg-secondary);
  --input-border-width-hover: var(--size-pos-unit);
  --input-border-offset-hover: var(--size-neg-unit);
  --input-border-color-hover: var(--figma-color-border);
  --input-text-color-hover: var(--figma-color-text);
  --input-text-placeholder-color-hover: var(--figma-color-text-secondary);

  --input-background-color-focus: var(--figma-color-bg-secondary);
  --input-border-width-focus: var(--size-pos-unit);
  --input-border-offset-focus: var(--size-neg-unit);
  --input-border-color-focus: var(--figma-color-border-selected);
  --input-text-color-focus: var(--figma-color-text);
  --input-text-placeholder-color-focus: var(--figma-color-text-secondary);

  /* Error */
  --input-background-color-empty-error: var(--figma-color-bg-secondary);
  --input-border-width-empty-error: var(--size-pos-unit);
  --input-border-offset-empty-error: var(--size-neg-unit);
  --input-border-color-empty-error: var(--figma-color-border-danger);
  --input-text-color-empty-error: var(--figma-color-text);
  --input-text-placeholder-color-empty-error: var(--figma-color-text-secondary);

  --input-background-color-empty-error-hover: var(--figma-color-bg-secondary);
  --input-border-width-empty-error-hover: var(--size-pos-unit);
  --input-border-offset-empty-error-hover: var(--size-neg-unit);
  --input-border-color-empty-error-hover: var(--figma-color-border-danger);
  --input-text-color-empty-error-hover: var(--figma-color-text);
  --input-text-placeholder-color-empty-error-hover: var(
    --figma-color-text-secondary
  );

  --input-background-color-empty-error-focus: var(--figma-color-bg-secondary);
  --input-border-width-empty-error-focus: var(--size-pos-unit);
  --input-border-offset-empty-error-focus: var(--size-neg-unit);
  --input-border-color-empty-error-focus: var(
    --figma-color-border-danger-strong
  );
  --input-text-color-empty-error-focus: var(--figma-color-text);
  --input-text-placeholder-color-empty-error-focus: var(
    --figma-color-text-secondary
  );

  --input-background-color-error: var(--figma-color-bg-secondary);
  --input-border-width-error: var(--size-pos-unit);
  --input-border-offset-error: var(--size-neg-unit);
  --input-border-color-error: var(--figma-color-border-danger);
  --input-text-color-error: var(--figma-color-text);
  --input-text-placeholder-color-error: var(--figma-color-text-secondary);

  --input-background-color-error-hover: var(--figma-color-bg-secondary);
  --input-border-width-error-hover: var(--size-pos-unit);
  --input-border-offset-error-hover: var(--size-neg-unit);
  --input-border-color-error-hover: var(--figma-color-border-danger);
  --input-text-color-error-hover: var(--figma-color-text);
  --input-text-placeholder-color-error-hover: var(--figma-color-text-secondary);

  --input-background-color-error-focus: var(--figma-color-bg-secondary);
  --input-border-width-error-focus: var(--size-pos-unit);
  --input-border-offset-error-focus: var(--size-neg-unit);
  --input-border-color-error-focus: var(--figma-color-border-danger-strong);
  --input-text-color-error-focus: var(--figma-color-text);
  --input-text-placeholder-color-error-focus: var(--figma-color-text-secondary);

  /* Disabled */
  --input-background-color-disabled: var(--figma-color-bg-tertiary);
  --input-border-width-disabled: var(--size-pos-unit);
  --input-border-offset-disabled: var(--size-neg-unit);
  --input-border-color-disabled: var(--figma-color-border-disabled);
  --input-text-color-disabled: var(--figma-color-text-disabled);
  --input-text-placeholder-color-disabled: var(--figma-color-text-tertiary);
  --input-color-chip-opacity-disabled: 0.5;

  /* On Selected */
  --input-background-color-onselected: var(--figma-color-bg);
  --input-border-color-onselected: var(--figma-color-border-selected);
  --input-border-width-onselected: var(--size-pos-unit);
  --input-border-offset-onselected: var(--size-neg-unit);
  --input-background-color-onselected-hover: var(--figma-color-bg);
  --input-border-color-onselected-hover: var(--figma-color-border-selected);
  --input-border-width-onselected-hover: var(--size-pos-unit);
  --input-border-offset-onselected-hover: var(--size-neg-unit);
}
