.input.recharged {
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;

  &.input--blocked {
    pointer-events: none;
  }

  .icon-box {
    pointer-events: none;
  }

  input {
    cursor: default;
    user-select: none;

    &[type='color' i] {
      position: absolute;
      top: 8px;
      left: var(--size-xxsmall);
      appearance: none;
      appearance: none;
      z-index: 1;
      border: none;
      background-color: transparent;
      background-color: transparent;
      padding: 0;
      width: var(--size-xsmall);
      height: var(--size-xsmall);
    }

    &[type='color' i]::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &[type='color' i]::-webkit-color-swatch {
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
      border: none;
    }

    &[type='color' i]:focus {
      outline: 1px solid var(--figma-color-border-selected);
      outline-offset: -1px;
    }

    &[type='color' i]:focus ~ input {
      outline: 1px solid var(--figma-color-border-selected);
      outline-offset: -2px;
      border: 1px solid var(--figma-color-border-selected);
    }

    &[type='number'] {
      width: 96px;
    }

    &[type='color'] ~ input {
      width: 96px;
    }

    &[type='number']::-webkit-inner-spin-button {
      display: none;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  /* Input */
  .input__wrapper {
    position: relative;
  }

  &--flex .input__wrapper {
    flex: 1;
  }

  .input__icon {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 2;
    width: 30px;
    height: 30px;
  }

  .input__field {
    --black8: var(--figma-color-text);
    --white: var(--figma-color-bg);

    &:hover,
    &:placeholder-shown:hover {
      --black8: var(--figma-color-text);
      --black1: var(--figma-color-border);
    }

    &:active,
    &:focus {
      --blue: var(--figma-color-border-selected);
      --black: var(--figma-color-text);
    }

    &:placeholder-shown {
      --black1: var(--figma-color-border);
    }

    &--error {
      border: 1px solid var(--figma-color-border-danger);
    }

    &--error:hover,
    &--error:placeholder-shown:hover {
      --black1: var(--figma-color-border-danger);
    }

    &--error:active,
    &--error:focus,
    &--error.textarea:active,
    &--error.textarea:focus {
      --blue: var(--figma-color-border-danger);
    }

    &--flex {
      width: 100% !important;
    }

    &--no-frame,
    &--no-frame:focus {
      --black1: transparent !important;
      --blue: transparent !important;
    }

    &--clearable {
      padding-right: var(--size-medium);
    }

    &--unit {
      padding-right: var(--size-small);
    }

    &::placeholder {
      color: var(--figma-color-text-secondary) !important;
    }

    &:disabled {
      --black1: var(--figma-color-border-disabled);
      --black3: var(--figma-color-text-disabled);
      --black8: var(--figma-color-text-disabled);
    }

    &:disabled::placeholder {
      color: var(--figma-color-text-tertiary) !important;
    }

    &:disabled:placeholder-shown {
      --black1: transparent;
    }
  }

  .input__color {
    &:hover ~ .input__field {
      --black8: var(--figma-color-text);
      --black1: var(--figma-color-border);
      border-color: var(--figma-color-border);
      background-image: none;
    }
    &:disabled[type='color' i] {
      opacity: 0.25;
    }
  }

  .input__clear {
    position: absolute;
    right: -1px;
  }

  /* Text area */
  .textarea {
    --black8: var(--figma-color-text);
    --white: var(--figma-color-bg);
    --black1: var(--figma-color-border);
    cursor: default;
    font-family: var(--font-stack);
    user-select: none;

    &:active,
    &:focus {
      --black: var(--figma-color-text);
      --blue: var(--figma-color-border-selected);
    }

    &--monospace {
      font-family: monospace;
    }
  }
}
