:root[data-theme='sketch'] {
  /* Base */
  --input-number-width: 108px;
  --input-color-width: 108px;
  --input-height: var(--size-medium);
  --input-margin: 0;
  --input-gap: var(--size-xxsmall);
  --input-radius: var(--border-radius-large);
  --input-padding: var(--size-xxsmall);
  --input-padding-clearable: var(--size-medium);
  --input-padding-unit: var(--size-medium);
  --input-padding-with-icon: var(--size-medium);
  --input-top-clearable: 5px;
  --input-right-clearable: var(--size-xxxsmall);
  --input-background-color: var(--sketch-color-background-tertiary);
  --input-border-width: 0;
  --input-border-offset: 0;
  --input-border-color: transparent;
  --input-text-font-family: var(--font-stack);
  --input-text-font-size: var(--font-size-large);
  --input-text-font-weight: var(--font-weight-normal);
  --input-text-letterspacing: var(--font-letter-spacing-neg-xsmall);
  --input-text-line-height: var(--font-line-height);
  --input-text-color: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color: var(--sketch-color-foreground-secondary);

  --input-color-chip-width: var(--size-xsmall);
  --input-color-chip-height: var(--size-xsmall);
  --input-color-chip-left: var(--size-xxsmall);
  --input-color-chip-radius: var(--border-radius-small);
  --input-color-chip-border: rgba(0, 0, 0, 0.1) 0 0 0 var(--size-unit) inset;
  --input-color-chip-border-focus: var(--sketch-color-accent-primary) 0 0 0
    var(--size-unit) inset;
  --input-color-chip-opacity: 1;

  --input-icon-width: var(--size-medium);
  --input-icon-height: var(--size-medium);
  --input-icon-color: var(--sketch-color-foreground-tertiary);

  --input-textarea-min-height: var(--size-xxlarge);
  --input-textarea-padding: var(--size-xxsmall);
  --input-textarea-background-color: var(--sketch-color-background-tertiary);
  --input-textarea-border-width: 0;
  --input-textarea-border-offset: 0;
  --input-textarea-border-color: transparent;
  --input-textarea-text-color: var(--sketch-color-foreground-primary);
  --input-text-textarea-placeholder-color: var(
    --sketch-color-foreground-secondary
  );

  --input-status-height: var(--size-medium);
  --input-status-height-long-text: var(--size-medium);
  --input-status-gap: var(--size-xxsmall);

  /* Default */
  --input-background-color-empty: var(--sketch-color-background-tertiary);
  --input-border-width-empty: 0;
  --input-border-offset-empty: 0;
  --input-border-color-empty: transparent;
  --input-text-color-empty: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-empty: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-empty-hover: var(
    --sketch-color-background-disabled
  );
  --input-border-width-empty-hover: 0;
  --input-border-offset-empty-hover: 0;
  --input-border-color-empty-hover: transparent;
  --input-text-color-empty-hover: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-empty-hover: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-empty-focus: var(--sketch-color-background-tertiary);
  --input-border-width-empty-focus: var(--size-unit);
  --input-border-offset-empty-focus: var(--size-neg-unit);
  --input-border-color-empty-focus: var(--sketch-color-accent-primary);
  --input-text-color-empty-focus: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-empty-focus: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-hover: var(--sketch-color-background-disabled);
  --input-border-width-hover: 0;
  --input-border-offset-hover: 0;
  --input-border-color-hover: transparent;
  --input-text-color-hover: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-hover: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-focus: var(--sketch-color-background-tertiary);
  --input-border-width-focus: var(--size-unit);
  --input-border-offset-focus: var(--size-neg-unit);
  --input-border-color-focus: var(--sketch-color-accent-primary);
  --input-text-color-focus: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-focus: var(
    --sketch-color-foreground-secondary
  );

  /* Error */
  --input-background-color-empty-error: var(--sketch-color-background-tertiary);
  --input-border-width-empty-error: var(--size-unit);
  --input-border-offset-empty-error: var(--size-neg-unit);
  --input-border-color-empty-error: var(--sketch-color-accent-error);
  --input-text-color-empty-error: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-empty-error: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-empty-error-hover: var(
    --sketch-color-background-disabled
  );
  --input-border-width-empty-error-hover: var(--size-unit);
  --input-border-offset-empty-error-hover: var(--size-neg-unit);
  --input-border-color-empty-error-hover: var(--sketch-color-accent-error);
  --input-text-color-empty-error-hover: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-empty-error-hover: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-empty-error-focus: var(
    --sketch-color-background-tertiary
  );
  --input-border-width-empty-error-focus: var(--size-unit);
  --input-border-offset-empty-error-focus: var(--size-neg-unit);
  --input-border-color-empty-error-focus: var(--sketch-color-foreground-error);
  --input-text-color-empty-error-focus: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-empty-error-focus: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-error: var(--sketch-color-background-tertiary);
  --input-border-width-error: var(--size-unit);
  --input-border-offset-error: var(--size-neg-unit);
  --input-border-color-error: var(--sketch-color-accent-error);
  --input-text-color-error: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-error: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-error-hover: var(
    --sketch-color-background-disabled
  );
  --input-border-width-error-hover: var(--size-unit);
  --input-border-offset-error-hover: var(--size-neg-unit);
  --input-border-color-error-hover: var(--sketch-color-accent-error);
  --input-text-color-error-hover: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-error-hover: var(
    --sketch-color-foreground-secondary
  );

  --input-background-color-error-focus: var(--sketch-color-background-tertiary);
  --input-border-width-error-focus: var(--size-unit);
  --input-border-offset-error-focus: var(--size-neg-unit);
  --input-border-color-error-focus: var(--sketch-color-foreground-error);
  --input-text-color-error-focus: var(--sketch-color-foreground-primary);
  --input-text-placeholder-color-error-focus: var(
    --sketch-color-foreground-secondary
  );

  /* Disabled */
  --input-background-color-disabled: var(--sketch-color-background-primary);
  --input-border-width-disabled: var(--size-unit);
  --input-border-offset-disabled: var(--size-neg-unit);
  --input-border-color-disabled: var(--sketch-color-border-disabled);
  --input-text-color-disabled: var(--sketch-color-foreground-tertiary);
  --input-text-placeholder-color-disabled: var(
    --sketch-color-foreground-disabled
  );
  --input-color-chip-opacity-disabled: 0.5;

  /* On Selected */
  --input-background-color-onselected: var(--sketch-color-background-tertiary);
  --input-border-color-onselected: var(--sketch-color-accent-primary);
  --input-border-width-onselected: var(--size-unit);
  --input-border-offset-onselected: var(--size-neg-unit);
  --input-background-color-onselected-hover: var(
    --sketch-color-background-tertiary
  );
  --input-border-color-onselected-hover: var(--sketch-color-accent-primary);
  --input-border-width-onselected-hover: var(--size-unit);
  --input-border-offset-onselected-hover: var(--size-neg-unit);
}
