@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.icon-chip {
  position: relative;
  flex: none;
  cursor: default;
  width: var(--icon_chip-width);
  height: var(--icon_chip-height);
  user-select: none;
}
