@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';

.icon-chip {
  position: relative;
  flex: none;
  cursor: default;
  width: var(--icon-chip-width);
  height: var(--icon-chip-height);
  pointer-events: auto;
  user-select: none;
}
