@import 'figma-ui2.scss';
@import 'figma-ui3.scss';

.select-menu {
  position: relative;
  border-radius: var(--actions-list-radius);

  .select-menu__spot {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: var(--actions-list-spot-radius);
    background-color: var(--actions-list-spot-background-color);
    height: var(--actions-list-spot-height);
    --icon-picto-color: var(--actions-list-spot-icon-color);

    &--top {
      inset: var(--actions-list-spot-inset-top);
      border-top: var(--actions-list-spot-border-width) solid
        var(--actions-list-spot-border-color);
    }

    &--bottom {
      inset: var(--actions-list-spot-inset-bottom);
      border-bottom: var(--actions-list-spot-border-width) solid
        var(--actions-list-spot-border-color);
    }
  }

  &__menu {
    position: relative;
    z-index: 0;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    outline: var(--actions-list-border-width) solid
      var(--actions-list-border-color);
    outline-offset: var(--actions-list-border-offset);
    box-shadow: var(--actions-list-shadow);
    border-radius: var(--actions-list-radius);
    background-color: var(--actions-list-background-color);
    padding: var(--actions-list-padding);
    width: 100%;
    min-width: var(--actions-list-min-width);
    overflow: visible;
    user-select: none;

    &--scrolling {
      z-index: 1;
      height: 100%;
      overflow-y: auto;
    }

    &--left .select-menu__submenu {
      transform: translateX(-100%);
      inset: var(--actions-list-submenu-inset-left);
    }

    &--right .select-menu__submenu {
      transform: translateX(100%);
      inset: var(--actions-list-submenu-inset-right);
    }
  }

  &__item {
    display: flex;
    position: relative;
    align-items: center;
    gap: var(--actions-list-item-gap);
    cursor: default;
    outline: none;
    border-radius: var(--actions-list-item-radius);
    background-color: var(--actions-list-item-background-color);
    padding: var(--actions-list-item-padding);
    height: var(--actions-list-item-height);
    user-select: none;
    --text-color-primary: var(--actions-list-item-text-color);

    &:after {
      position: absolute;
      inset: 0 var(--actions-list-patch-right) 0 auto;
      background-color: transparent;
      width: var(--actions-list-patch-width);
      content: '';
    }

    &__tick {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--actions-list-caret-width);
      height: var(--actions-list-caret-height);
      pointer-events: none;
      --icon-picto-color: var(--actions-list-tick-color);
    }

    &__label {
      flex: 1;
      pointer-events: none;
    }

    &__caret {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--actions-list-caret-width);
      height: var(--actions-list-caret-height);
      pointer-events: none;
      pointer-events: none;
      --icon-picto-color: var(--actions-list-caret-color);
    }

    &:hover {
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-hover
      );
      --actions-list-item-text-color: var(--actions-list-item-text-color-hover);
      --actions-list-tick-color: var(--actions-list-tick-color-hover);
      --actions-list-caret-color: var(--actions-list-caret-color-hover);

      .select-menu__submenu {
        --actions-list-item-background-color: var(
          --actions-list-item-background-color
        );
      }
    }

    &:focus {
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-focus
      );
      --actions-list-item-text-color: var(--actions-list-item-text-color-focus);
      --actions-list-tick-color: var(--actions-list-tick-color-focus);
      --actions-list-caret-color: var(--actions-list-caret-color-focus);

      .select-menu__submenu {
        --actions-list-item-background-color: var(
          --actions-list-item-background-color
        );
      }
    }

    &--selected {
      --actions-list-item-padding: var(--actions-list-item-padding-selected);
    }

    &--blocked,
    &--disabled {
      pointer-events: none;
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-disabled
      );
      --actions-list-item-text-color: var(
        --actions-list-item-text-color-disabled
      );
      --actions-list-tick-color: var(--actions-list-tick-color-disabled);
      --actions-list-caret-color: var(--actions-list-caret-color-disabled);

      .select-menu__submenu {
        --actions-list-item-background-color: var(
          --actions-list-item-background-color
        );
        --actions-list-item-text-color: var(--actions-list-item-text-color);
        --actions-list-tick-color: var(--actions-list-tick-color);
        --actions-list-caret-color: var(--actions-list-caret-color);
      }
    }
  }

  hr {
    margin: var(--actions-list-divider-margin);
    border: none;
    background-color: var(--actions-list-divider-background-color);
    height: var(--actions-list-divider-height);
  }

  &__submenu {
    position: absolute;
  }
}
