:root[data-theme='figma-ui2'] {
  /* Base */
  --actions_list-min_width: 224px;
  --actions_list-padding: var(--size-pos-xxsmall) var(--size-pos-unit);
  --actions_list-radius: var(--border-radius-xsmall);
  --actions_list-background-color: var(--grey-1000);
  --actions_list-border-color: var(--grey-800);
  --actions_list-border-width: var(--size-pos-unit);
  --actions_list-border-offset: var(--size-neg-unit);
  --actions_list-shadow: var(--shadow-floating-window);

  --actions_list-item-height: var(--size-pos-small);
  --actions_list-item-padding: 0 var(--size-pos-xsmall) 0 var(--size-pos-medium);
  --actions_list-item-gap: var(--size-pos-xxsmall);
  --actions_list-item-radius: 0;
  --actions_list-item-background-color: transparent;
  --actions_list-item-text-font-family: var(--font-stack);
  --actions_list-item-text-font_size: var(--font-size-small);
  --actions_list-item-text-font_weight: var(--font-weight-normal);
  --actions_list-item-text-letter_spacing: var(
    --font-letter_spacing-neg-xsmall
  );
  --actions_list-item-text-line_height: var(--font-line_height);
  --actions_list-item-text-color: var(--grey-0);

  --actions_list-patch-right: 0;
  --actions_list-patch-left: 0;
  --actions_list-patch-width: 0;

  --actions_list-spot-height: var(--size-pos-xsmall);
  --actions_list-spot-radius: var(--border-radius-xsmall);
  --actions_list-spot-background-color: var(--grey-1000);
  --actions_list-spot-icon-color: var(--grey-0);
  --actions_list-spot-inset-top: 0 var(--size-pos-unit) auto
    var(--size-pos-unit);
  --actions_list-spot-inset-bottom: auto var(--size-pos-unit) 0
    var(--size-pos-unit);
  --actions_list-spot-border-width: var(--size-pos-unit);
  --actions_list-spot-border-color: var(--grey-800);

  --actions_list-tick-width: var(--size-pos-xsmall);
  --actions_list-tick-height: var(--size-pos-xsmall);
  --actions_list-tick-color: var(--grey-0);

  --actions_list-caret-width: var(--size-pos-xsmall);
  --actions_list-caret-height: var(--size-pos-xsmall);
  --actions_list-caret-color: var(--grey-0);

  --actions_list-submenu-inset-right: var(--size-neg-xxsmall)
    var(--size-neg-unit) auto auto;
  --actions_list-submenu-inset-left: var(--size-neg-xxsmall) auto auto
    var(--size-neg-unit);

  --actions_list-title-text-transform: none;

  --actions_list-divider-margin: 11px 0 var(--size-pos-xmsmall) 0;
  --actions_list-divider-height: var(--size-pos-unit);
  --actions_list-divider-background-color: var(--grey-900);

  /* States */
  --actions_list-item-background-color-hover: var(
    --figma-color-bg-selected-strong
  );
  --actions_list-item-text-color-hover: var(--grey-0);
  --actions_list-tick-color-hover: var(--grey-0);
  --actions_list-caret-color-hover: var(--grey-0);

  --actions_list-item-background-color-focus: var(
    --figma-color-bg-selected-strong
  );
  --actions_list-item-text-color-focus: var(--grey-0);
  --actions_list-tick-color-focus: var(--grey-0);
  --actions_list-caret-color-focus: var(--grey-0);

  --actions_list-item-padding-selected: 0 var(--size-pos-xsmall) 0
    var(--size-pos-xxsmall);
  --actions_list-item-background-color-selected: transparent;
  --actions_list-item-text-color-selected: var(--grey-0);
  --actions_list-tick-color-selected: var(--grey-0);
  --actions_list-caret-color-selected: var(--grey-0);

  --actions_list-item-padding-selected-hover: 0 var(--size-pos-xsmall) 0
    var(--size-pos-xxsmall);
  --actions_list-item-background-color-selected-hover: var(
    --figma-color-bg-selected-strong
  );
  --actions_list-item-text-color-selected-hover: var(--grey-0);
  --actions_list-tick-color-selected-hover: var(--grey-0);
  --actions_list-caret-color-selected-hover: var(--grey-0);

  --actions_list-item-padding-selected-focus: 0 var(--size-pos-xsmall) 0
    var(--size-pos-xxsmall);
  --actions_list-item-background-color-selected-focus: var(
    --figma-color-bg-selected-strong
  );
  --actions_list-item-text-color-selected-focus: var(--grey-0);
  --actions_list-tick-color-selected-focus: var(--grey-0);
  --actions_list-caret-color-selected-focus: var(--grey-0);

  --actions_list-item-background-color-disabled: var(--grey-1000);
  --actions_list-item-text-color-disabled: var(--grey-600);
  --actions_list-tick-color-disabled: var(--grey-600);
  --actions_list-caret-color-disabled: var(--grey-600);
}
