:root[data-theme='penpot'] {
  /* Base */
  --actions_list-min_width: 224px;
  --actions_list-padding: var(--size-pos-xxxsmall) var(--size-pos-xxxsmall);
  --actions_list-radius: var(--border-radius-xlarge);
  --actions_list-background-color: var(--penpot-color-background-primary);
  --actions_list-border-color: var(--penpot-color-background-quaternary);
  --actions_list-border-width: var(--size-pos-unit);
  --actions_list-border-offset: var(--size-neg-unit);
  --actions_list-shadow: none;

  --actions_list-item-height: var(--size-pos-medium);
  --actions_list-item-padding: 0 var(--size-pos-xxsmall) 0
    var(--size-pos-medium);
  --actions_list-item-gap: var(--size-pos-xxsmall);
  --actions_list-item-radius: var(--border-radius-large);
  --actions_list-item-background-color: transparent;
  --actions_list-item-text-font-family: var(--font-stack);
  --actions_list-item-text-font_size: var(--font-size-small);
  --actions_list-item-text-font_weight: var(--font-weight-normal);
  --actions_list-item-text-letter_spacing: var(
    --font-letter_spacing-neg-xsmall
  );
  --actions_list-item-text-line_height: var(--font-line_height);
  --actions_list-item-text-color: var(--penpot-color-foreground-primary);

  --actions_list-patch-right: var(--size-neg-xxxsmall);
  --actions_list-patch-left: var(--size-neg-xxxsmall);
  --actions_list-patch-width: var(--size-pos-xxxsmall);

  --actions_list-spot-height: var(--size-pos-xsmall);
  --actions_list-spot-radius: var(--border-radius-xlarge);
  --actions_list-spot-background-color: var(--penpot-color-background-primary);
  --actions_list-spot-icon-color: var(--penpot-color-foreground-primary);
  --actions_list-spot-inset-top: 0 var(--size-pos-unit) auto
    var(--size-pos-unit);
  --actions_list-spot-inset-bottom: auto var(--size-pos-unit) 0
    var(--size-pos-unit);
  --actions_list-spot-border-width: 0;
  --actions_list-spot-border-color: transparent;

  --actions_list-tick-width: var(--size-pos-xsmall);
  --actions_list-tick-height: var(--size-pos-xsmall);
  --actions_list-tick-color: var(--penpot-color-foreground-primary);

  --actions_list-caret-width: var(--size-pos-xsmall);
  --actions_list-caret-height: var(--size-pos-xsmall);
  --actions_list-caret-color: var(--penpot-color-foreground-primary);

  --actions_list-submenu-inset-right: var(--size-neg-xxxsmall) -3px auto auto;
  --actions_list-submenu-inset-left: var(--size-neg-xxxsmall) auto auto -3px;

  --actions_list-title-text-transform: none;

  --actions_list-divider-margin: 11px 0 var(--size-pos-xmsmall) 0;
  --actions_list-divider-height: var(--size-pos-unit);
  --actions_list-divider-background-color: var(
    --penpot-color-background-quaternary
  );

  /* States */
  --actions_list-item-background-color-hover: var(
    --penpot-color-background-quaternary
  );
  --actions_list-item-text-color-hover: var(--penpot-color-foreground-primary);
  --actions_list-tick-color-hover: var(--penpot-color-foreground-primary);
  --actions_list-caret-color-hover: var(--penpot-color-foreground-primary);

  --actions_list-item-background-color-focus: var(
    --penpot-color-background-quaternary
  );
  --actions_list-item-text-color-focus: var(--penpot-color-foreground-primary);
  --actions_list-tick-color-focus: var(--penpot-color-foreground-primary);
  --actions_list-caret-color-focus: var(--penpot-color-foreground-primary);

  --actions_list-item-padding-selected: 0 var(--size-pos-xsmall) 0
    var(--size-pos-xxsmall);
  --actions_list-item-background-color-selected: var(
    --penpot-color-background-primary
  );
  --actions_list-item-text-color-selected: var(--penpot-color-accent-primary);
  --actions_list-tick-color-selected: var(--penpot-color-accent-primary);
  --actions_list-caret-color-selected: var(--penpot-color-accent-primary);

  --actions_list-item-padding-selected-hover: 0 var(--size-pos-xsmall) 0
    var(--size-pos-xxsmall);
  --actions_list-item-background-color-selected-hover: var(
    --penpot-color-background-quaternary
  );
  --actions_list-item-text-color-selected-hover: var(
    --penpot-color-accent-primary
  );
  --actions_list-tick-color-selected-hover: var(--penpot-color-accent-primary);
  --actions_list-caret-color-selected-hover: var(--penpot-color-accent-primary);

  --actions_list-item-padding-selected-focus: 0 var(--size-pos-xsmall) 0
    var(--size-pos-xxsmall);
  --actions_list-item-background-color-selected-focus: var(
    --penpot-color-background-quaternary
  );
  --actions_list-item-text-color-selected-focus: var(
    --penpot-color-accent-primary
  );
  --actions_list-tick-color-selected-focus: var(--penpot-color-accent-primary);
  --actions_list-caret-color-selected-focus: var(--penpot-color-accent-primary);

  --actions_list-item-background-color-disabled: var(
    --penpot-color-background-primary
  );
  --actions_list-item-text-color-disabled: var(
    --penpot-color-foreground-disabled
  );
  --actions_list-tick-color-disabled: var(--penpot-color-foreground-disabled);
  --actions_list-caret-color-disabled: var(--penpot-color-foreground-disabled);
}
