:root[data-theme='figma-ui2'] {
  --keyboard-shortcut-item-padding: 0 var(--size-small);
  --keyboard-shortcut-item-gap: var(--size-xxsmall);
  --keyboard-shortcut-item-min-height: var(--size-large);
  --keyboard-shortcut-item-background-color: var(--figma-color-bg);

  --keyboard-shortcut-item-key-radius: var(--border-radius-small);
  --keyboard-shortcut-item-key-padding: 0 var(--size-xxsmall);
  --keyboard-shortcut-item-key-min-width: var(--size-xxsmall);
  --keyboard-shortcut-item-key-gap: var(--size-xxxsmall);
  --keyboard-shortcut-item-key-height: var(--size-small);
  --keyboard-shortcut-item-key-border-width: var(--size-unit);
  --keyboard-shortcut-item-key-border-offset: var(--size-neg-unit);
  --keyboard-shortcut-item-key-border-color: var(--figma-color-border);

  --keyboard-shortcut-item-separator-padding: 0 var(--size-xxxsmall);
}
