@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.keyboard-shortcut-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--keyboard_shortcut-item-gap);
  background-color: var(--keyboard_shortcut-item-background-color);
  padding: var(--keyboard_shortcut-item-padding);
  min-height: var(--keyboard_shortcut-item-min_height);
  user-select: none;

  .keyboard-shortcut-item__keys {
    display: flex;
    align-items: center;
    gap: var(--keyboard_shortcut-item-key-gap);
  }

  .keyboard-shortcut-item__key {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: var(--keyboard_shortcut-item-key-border-width) solid
      var(--keyboard_shortcut-item-key-border-color);
    outline-offset: var(--keyboard_shortcut-item-key-border-offset);
    border-radius: var(--keyboard_shortcut-item-key-radius);
    background-color: var(--keyboard_shortcut-item-key-background-color);
    padding: var(--keyboard_shortcut-item-key-padding);
    min-width: var(--keyboard_shortcut-item-key-min_width);
    height: var(--keyboard_shortcut-item-key-height);
    white-space: nowrap;
  }

  .keyboard-shortcut-item__separator {
    padding: var(--keyboard_shortcut-item-separator-padding);
  }
}
