:root[data-theme='penpot'] {
  --thumbnail-width: var(--size-medium);
  --thumbnail-height: var(--size-medium);
  --thumbnail-padding: var(--size-xsmall);
  --thumbnail-radius: var(--border-radius-medium);
  --thumbnail-border-width: var(--size-unit);
  --thumbnail-border-offset: var(--size-neg-unit);
  --thumbnail-border-color: var(--penpot-color-background-quaternary);
  --thumbnail-background-color: var(--penpot-color-background-tertiary);
}
