:root[data-theme='sketch'] {
  --thumbnail-width: var(--size-pos-medium);
  --thumbnail-height: var(--size-pos-medium);
  --thumbnail-padding: var(--size-pos-xsmall);
  --thumbnail-radius: var(--border-radius-large);
  --thumbnail-border-width: var(--size-pos-unit);
  --thumbnail-border-offset: var(--size-neg-unit);
  --thumbnail-border-color: var(--sketch-color-border-primary);
  --thumbnail-background-color: var(--sketch-color-background-secondary);
}
