@import 'figma-ui2';
@import 'figma-ui3';

.thumbnail {
  display: flex;
  outline: var(--thumbnail-border-width) solid var(--thumbnail-border-color);
  outline-offset: var(--thumbnail-border-offset);
  border-radius: var(--thumbnail-border-radius);
  background: var(--thumbnail-background-color);
  height: 100%;

  .thumbnail__image {
    margin: auto;
    max-width: 90%;
    max-height: 90%;
  }

  .thumbnail__error,
  .thumbnail__loader {
    margin: auto;
  }
}
