@import 'figma-ui2.scss';

.color-chip {
  position: relative;
  flex: none;
  cursor: default;
  outline: var(--color-chip-border-width) solid var(--color-chip-border-color);
  outline-offset: var(--color-chip-border-offset);
  border-radius: var(--color-chip-radius);
  user-select: none;

  &--rounded {
    border-radius: var(--color-chip-radius-full);
  }
}
