@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.color-chip {
  position: relative;
  flex: none;
  cursor: default;
  outline: var(--color_chip-border-width) solid var(--color_chip-border-color);
  outline-offset: var(--color_chip-border-offset);
  border-radius: var(--color_chip-radius);
  user-select: none;

  &--rounded {
    --color_chip-radius: var(--border-radius-full);
  }
}
