:root[data-theme='figma-ui2'] {
  /* Base */
  --select-text-font-family: var(--font-stack);
  --select-text-font-size: var(--font-size-xsmall);
  --select-text-font-weight: var(--font-weight-normal);
  --select-text-line-height: var(--font-line-height);
  --select-text-letter-spacing: var(--font-letter-spacing-pos-xsmall);
  --select-text-color: var(--figma-color-text);

  --select-text-color-disabled: var(--figma-color-text-disabled);

  /* Checkbox */
  --select-checkbox-height: var(--size-medium);
  --select-checkbox-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --select-checkbox-margin: -16px;

  --select-box-height: 10px;
  --select-box-width: 10px;
  --select-box-radius: var(--border-radius-small);
  --select-box-margin: 0 10px 0 -8px;
  --select-box-outline: none;
  --select-box-tick-icon: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%227%22%20viewBox%3D%220%200%208%207%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m1.17647%201.88236%201.88235%201.88236%203.76471-3.76472%201.17647%201.17648-4.94118%204.9412-3.05882-3.05884z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --select-box-tick-position: 1px 2px;

  --select-box-background: var(--figma-color-bg);
  --select-box-background-checked: var(--figma-color-bg-selected-strong);
  --select-box-border: 1px solid var(--figma-color-icon);
  --select-box-border-checked: 1px solid var(--figma-color-bg-brand);
  --select-box-border-secondary: none;
  --select-box-border-secondary-focus: 2px solid
    var(--figma-color-border-selected-strong);

  --select-box-background-disabled: var(--figma-color-bg);
  --select-box-border-disabled: 1px solid var(--figma-color-icon-disabled);
  --select-box-background-checked-disabled: var(--figma-color-bg-selected);
  --select-box-border-checked-disabled: 1px solid
    var(--figma-color-border-onselected);

  /* Switch */
  --select-switch-height: var(--size-medium);
  --select-switch-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --select-switch-margin: -16px;

  --select-toggle-height: 10px;
  --select-toggle-width: 22px;
  --select-toggle-radius: 8px;
  --select-toggle-margin: 0 8px 0 -8px;
  --select-toggle-background: var(--figma-color-bg-disabled);
  --select-toggle-border: 1px solid var(--figma-color-bg-disabled);

  --select-toggle-knob-height: 10px;
  --select-toggle-knob-width: 10px;
  --select-toggle-knob-radius: var(--border-radius-full);
  --select-toggle-knob-outline: none;
  --select-toggle-knob-left: 23px;
  --select-toggle-knob-background: var(--grey-0);
  --select-toggle-knob-transform: translateX(0) translateY(-50%);

  --select-toggle-background-checked: var(--figma-color-bg-selected-strong);
  --select-toggle-border-checked: 1px solid
    var(--figma-color-bg-selected-strong);
  --select-toggle-border-secondary: none;
  --select-toggle-border-secondary-focus: 2px solid
    var(--figma-color-border-selected-strong);
  --select-toggle-knob-transform-checked: translateX(12px) translateY(-50%);
  --select-toggle-knob-background-checked: var(--figma-color-icon-onbrand);

  --select-toggle-background-disabled: var(--figma-color-bg-disabled);
  --select-toggle-border-disabled: 1px solid var(--figma-color-bg-disabled);
  --select-toggle-background-checked-disabled: var(
    --figma-color-bg-brand-secondary
  );
  --select-toggle-border-checked-disabled: 1px solid
    var(--figma-color-bg-brand-secondary);
  --select-toggle-knob-background-disabled: var(--figma-color-icon-ondisabled);
  --select-toggle-knob-background-checked-disabled: var(
    --figma-color-icon-onbrand-secondary
  );

  /* Radio */
  --select-radio-height: var(--size-medium);
  --select-radio-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --select-radio-margin: -16px;

  --select-button-height: 10px;
  --select-button-width: 10px;
  --select-button-inner-height: 6px;
  --select-button-inner-width: 6px;
  --select-button-radius: var(--border-radius-full);
  --select-button-margin: 0 10px 0 -8px;
  --select-button-outline: none;
  --select-button-inner-left: 13px;
  --select-button-icon: var(--figma-color-icon);

  --select-button-background: var(--figma-color-bg);
  --select-button-background-checked: var(--figma-color-bg);
  --select-button-border: 1px solid var(--figma-color-icon);
  --select-button-border-checked: 1px solid var(--figma-color-icon);
  --select-button-border-secondary: none;
  --select-button-border-secondary-focus: 2px solid
    var(--figma-color-border-selected-strong);

  --select-button-background-disabled: var(--figma-color-bg);
  --select-button-border-disabled: 1px solid var(--figma-color-icon-disabled);
  --select-button-background-checked-disabled: var(--figma-color-bg);
  --select-button-border-checked-disabled: 1px solid
    var(--figma-color-bg-disabled);
  --select-button-icon-disabled: var(--figma-color-icon-disabled);
}
