@import '@styles/icons/icons.module.scss';

:root[data-theme='figma-ui2'] {
  /* Base */
  --select-text-font-family: var(--font-stack);
  --select-text-font-size: var(--font-size-xsmall);
  --select-text-font-weight: var(--font-weight-normal);
  --select-text-line-height: var(--font-line-height);
  --select-text-letter-spacing: var(--font-letter-spacing-pos-xsmall);
  --select-text-color: var(--figma-color-text);

  --select-text-color-disabled: var(--figma-color-text-disabled);

  /* Checkbox */
  --select-checkbox-height: var(--size-medium);
  --select-checkbox-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --select-checkbox-margin: -16px;

  --select-box-height: 10px;
  --select-box-width: 10px;
  --select-box-radius: var(--border-radius-small);
  --select-box-margin: 0 10px 0 -8px;
  --select-box-border-color-secondary: transparent;
  --select-box-border-width-secondary: 0;
  --select-box-border-offset-secondary: 0;

  --select-box-tick-icon: var(--icon-check);
  --select-box-tick-position: var(--size-unit) var(--size--neg-xunit);
  --select-box-tick-width: var(--size-medium);
  --select-box-tick-height: var(--size-medium);
  --select-box-tick-margin: 0 0 0 -18px;
  --select-box-tick-background-color: var(--grey-0);

  --select-box-background: var(--figma-color-bg);
  --select-box-background-checked: var(--figma-color-bg-selected-strong);
  --select-box-border: var(--size-unit) solid var(--figma-color-icon);
  --select-box-border-checked: var(--size-unit) solid var(--figma-color-bg-brand);
  
  --select-box-border-color-secondary-focus: var(--figma-color-border-selected-strong);
  --select-box-border-width-secondary-focus: var(--size-xunit);
  --select-box-border-offset-secondary-focus: 0;
  --select-box-border-color-secondary-checked-focus: var(--figma-color-border-selected-strong);
  --select-box-border-width-secondary-checked-focus: var(--size-xunit);
  --select-box-border-offset-secondary-checked-focus: 0;

  --select-box-background-disabled: var(--figma-color-bg);
  --select-box-border-disabled: var(--size-unit) solid var(--figma-color-icon-disabled);
  --select-box-background-checked-disabled: var(--figma-color-bg-selected);
  --select-box-border-checked-disabled: var(--size-unit) solid
    var(--figma-color-border-onselected);

  /* Switch */
  --select-switch-height: var(--size-medium);
  --select-switch-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --select-switch-margin: -16px;

  --select-toggle-height: 10px;
  --select-toggle-width: 22px;
  --select-toggle-radius: 8px;
  --select-toggle-margin: 0 8px 0 -8px;
  --select-toggle-background: var(--figma-color-bg-disabled);
  --select-toggle-border: var(--size-unit) solid var(--figma-color-bg-disabled);

  --select-toggle-knob-height: 10px;
  --select-toggle-knob-width: 10px;
  --select-toggle-knob-radius: var(--border-radius-full);
  --select-toggle-knob-outline: none;
  --select-toggle-knob-left: 23px;
  --select-toggle-knob-background: var(--grey-0);
  --select-toggle-knob-transform: translateX(0) translateY(-50%);

  --select-toggle-background-checked: var(--figma-color-bg-selected-strong);
  --select-toggle-border-checked: var(--size-unit) solid
    var(--figma-color-bg-selected-strong);
  --select-toggle-border-secondary: none;
  --select-toggle-border-secondary-focus: 2px solid
    var(--figma-color-border-selected-strong);
  --select-toggle-knob-transform-checked: translateX(12px) translateY(-50%);
  --select-toggle-knob-background-checked: var(--figma-color-icon-onbrand);

  --select-toggle-background-disabled: var(--figma-color-bg-disabled);
  --select-toggle-border-disabled: var(--size-unit) solid var(--figma-color-bg-disabled);
  --select-toggle-background-checked-disabled: var(
    --figma-color-bg-brand-secondary
  );
  --select-toggle-border-checked-disabled: var(--size-unit) solid
    var(--figma-color-bg-brand-secondary);
  --select-toggle-knob-background-disabled: var(--figma-color-icon-ondisabled);
  --select-toggle-knob-background-checked-disabled: var(
    --figma-color-icon-onbrand-secondary
  );

  /* Radio */
  --select-radio-height: var(--size-medium);
  --select-radio-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --select-radio-margin: -16px;

  --select-button-height: 10px;
  --select-button-width: 10px;
  --select-button-inner-height: 6px;
  --select-button-inner-width: 6px;
  --select-button-radius: var(--border-radius-full);
  --select-button-margin: 0 10px 0 -8px;
  --select-button-outline: none;
  --select-button-inner-left: 13px;
  --select-button-icon: var(--figma-color-icon);

  --select-button-background: var(--figma-color-bg);
  --select-button-background-checked: var(--figma-color-bg);
  --select-button-border: var(--size-unit) solid var(--figma-color-icon);
  --select-button-border-checked: var(--size-unit) solid var(--figma-color-icon);
  --select-button-border-secondary: none;
  --select-button-border-secondary-focus: 2px solid
    var(--figma-color-border-selected-strong);

  --select-button-background-disabled: var(--figma-color-bg);
  --select-button-border-disabled: var(--size-unit) solid var(--figma-color-icon-disabled);
  --select-button-background-checked-disabled: var(--figma-color-bg);
  --select-button-border-checked-disabled: var(--size-unit) solid
    var(--figma-color-bg-disabled);
  --select-button-icon-disabled: var(--figma-color-icon-disabled);
}
