:root[data-theme='penpot'] {
  /* Base */
  --select-text-font-family: var(--font-stack);
  --select-text-font_size: var(--font-size-small);
  --select-text-font_weight: var(--font-weight-normal);
  --select-text-line_height: var(--font-line_height);
  --select-text-letter_spacing: var(--font-letter_spacing-pos-medium);
  --select-text-color: var(--penpot-color-foreground-primary);

  --select-text-color-disabled: var(--penpot-color-foreground-disabled);

  --select-status-gap: var(--size-pos-xxsmall);
  --select-status-margin: 0 0 0 var(--size-pos-xxsmall);
  --select-status-height: var(--size-pos-medium);

  /* Checkbox */
  --select-checkbox-height: var(--size-pos-medium);
  --select-checkbox-padding: 0 0 0 var(--size-pos-xxsmall);
  --select-checkbox-margin: var(--size-neg-xsmall);

  --select-box-height: var(--size-pos-xsmall);
  --select-box-width: var(--size-pos-xsmall);
  --select-box-radius: var(--border-radius-medium);
  --select-box-margin: var(--size-neg-unit) var(--size-pos-xxsmall) 0
    var(--size-neg-xxsmall);
  --select-box-border: var(--size-pos-unit) solid
    var(--penpot-color-foreground-secondary);
  --select-box-background-color: var(--penpot-color-background-tertiary);
  --select-box-border-color-secondary: transparent;
  --select-box-border-width-secondary: 0;
  --select-box-border-offset-secondary: 0;

  --select-box-tick-icon: var(--icon-check);
  --select-box-tick-position: -3px -3px;
  --select-box-tick-width: var(--size-pos-small);
  --select-box-tick-height: var(--size-pos-small);
  --select-box-tick-margin: 0 0 0 var(--size-neg-xxsmall);
  --select-box-tick-color: var(--penpot-color-background-primary);

  --select-box-background-color-checked: var(--penpot-color-accent-primary);
  --select-box-border-checked: var(--size-pos-unit) solid
    var(--penpot-color-accent-primary);

  --select-box-border-color-secondary-focus: var(--penpot-color-accent-primary);
  --select-box-border-width-secondary-focus: var(--size-pos-unit);
  --select-box-border-offset-secondary-focus: var(--size-pos-unit);
  --select-box-border-color-secondary-checked-focus: var(
    --penpot-color-accent-primary
  );
  --select-box-border-width-secondary-checked-focus: var(--size-pos-unit);
  --select-box-border-offset-secondary-checked-focus: var(--size-pos-unit);

  --select-box-background-color-disabled: var(
    --penpot-color-background-primary
  );
  --select-box-border-disabled: var(--size-pos-unit) solid
    var(--penpot-color-background-quaternary);
  --select-box-background-color-checked-disabled: var(
    --penpot-color-accent-primary-muted
  );
  --select-box-border-checked-disabled: var(--size-pos-unit) solid
    var(--penpot-color-accent-primary-muted);
  --select-box-tick-color-disabled: var(--penpot-color-background-tertiary);

  /* Switch */
  --select-switch-height: var(--size-pos-medium);
  --select-switch-padding: 0 0 0 var(--size-pos-xxsmall);
  --select-switch-margin: var(--size-neg-xsmall);

  --select-toggle-height: 16px;
  --select-toggle-width: 24px;
  --select-toggle-radius: var(--size-pos-xsmall);
  --select-toggle-margin: var(--size-neg-unit) var(--size-pos-xxsmall) 0
    var(--size-neg-xxsmall);
  --select-toggle-background-color: var(--penpot-color-background-tertiary);
  --select-toggle-border: var(--size-pos-unit) solid
    var(--penpot-color-foreground-secondary);
  --select-toggle-border-color-secondary: transparent;
  --select-toggle-border-width-secondary: 0;
  --select-toggle-border-offset-secondary: 0;
  --select-toggle-transition: background-color 0.2s ease-in-out;

  --select-toggle-knob-height: var(--size-pos-xmsmall);
  --select-toggle-knob-width: var(--size-pos-xmsmall);
  --select-toggle-knob-radius: var(--border-radius-full);
  --select-toggle-knob-left: 11px;
  --select-toggle-knob-background-color: var(--penpot-color-foreground-primary);
  --select-toggle-knob-transform: translateX(0)
    translateY(var(--size-pos-xunit));
  --select-toggle-knob-transition: transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  --select-toggle-background-color-checked: var(--penpot-color-accent-primary);
  --select-toggle-border-checked: var(--size-pos-unit) solid
    var(--penpot-color-accent-primary);
  --select-toggle-knob-transform-checked: translateX(var(--size-pos-xxsmall))
    translateY(var(--size-pos-xunit));
  --select-toggle-knob-background-color-checked: var(
    --penpot-color-background-primary
  );

  --select-toggle-border-color-secondary-focus: var(
    --penpot-color-accent-primary
  );
  --select-toggle-border-width-secondary-focus: var(--size-pos-unit);
  --select-toggle-border-offset-secondary-focus: var(--size-pos-unit);
  --select-toggle-border-color-secondary-checked-focus: var(
    --penpot-color-accent-primary
  );
  --select-toggle-border-width-secondary-checked-focus: var(--size-pos-unit);
  --select-toggle-border-offset-secondary-checked-focus: var(--size-pos-unit);

  --select-toggle-background-color-disabled: var(
    --penpot-color-background-primary
  );
  --select-toggle-border-disabled: var(--size-pos-unit) solid
    var(--penpot-color-background-quaternary);
  --select-toggle-background-color-checked-disabled: var(
    --penpot-color-accent-primary-muted
  );
  --select-toggle-border-checked-disabled: var(--size-pos-unit) solid
    var(--penpot-color-accent-primary-muted);
  --select-toggle-knob-background-color-disabled: var(
    --penpot-color-foreground-disabled
  );
  --select-toggle-knob-background-color-checked-disabled: var(
    --penpot-color-foreground-disabled
  );

  /* Radio */
  --select-radio-height: var(--size-pos-medium);
  --select-radio-padding: 0 0 0 var(--size-pos-xxsmall);
  --select-radio-margin: var(--size-neg-xsmall);

  --select-button-height: var(--size-pos-xsmall);
  --select-button-width: var(--size-pos-xsmall);
  --select-button-inner-height: var(--size-pos-xxsmall);
  --select-button-inner-width: var(--size-pos-xxsmall);
  --select-button-radius: var(--border-radius-full);
  --select-button-margin: var(--size-neg-unit) var(--size-pos-xxsmall) 0
    var(--size-neg-xxsmall);
  --select-button-inner-top: var(--size-pos-xxxsmall);
  --select-button-inner-left: 5px;
  --select-button-icon-color: var(--penpot-color-background-primary);
  --select-button-background-color: var(--penpot-color-background-tertiary);
  --select-button-border: var(--size-pos-unit) solid
    var(--penpot-color-foreground-secondary);
  --select-button-border-color-secondary: transparent;
  --select-button-border-width-secondary: 0;
  --select-button-border-offset-secondary: 0;

  --select-button-background-color-checked: var(--penpot-color-accent-primary);
  --select-button-border-checked: var(--size-pos-unit) solid
    var(--penpot-color-accent-primary);

  --select-button-border-color-secondary-focus: var(
    --penpot-color-accent-primary
  );
  --select-button-border-width-secondary-focus: var(--size-pos-unit);
  --select-button-border-offset-secondary-focus: var(--size-pos-unit);
  --select-button-border-color-secondary-checked-focus: var(
    --penpot-color-accent-primary
  );
  --select-button-border-width-secondary-checked-focus: var(--size-pos-unit);
  --select-button-border-offset-secondary-checked-focus: var(--size-pos-unit);

  --select-button-background-color-disabled: var(
    --penpot-color-background-primary
  );
  --select-button-border-disabled: var(--size-pos-unit) solid
    var(--penpot-color-background-quaternary);
  --select-button-background-color-checked-disabled: var(
    --penpot-color-accent-primary-muted
  );
  --select-button-border-checked-disabled: var(--size-pos-unit) solid
    var(--penpot-color-accent-primary-muted);
  --select-button-icon-color-disabled: var(--penpot-color-background-tertiary);
}
