.checkbox.recharged,
.radio.recharged,
.switch.recharged {
  cursor: default;
  user-select: none;

  .checkbox__label,
  .switch__label,
  .radio__label {
    color: var(--figma-color-text);
  }
}

/* Checkbox */
.checkbox.recharged {
  .checkbox__label:before {
    --black8: var(--figma-color-border-strong);
    margin: 0 10px 0 -8px;
  }

  .checkbox__box {
    &:checked + .checkbox__label:before {
      --blue: var(--figma-color-bg-brand);
    }

    &:focus + .checkbox__label:before {
      outline: 2px solid var(--figma-color-icon-brand-secondary);
    }

    &:disabled + .checkbox__label {
      --black: var(--figma-color-text-disabled);
      opacity: 1;
    }

    &:disabled:checked + .checkbox__label:before {
      --blue: var(--figma-color-icon-brand-secondary);
    }

    &:disabled:checked + .checkbox__label:before {
      --black8: var(--figma-color-icon-brand-secondary);
    }

    &:disabled + .checkbox__label {
      color: var(--figma-color-text-disabled);
    }

    &:disabled + .checkbox__label:before {
      --black8: var(--figma-color-border-disabled);
    }
  }
}

/* Switch */
.switch.recharged {
  .switch__label {
    &:before {
      --white: var(--figma-color-bg-disabled-secondary);
    }

    &:before,
    &:after {
      --black8-opaque: var(--figma-color-bg-disabled-secondary);
    }
  }

  .switch__toggle {
    &:checked + .switch__label:before {
      --white: var(--figma-color-bg-brand);
    }

    &:focus + .switch__label:before {
      outline: 2px solid var(--figma-color-icon-brand-secondary);
    }

    &:checked + .switch__label:before,
    &:checked + .switch__label:after {
      --black8-opaque: var(--figma-color-bg-brand);
    }

    &:disabled + .switch__label {
      color: var(--figma-color-text-disabled);
      opacity: 1;
    }

    &:disabled + .switch__label:before {
      --white: var(--figma-color-bg-disabled);
    }

    &:disabled:checked + .switch__label:before {
      --white: var(--figma-color-icon-brand-secondary);
      --black: var(--figma-color-icon-brand-secondary);
    }

    &:disabled + .switch__label:after {
      --white: var(--figma-color-bg-disabled-secondary);
    }

    &:disabled:checked + .switch__label:after {
      --white: var(--figma-color-icon-onbrand-secondary);
    }

    &:disabled + .switch__label:before,
    &:disabled + .switch__label:after {
      --black8-opaque: var(--figma-color-bg-disabled);
    }

    &:disabled:checked + .switch__label:before,
    &:disabled:checked + .switch__label:after {
      --black8-opaque: var(--figma-color-icon-brand-secondary);
    }
  }
}

/* Radio */
.radio.recharged {
  .radio__label {
    padding: 0 var(--size-xxxsmall) 0 var(--size-small);

    &:before {
      --black8: var(--figma-color-border-strong);
      margin: 0 10px 0 -8px;
    }
  }

  .radio__button {
    &:checked + .radio__label:before {
      background-image: none;
    }

    &:checked + .radio__label:after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: var(--figma-color-icon);
      position: absolute;
      left: 13px;
      border-radius: 50%;
      top: 13px;
    }

    &:focus + .radio__label:before {
      outline: 2px solid var(--figma-color-icon-brand-secondary);
    }

    &:disabled + .radio__label {
      opacity: 1;
    }

    &:disabled + .radio__label {
      color: var(--figma-color-text-disabled);
    }

    &:checked:disabled + .radio__label:before {
      --black: var(--figma-color-icon-disabled);
    }

    &:disabled + .radio__label:before {
      --black8: var(--figma-color-border-disabled);
    }

    &:disabled:checked + .radio__label:after {
      background-color: var(--figma-color-icon-disabled);
    }
  }
}
