@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.checkbox,
.radio,
.switch {
  display: flex;
  position: relative;
  align-items: center;
  cursor: default;
  min-width: fit-content;
  user-select: none;

  &__label {
    color: var(--select-text-color);
  }

  &__status {
    display: flex;
    align-items: center;
    align-self: start;
    gap: var(--select-status-gap);
    margin: var(--select-status-margin);
    height: var(--select-status-height);
  }
}

/* Checkbox */
.checkbox {
  min-height: var(--select-checkbox-height);

  &__label {
    display: flex;
    align-items: start;
    margin-left: var(--select-checkbox-margin);
    padding: var(--select-checkbox-padding);
    height: 100%;
    color: var(--select-text-color);
    font-weight: var(--select-text-font_weight);
    font-size: var(--select-text-font_size);
    line-height: var(--select-text-line_height);
    font-family: var(--select-text-font-family);
    letter-spacing: var(--select-text-letter_spacing);
    user-select: none;

    &:before {
      display: block;
      flex: none;
      margin: var(--select-box-margin);
      outline: var(--select-box-border-width-secondary) solid
        var(--select-box-border-color-secondary);
      outline-offset: var(--select-box-border-offset-secondary);
      border: var(--select-box-border);
      border-radius: var(--select-box-radius);
      background: var(--select-box-background-color);
      width: var(--select-box-width);
      height: var(--select-box-height);
      content: '';
    }

    &:after {
      display: block;
      position: absolute;
      visibility: hidden;
      mask-image: var(--select-box-tick-icon);
      -webkit-mask-image: var(--select-box-tick-icon);
      mask-position: var(--select-box-tick-position);
      -webkit-mask-position: var(--select-box-tick-position);
      mask-size: cover;
      -webkit-mask-size: cover;
      margin: var(--select-box-tick-margin);
      background-color: var(--select-box-tick-color);
      width: var(--select-box-tick-width);
      height: var(--select-box-tick-height);
      pointer-events: none;
      content: '';
    }
  }

  &__box {
    opacity: 0;
    margin: 0;
    outline: none;
    padding: 0;
    width: var(--select-box-width);
    height: var(--select-box-height);

    &:checked + .checkbox__label:before {
      --select-box-background-color: var(--select-box-background-color-checked);
      --select-box-border: var(--select-box-border-checked);
    }

    &:checked + .checkbox__label:after {
      visibility: visible;
    }

    &:focus + .checkbox__label:before {
      --select-box-border-width-secondary: var(
        --select-box-border-width-secondary-focus
      );
      --select-box-border-offset-secondary: var(
        --select-box-border-offset-secondary-focus
      );
      --select-box-border-color-secondary: var(
        --select-box-border-color-secondary-focus
      );
    }

    &:focus:checked + .checkbox__label:before {
      --select-box-border-width-secondary: var(
        --select-box-border-width-secondary-checked-focus
      );
      --select-box-border-offset-secondary: var(
        --select-box-border-offset-secondary-checked-focus
      );
      --select-box-border-color-secondary: var(
        --select-box-border-color-secondary-checked-focus
      );
    }

    &:disabled + .checkbox__label {
      --select-text-color: var(--select-text-color-disabled);
    }

    &:disabled:checked + .checkbox__label:before {
      --select-box-background-color: var(
        --select-box-background-color-checked-disabled
      );
      --select-box-border: var(--select-box-border-checked-disabled);
    }

    &:disabled:checked + .checkbox__label:after {
      --select-box-tick-color: var(--select-box-tick-color-disabled);
    }

    &:disabled + .checkbox__label:before {
      --select-box-background-color: var(
        --select-box-background-color-disabled
      );
      --select-box-border: var(--select-box-border-disabled);
    }
  }
}

.switch {
  min-height: var(--select-radio-height);

  &__label {
    display: flex;
    align-items: start;
    margin-left: var(--select-radio-margin);
    padding: var(--select-radio-padding);
    height: 100%;
    color: var(--select-text-color);
    font-weight: var(--select-text-font_weight);
    font-size: var(--select-text-font_size);
    line-height: var(--select-text-line_height);
    font-family: var(--select-text-font-family);
    letter-spacing: var(--select-text-letter_spacing);
    user-select: none;

    &:before {
      display: block;
      flex: none;
      transition: var(--select-toggle-transition);
      margin: var(--select-toggle-margin);
      outline: var(--select-toggle-border-width-secondary) solid
        var(--select-toggle-border-color-secondary);
      outline-offset: var(--select-toggle-border-offset-secondary);
      border: var(--select-toggle-border);
      border-radius: var(--select-toggle-radius);
      background-color: var(--select-toggle-background-color);
      width: var(--select-toggle-width);
      height: var(--select-toggle-height);
      content: '';
    }

    &:after {
      display: block;
      position: absolute;
      left: var(--select-toggle-knob-left);
      flex: none;
      transform: var(--select-toggle-knob-transform);
      transition: var(--select-toggle-knob-transition);
      border-radius: var(--select-toggle-knob-radius);
      background-color: var(--select-toggle-knob-background-color);
      width: var(--select-toggle-knob-width);
      height: var(--select-toggle-knob-height);
      content: '';
    }
  }

  &__toggle {
    flex: none;
    opacity: 0;
    margin: 0;
    outline: none;
    padding: 0;
    width: var(--select-toggle-width);
    height: var(--select-toggle-height);

    &:checked + .switch__label:before {
      --select-toggle-background-color: var(
        --select-toggle-background-color-checked
      );
      --select-toggle-border: var(--select-toggle-border-checked);
    }

    &:checked + .switch__label:after {
      --select-toggle-knob-transform: var(
        --select-toggle-knob-transform-checked
      );
      --select-toggle-knob-background-color: var(
        --select-toggle-knob-background-color-checked
      );
    }

    &:focus + .switch__label:before {
      --select-toggle-border-width-secondary: var(
        --select-toggle-border-width-secondary-focus
      );
      --select-toggle-border-offset-secondary: var(
        --select-toggle-border-offset-secondary-focus
      );
      --select-toggle-border-color-secondary: var(
        --select-toggle-border-color-secondary-focus
      );
    }

    &:focus:checked + .switch__label:before {
      --select-toggle-border-width-secondary: var(
        --select-toggle-border-width-secondary-checked-focus
      );
      --select-toggle-border-offset-secondary: var(
        --select-toggle-border-offset-secondary-checked-focus
      );
      --select-toggle-border-color-secondary: var(
        --select-toggle-border-color-secondary-checked-focus
      );
    }

    &:disabled + .switch__label {
      --select-text-color: var(--select-text-color-disabled);
    }

    &:disabled + .switch__label:before {
      --select-toggle-background-color: var(
        --select-toggle-background-color-disabled
      );
      --select-toggle-border: var(--select-toggle-border-disabled);
    }

    &:disabled + .switch__label:after {
      --select-toggle-knob-background-color: var(
        --select-toggle-knob-background-color-disabled
      );
    }

    &:disabled:checked + .switch__label:before {
      --select-toggle-background-color: var(
        --select-toggle-background-color-checked-disabled
      );
      --select-toggle-border: var(--select-toggle-border-checked-disabled);
    }

    &:disabled:checked + .switch__label:after {
      --select-toggle-knob-background-color: var(
        --select-toggle-knob-background-color-checked-disabled
      );
    }
  }
}

/* Radio */
.radio {
  min-height: var(--select-radio-height);

  &__label {
    display: flex;
    position: relative;
    align-items: start;
    margin-left: var(--select-radio-margin);
    padding: var(--select-radio-padding);
    height: 100%;
    color: var(--select-text-color);
    font-weight: var(--select-text-font_weight);
    font-size: var(--select-text-font_size);
    line-height: var(--select-text-line_height);
    font-family: var(--select-text-font-family);
    letter-spacing: var(--select-text-letter_spacing);
    user-select: none;

    &:before {
      display: block;
      flex: none;
      margin: var(--select-button-margin);
      outline: var(--select-button-border-width-secondary) solid
        var(--select-button-border-color-secondary);
      outline-offset: var(--select-button-border-offset-secondary);
      border: var(--select-button-border);
      border-radius: var(--select-button-radius);
      background: var(--select-button-background-color);
      width: var(--select-button-width);
      height: var(--select-button-height);
      content: '';
    }

    &:after {
      display: block;
      position: absolute;
      top: var(--select-button-inner-top);
      left: var(--select-button-inner-left);
      visibility: hidden;
      border-radius: var(--select-button-radius);
      background-color: var(--select-button-icon-color);
      width: var(--select-button-inner-width);
      height: var(--select-button-inner-height);
      content: '';
    }
  }

  &__button {
    opacity: 0;
    margin: 0;
    outline: none;
    padding: 0;
    width: var(--select-button-width);
    height: var(--select-button-height);

    &:checked + .radio__label:before {
      --select-button-background-color: var(
        --select-button-background-color-checked
      );
      --select-button-border: var(--select-button-border-checked);
    }

    &:checked + .radio__label:after {
      visibility: visible;
    }

    &:focus + .radio__label:before {
      --select-button-border-width-secondary: var(
        --select-button-border-width-secondary-focus
      );
      --select-button-border-offset-secondary: var(
        --select-button-border-offset-secondary-focus
      );
      --select-button-border-color-secondary: var(
        --select-button-border-color-secondary-focus
      );
    }

    &:focus:checked + .radio__label:before {
      --select-button-border-width-secondary: var(
        --select-button-border-width-secondary-checked-focus
      );
      --select-button-border-offset-secondary: var(
        --select-button-border-offset-secondary-checked-focus
      );
      --select-button-border-color-secondary: var(
        --select-button-border-color-secondary-checked-focus
      );
    }

    &:disabled + .radio__label {
      --select-text-color: var(--select-text-color-disabled);
    }

    &:disabled:checked + .radio__label:before {
      --select-button-background-color: var(
        --select-button-background-color-checked-disabled
      );
      --select-button-border: var(--select-button-border-checked-disabled);
    }

    &:disabled:checked + .radio__label:after {
      --select-button-icon-color: var(--select-button-icon-color-disabled);
    }

    &:disabled + .radio__label:before {
      --select-button-background-color: var(
        --select-button-background-color-disabled
      );
      --select-button-border: var(--select-button-border-disabled);
    }
  }
}
