:root[data-theme='figma-ui2'] {
  --section-gap: var(--size-pos-xxxsmall);
  --section-padding: var(--size-pos-xxsmall) 0;
  --section-background-color: var(--figma-color-bg);
  --section-border: var(--size-pos-unit) solid var(--figma-color-border);

  --section-child-padding: 0 var(--size-pos-xsmall);
  --section-child-padding-large: 0 var(--size-pos-small);
  --section-child-padding-tight: 0 var(--size-pos-xxsmall);
  --section-child-padding-none: 0;
}
