:root[data-theme='penpot'] {
  --section-gap: 0;
  --section-padding: var(--size-xxsmall) 0;
  --section-background-color: var(--penpot-color-background-primary);
  --section-border: var(--size-unit) solid
    var(--penpot-color-background-quaternary);

  --section-child-padding: 0 var(--size-xsmall);
  --section-child-padding-large: 0 var(--size-small);
  --section-child-padding-tight: 0 var(--size-xxsmall);
  --section-child-padding-none: 0;
}
