@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  background-color: var(--section-background-color);
  padding: var(--section-padding);

  &__child {
    padding: var(--section-child-padding);

    &--large {
      padding: var(--section-child-padding-large);
    }

    &--tight {
      padding: var(--section-child-padding-tight);
    }

    &--none {
      padding: var(--section-child-padding-none);
    }
  }
}
