:root[data-theme='sketch'] {
  --section-gap: 0;
  --section-padding: var(--size-pos-xxsmall) 0;
  --section-background-color: var(--sketch-color-background-primary);
  --section-border: var(--size-pos-unit) solid var(--sketch-color-border-primary);

  --section-child-padding: 0 var(--size-pos-xsmall);
  --section-child-padding-large: 0 var(--size-pos-small);
  --section-child-padding-tight: 0 var(--size-pos-xxsmall);
  --section-child-padding-none: 0;
}
