:root[data-theme='figma-ui2'] {
  --text-font-family: var(--font-stack);
  --text-color-primary: var(--figma-color-text);
  --text-color-secondary: var(--figma-color-text-secondary);
  --text-color-tertiary: var(--figma-color-text-tertiary);
  --text-color-inverse: var(--figma-color-text-oninverse);
  --text-font_weight-medium: var(--font-weight-medium);
  --text-font_weight-bold: var(--font-weight-bold);

  --text-default-font_size: var(--font-size-xsmall);
  --text-default-font_weight: var(--font-weight-normal);
  --text-default-line_height: var(--font-line_height);
  --text-default-letter_spacing: var(--font-letter_spacing-pos-large);

  --text-small-font_size: var(--font-size-small);
  --text-small-letter_spacing: 0;

  --text-large-font_size: var(--font-size-medlum);
  --text-large-line_height: var(--font-line_height-large);
  --text-large-letter_spacing: var(--font-letter_spacing-pos-medium);

  --text-xlarge-font_size: var(--font-size-large);
  --text-xlarge-line_height: var(--font-line_height-large);
  --text-xlarge-letter_spacing: var(--font-letter_spacing-pos-small);

  --text-link-color: var(--figma-color-text-brand);
  --text-link-decoration: none;
  --text-link-border-focus: none;
  --text-link-decoration-focus: underline;

  --text-label-color: var(--figma-color-text-tertiary);
  --text-label-font_size: var(--font-size-xsmall);
  --text-label-font_weight: var(--font-weight-normal);
  --text-label-letter_spacing: var(--font-letter_spacing-pos-large);
  --text-label-line_height: var(--font-line_height);
  --text-label-height: var(--size-pos-medium);
  --text-label-padding: 0 var(--size-pos-xxxsmall) 0 var(--size-pos-xxsmall);
  --text-label-gap: var(--size-pos-xxxsmall);
}
