:root[data-theme='penpot'] {
  --text-font-family: var(--font-stack);
  --text-color-primary: var(--penpot-color-foreground-primary);
  --text-color-secondary: var(--penpot-color-foreground-secondary);
  --text-color-tertiary: var(--penpot-color-foreground-disabled);
  --text-color-inverse: var(--penpot-color-background-primary);
  --text-font_weight-medium: var(--font-weight-medium);
  --text-font_weight-bold: var(--font-weight-bold);

  --text-default-font_size: var(--font-size-small);
  --text-default-font_weight: var(--font-weight-normal);
  --text-default-line_height: var(--font-line_height);
  --text-default-letter_spacing: var(--font-letter_spacing-pos-small);

  --text-small-font_size: var(--font-size-small);
  --text-small-letter_spacing: 0;

  --text-large-font_size: var(--font-size-medlum);
  --text-large-line_height: var(--font-line_height-large);
  --text-large-letter_spacing: var(--font-letter_spacing-medium);

  --text-xlarge-font_size: var(--font-size-large);
  --text-xlarge-line_height: var(--font-line_height-large);
  --text-xlarge-letter_spacing: var(--font-letter_spacing-pos-small);

  --text-link-color: var(--penpot-color-accent-primary);
  --text-link-decoration: none;
  --text-link-border-focus: none;
  --text-link-decoration-focus: underline;

  --text-label-color: var(--penpot-color-foreground-secondary);
  --text-label-font_size: var(--font-size-xsmall);
  --text-label-font_weight: var(--font-weight-normal);
  --text-label-letter_spacing: var(--font-letter_spacing-pos-small);
  --text-label-line_height: var(--font-line_height);
  --text-label-height: var(--size-pos-medium);
  --text-label-padding: 0 var(--size-pos-xxxsmall) 0 var(--size-pos-xxsmall);
  --text-label-gap: var(--size-pos-xxxsmall);
}
