:root[data-theme='penpot'] {
  --text-font-family: var(--font-stack);
  --text-color-primary: var(--penpot-color-foreground-primary);
  --text-color-secondary: var(--penpot-color-foreground-secondary);
  --text-color-tertiary: var(--penpot-color-foreground-disabled);
  --text-color-inverse: var(--penpot-color-background-primary);
  --text-font-weight-medium: var(--font-weight-medium);
  --text-font-weight-bold: var(--font-weight-bold);

  --text-default-font-size: var(--font-size-small);
  --text-default-font-weight: var(--font-weight-normal);
  --text-default-line-height: var(--font-line-height);
  --text-default-letter-spacing: var(--font-letter-spacing-pos-xsmall);

  --text-small-font-size: var(--font-size-small);
  --text-small-letter-spacing: var(--font-letter-spacing-pos-small);

  --text-large-font-size: var(--font-size-large);
  --text-large-line-height: var(--font-line-height-large);
  --text-large-letter-spacing: var(--font-letter-spacing-pos-large);

  --text-xlarge-font-size: var(--font-size-xlarge);
  --text-xlarge-line-height: var(--font-line-height-large);
  --text-xlarge-letter-spacing: var(--font-letter-spacing-pos-xlarge);

  --text-link-color: var(--penpot-color-accent-primary);
  --text-link-decoration: none;
  --text-link-border-focus: none;
  --text-link-decoration-focus: underline;

  --text-label-color: var(--penpot-color-foreground-secondary);
  --text-label-font-size: var(--font-size-xsmall);
  --text-label-font-weight: var(--font-weight-normal);
  --text-label-letter-spacing: var(--font-letter-spacing-pos-xsmall);
  --text-label-line-height: var(--font-line-height);
  --text-label-height: var(--size-medium);
  --text-label-padding: 0 var(--size-xxxsmall) 0 var(--size-xxsmall);
  --text-label-gap: var(--size-xxxsmall);
}
