@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.type {
  color: var(--text-color-primary);
  font-weight: var(--text-default-font_weight);
  font-size: var(--text-default-font_size);
  line-height: var(--text-default-line_height);
  font-family: var(--text-font-family);
  letter-spacing: var(--text-default-letter_spacing);

  &--small {
    font-size: var(--text-small-font_size);
    letter-spacing: var(--text-small-letter_spacing);
  }

  &--large {
    font-size: var(--text-large-font_size);
    line-height: var(--text-large-line_height);
    letter-spacing: var(--text-large-letter_spacing);
  }

  &--xlarge {
    font-size: var(--text-xlarge-font_size);
    line-height: var(--text-xlarge-line_height);
    letter-spacing: var(--text-xlarge-letter_spacing);
  }

  &--medium {
    font-weight: var(--text-font_weight-medium);
  }

  &--bold {
    font-weight: var(--text-font_weight-bold);
  }

  &--truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--secondary {
    color: var(--text-color-secondary);
  }

  &--tertiary {
    color: var(--text-color-secondary);
  }

  &--inverse {
    color: var(--text-color-inverse);
  }

  a {
    color: var(--text-link-color);
    text-decoration: var(--text-link-decoration);
  }

  a:focus-visible {
    outline: var(--text-link-border-focus);
    text-decoration: var(--text-link-decoration-focus);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--text-label-gap);
  cursor: default;
  padding: var(--text-label-padding);
  height: var(--text-label-height);
  color: var(--text-label-color);
  font-weight: var(--text-label-font_weight);
  font-size: var(--text-label-font_size);
  line-height: var(--text-label-line_height);
  font-family: var(--text-font-family);
  letter-spacing: var(--text-label-letter_spacing);
  user-select: none;
}
