@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.type {
  color: var(--text-color-primary);
  font-family: var(--text-font-family);

  & {
    font-weight: var(--text-default-font-weight);
    font-size: var(--text-default-font-size);
    line-height: var(--text-default-line-height);
    letter-spacing: var(--text-default-letter-spacing);
  }

  &--small {
    font-weight: var(--text-small-font-weight);
    font-size: var(--text-small-font-size);
    line-height: var(--text-small-line-height);
    letter-spacing: var(--text-small-letter-spacing);
  }

  &--large {
    font-weight: var(--text-large-font-weight);
    font-size: var(--text-large-font-size);
    line-height: var(--text-large-line-height);
    letter-spacing: var(--text-large-letter-spacing);
  }

  &--xlarge {
    font-weight: var(--text-xlarge-font-weight);
    font-size: var(--text-xlarge-font-size);
    line-height: var(--text-xlarge-line-height);
    letter-spacing: var(--text-xlarge-letter-spacing);
  }

  &--medium {
    font-weight: var(--text-font-weight-medium);
  }

  &--bold {
    font-weight: var(--text-font-weight-bold);
  }

  &--truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--secondary {
    color: var(--text-color-secondary);
  }

  &--tertiary {
    color: var(--text-color-tertiary);
  }

  &--success {
    color: var(--text-color-success);
  }

  &--warning {
    color: var(--text-color-warning);
  }

  &--alert {
    color: var(--text-color-alert);
  }

  &--inverse {
    color: var(--text-color-inverse);
  }

  a {
    color: var(--text-link-color);
    text-decoration: var(--text-link-decoration);
  }

  a:focus-visible {
    outline: var(--text-link-border-focus);
    text-decoration: var(--text-link-decoration-focus);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--text-label-gap);
  cursor: default;
  padding: var(--text-label-padding-top) var(--text-label-padding-right)
    var(--text-label-padding-bottom) var(--text-label-padding-left);
  height: var(--text-label-height);
  color: var(--text-label-color);
  font-weight: var(--text-label-font-weight);
  font-size: var(--text-label-font-size);
  line-height: var(--text-label-line-height);
  font-family: var(--text-font-family);
  letter-spacing: var(--text-label-letter-spacing);
  user-select: none;
}
