:root[data-theme='penpot'] {
  --section_title-height: var(--size-pos-medium);
  --section_title-gap: var(--size-pos-xxxsmall);
  --section_title-padding: 0 var(--size-pos-xxxsmall) 0 var(--size-pos-xxsmall);
  --section_title-text-font-family: var(--font-stack);
  --section_title-text-font_size: var(--font-size-small);
  --section_title-text-font_weight: var(--font-weight-medium);
  --section_title-text-letter_spacing: var(--font-letter_spacing-pos-small);
  --section_title-text-line_height: var(--font-line_height);
  --section_title-text-color: var(--penpot-color-foreground-primary);
  --section_title-text-transform: uppercase;

  --section_title-info-icon-width: var(--size-pos-medium);
  --section_title-info-icon-height: var(--size-pos-medium);
}
