@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.section-title {
  display: flex;
  align-items: center;
  gap: var(--section_title-gap);
  cursor: default;
  box-sizing: border-box;
  padding: var(--section_title-padding);
  width: 100%;
  height: var(--section_title-height);
  color: var(--section_title-text-color);
  font-weight: var(--section_title-text-font_weight);
  font-size: var(--section_title-text-font_size);
  line-height: var(--section_title-text-line_height);
  font-family: var(--section_title-text-font-family);
  letter-spacing: var(--section_title-text-letter_spacing);
  user-select: none;

  &__title {
    text-transform: var(--section_title-text-transform);
  }

  .section-title__tooltip {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: var(--section_title-info-icon-width);
    height: var(--section_title-info-icon-height);
  }
}
