:root[data-theme='sketch'] {
  --section-title-height: var(--size-pos-medium);
  --section-title-gap: var(--size-pos-xxxsmall);
  --section-title-padding: 0 var(--size-pos-xxxsmall) 0 var(--size-pos-xxsmall);
  --section-title-text-font-family: var(--font-stack);
  --section-title-text-font-size: var(--font-size-small);
  --section-title-text-font-weight: var(--font-weight-medium);
  --section-title-text-letter-spacing: var(--font-letter-spacing-pos-xsmall);
  --section-title-text-line-height: var(--font-line-height);
  --section-title-text-color: var(--sketch-color-foreground-primary);
  --section-title-text-transform: none;

  --section-title-info-icon-width: var(--size-pos-medium);
  --section-title-info-icon-height: var(--size-pos-medium);
}
