$id: "chip";

:root {
  --#{$id}-gap: var(--size-xxxsmall);
  --#{$id}-padding: 0 var(--size-xxxsmall);
  --#{$id}-height: var(--size-xsmall);
  --#{$id}-margin: 0 0 0 var(--size-xxsmall);
  --#{$id}-radius: var(--border-radius-small);
  --#{$id}-text-color: var(--figma-color-text-brand);
  --#{$id}-text-weight: var(--font-weight-medium);
  --#{$id}-background-color: var(--figma-color-bg-selected-secondary);

  --#{$id}-background-color-inactive: var(--figma-color-bg-tertiary);
  --#{$id}-text-color-inactive: var(--figma-color-text);

  --#{$id}-background-color-on-background: rgba(255, 255, 255, 0.4);
  --#{$id}-text-color-on-background: var(--grey-1000);
  --#{$id}-text-weight-on-background: var(--font-weight-normal);
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--#{$id}-gap);
  cursor: default;
  margin: var(--#{$id}-margin);
  border-radius: var(--#{$id}-radius);
  background-color: var(--#{$id}-background-color);
  padding: var(--#{$id}-padding);
  max-width: 100%;
  height: var(--#{$id}-height);
  overflow: hidden;
  user-select: none;

  .chip__text {
    color: var(--#{$id}-text-color);
    font-weight: var(--#{$id}-text-weight);
    text-wrap: nowrap;
  }

  &.chip--inactive {
    --#{$id}-background-color: var(--#{$id}-background-color-inactive);
    --#{$id}-text-color: var(--#{$id}-text-color-inactive);
  }

  &.chip--on-background {
    margin: 0;
    --#{$id}-background-color: var(--#{$id}-background-color-on-background);
    --#{$id}-text-color: var(--#{$id}-text-color-on-background);
    --#{$id}-text-weight: var(--#{$id}-text-weight-on-background);
  }
}
