@import 'figma-ui2.scss';
@import 'figma-ui3.scss';

.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--chip-gap);
  cursor: default;
  margin: var(--chip-margin);
  border-radius: var(--chip-radius);
  background-color: var(--chip-background-color);
  padding: var(--chip-padding);
  max-width: 100%;
  height: var(--chip-height);
  overflow: hidden;
  user-select: none;

  .chip__text {
    color: var(--chip-text-color);
    font-weight: var(--chip-text-weight);
    text-wrap: nowrap;
  }

  &.chip--inactive {
    --chip-background-color: var(--chip-background-color-inactive);
    --chip-text-color: var(--chip-text-color-inactive);
  }

  &.chip--on-background {
    margin: 0;
    --chip-background-color: var(--chip-background-color-on-background);
    --chip-text-color: var(--chip-text-color-on-background);
    --chip-text-weight: var(--chip-text-weight-on-background);
  }
}
