.chip.recharged {
  height: var(--size-xsmall);
  margin: 0 0 0 var(--size-xxsmall);
  padding: 0 5px;
  background-color: var(--figma-color-bg-selected-secondary);
  border-radius: var(--border-radius-small);
  display: inline-block;
  cursor: default;
  user-select: none;

  .chip__text {
    font-size: var(--font-size-xsmall);
    letter-spacing: var(--font-letter-spacing-neg-xsmall);
    line-height: var(--font-line-height);
    font-weight: 500;
    color: var(--figma-color-text-brand);
    user-select: none;
  }

  &.chip--inactive {
    background-color: var(--figma-color-bg-tertiary);

    .chip__text {
      color: var(--figma-color-text);
    }
  }
}
