:root[data-theme='figma-ui2'] {
  --chip-gap: var(--size-pos-xxxsmall);
  --chip-padding: 0 var(--size-pos-xxxsmall);
  --chip-height: var(--size-pos-xsmall);
  --chip-margin: 0 0 0 var(--size-pos-xxsmall);
  --chip-radius: var(--border-radius-small);
  --chip-text-color: var(--figma-color-text-brand);
  --chip-text-weight: var(--font-weight-normal);
  --chip-text-size: var(--font-size-xsmall);
  --chip-text-transform: none;
  --chip-background-color: var(--figma-color-bg-selected-secondary);
  --chip-border-color: transparent;
  --chip-border-width: 0;
  --chip-border-offset: 0;

  --chip-background-color-inactive: var(--figma-color-bg-tertiary);
  --chip-border-color-inactive: transparent;
  --chip-border-width-inactive: 0;
  --chip-border-offset-inactive: 0;
  --chip-text-color-inactive: var(--figma-color-text);

  --chip-background-color-hover: var(--figma-color-bg-selected);
  --chip-border-color-hover: var(--figma-color-border-selected);
  --chip-border-width-hover: var(--size-pos-unit);
  --chip-border-offset-hover: var(--size-neg-unit);
  --chip-text-color-hover: var(--figma-color-text-brand);

  --chip-background-color-on-background: rgba(255, 255, 255, 0.4);
  --chip-border-color-on-background: transparent;
  --chip-border-width-on-background: 0;
  --chip-border-offset-on-background: 0;
  --chip-text-color-on-background: var(--grey-1000);
  --chip-text-weight-on-background: var(--font-weight-normal);
}
