:root[data-theme='figma-ui2'] {
  --chip-gap: var(--size-xxxsmall);
  --chip-padding: 0 var(--size-xxxsmall);
  --chip-height: var(--size-xsmall);
  --chip-margin: 0 0 0 var(--size-xxsmall);
  --chip-radius: var(--border-radius-small);
  --chip-text-color: var(--figma-color-text-brand);
  --chip-text-weight: var(--font-weight-medium);
  --chip-text-size: var(--font-size-xsmall);
  --chip-background-color: var(--figma-color-bg-selected-secondary);
  --chip-border-width: var(--size-unit);
  --chip-border-color: var(--figma-color-border);
  --chip-border-offset: var(--size-neg-unit);

  --chip-background-color-inactive: var(--figma-color-bg-tertiary);
  --chip-text-color-inactive: var(--figma-color-text);

  --chip-background-color-hover: var(--figma-color-bg-selected);
  --chip-border-width-hover: var(--size-unit);
  --chip-border-color-hover: var(--figma-color-border);

  --chip-background-color-on-background: rgba(255, 255, 255, 0.4);
  --chip-text-color-on-background: var(--grey-1000);
  --chip-text-weight-on-background: var(--font-weight-normal);
}
