:root[data-theme='figma-ui2'] {
  --list-background-color: var(--figma-color-bg);
  --list-padding: var(--size-pos-unit) 0;
  --list-border-width: var(--size-pos-unit);
  --list-border-color: var(--figma-color-border);
  --list-alternate-background-color: var(--figma-color-bg-secondary);
}
