:root[data-theme='figma-ui3'] {
  --list-background-color: var(--figma-color-bg);
  --list-padding: var(--size-unit) 0;
  --list-border-width: var(--size-unit);
  --list-border-color: var(--figma-color-border);
  --list-alternate-background-color: var(--figma-color-bg-secondary);
}
