@import 'figma-ui2.scss';

.list {
  background-color: var(--list-background-color);
  padding: var(--list-padding);
  overflow-y: auto;

  &--loading,
  &--message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
