@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.list {
  box-sizing: border-box;
  background-color: var(--list-background-color-default);
  padding: var(--list-padding-top) var(--list-padding-right)
    var(--list-padding-bottom) var(--list-padding-left);
  overflow: hidden auto;

  &--full-with {
    width: 100%;
  }

  &--full-height {
    height: 100%;
  }

  &--loading,
  &--message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: var(--list-message-padding-top)
      var(--list-message-padding-right) var(--list-message-padding-bottom)
      var(--list-message-padding-left);
  }

  &--top-border {
    border-top: var(--list-border-width) solid var(--list-border-color);
  }

  &--alternate {
    & > *:nth-child(even) {
      background-color: var(--list-alternate-background-color-alternate);
    }
  }
}
