@import 'figma-ui2';
@import 'figma-ui3';

.list {
  background-color: var(--list-background-color);
  padding: var(--list-padding);
  overflow-x: hidden;
  overflow-y: auto;

  &--loading,
  &--message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &--top-border {
    border-top: var(--list-border-width) solid var(--list-border-color);
  }
}
