:root[data-theme='penpot'] {
  --list-background-color: var(--color-background-primary);
  --list-padding: var(--size-unit) 0;
  --list-border-width: var(--size-unit);
  --list-border-color: var(--figma-color-border);
  --list-alternate-background-color: var(--color-background-tertiary);
}
