:root[data-theme='figma-ui2'] {
  --menu-top-right: var(--size-neg-xxsmall);
  --menu-top-left: var(--size-neg-xxsmall);
  --menu-bottom-right: calc(var(--size-medium) + var(--size-xxsmall));
  --menu-bottom-left: calc(var(--size-medium) + var(--size-xxsmall));
}
