:root[data-theme='figma-ui2'] {
  --menu-top-right: calc(var(--size-xxsmall) * -1);
  --menu-top-left: calc(var(--size-xxsmall) * -1);
  --menu-bottom-right: calc(var(--size-medium) + var(--size-xxsmall));
  --menu-bottom-left: calc(var(--size-medium) + var(--size-xxsmall));
}
