@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'styles/sketch';

.menu {
  position: relative;

  &.menu--top-right > .floating-menu {
    top: var(--menu-top-right);
    right: 0;
    left: unset;
    transform: translateY(-100%);
  }

  &.menu--top-left > .floating-menu {
    top: var(--menu-top-left);
    left: 0;
    transform: translateY(-100%);
  }

  &.menu--bottom-right > .floating-menu {
    top: var(--menu-bottom-right);
    right: 0;
    left: unset;
  }

  &.menu--bottom-left > .floating-menu {
    top: var(--menu-bottom-left);
    left: 0;
  }
}

.floating-menu .select-menu__menu {
  position: relative;
}

.floating-menu .select-menu__submenu {
  position: absolute;
}
