.menu.recharged {
  position: relative;

  &.menu--top-right > .floating-menu {
    right: 0;
    left: unset;
    top: calc(var(--size-xxsmall) * -1);
    transform: translateY(-100%);
  }

  &.menu--top-left > .floating-menu {
    left: 0;
    top: calc(var(--size-xxsmall) * -1);
    transform: translateY(-100%);
  }

  &.menu--bottom-right > .floating-menu {
    right: 0;
    left: unset;
    top: calc(var(--size-medium) + var(--size-xxsmall));
  }

  &.menu--bottom-left > .floating-menu {
    left: 0;
    top: calc(var(--size-medium) + var(--size-xxsmall));
  }
}

.floating-menu .select-menu__menu {
  position: relative;
}

.floating-menu .select-menu__submenu {
  position: absolute;
}
