$id: "drawer";

:root {
  --#{id}-background-color: var(--figma-color-bg);
  --#{id}-knob-size: var(--size-xxsmall);
  --#{id}-knob-position: var(--size-neg-xxxsmall);
}

.drawer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--#{id}-background-color);

  &__knob {
    position: absolute;
    z-index: 2;
    cursor: ns-resize;

    &--top,
    &--bottom {
      cursor: ns-resize;
      width: 100%;
      height: var(--#{id}-knob-size);
    }

    &--left,
    &--right {
      cursor: ew-resize;
      width: var(--#{id}-knob-size);
      height: 100%;
    }

    &--top {
      bottom: var(--#{id}-knob-position);
    }

    &--right {
      left: var(--#{id}-knob-position);
    }

    &--bottom {
      top: var(--#{id}-knob-position);
    }

    &--left {
      right: var(--#{id}-knob-position);
    }
  }
}
