:root[data-theme='penpot'] {
  --drawer-background-color: var(--penpot-color-background-primary);
  --drawer-border: var(--size-unit) solid
    var(--penpot-color-background-quaternary);
  --drawer-knob-size: var(--size-xxsmall);
  --drawer-knob-position: var(--size-neg-xxxsmall);
}
