.snackbar {
  display: flex;
  align-items: center;

  &--tight {
    @extend .snackbar;
    gap: var(--size-xxxsmall);
  }

  &--medium {
    @extend .snackbar;
    gap: var(--size-xxsmall);
  }

  &--large {
    @extend .snackbar;
    gap: var(--size-xsmall);
  }
}

.stackbar {
  display: flex;
  flex-direction: column;

  &--tight {
    @extend .stackbar;
    gap: var(--size-xxxsmall);
  }

  &--medium {
    @extend .stackbar;
    gap: var(--size-xxsmall);
  }

  &--large {
    @extend .stackbar;
    gap: var(--size-xsmall);
  }
}
