.snackbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &--tight {
    @extend .snackbar;

    gap: var(--size-pos-xxxsmall);
  }

  &--medium {
    @extend .snackbar;

    gap: var(--size-pos-xxsmall);
  }

  &--large {
    @extend .snackbar;

    gap: var(--size-pos-xsmall);
  }

  &--start {
    align-items: start;
  }

  &--centered {
    align-items: center;
  }

  &--end {
    align-items: end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--fill {
    align-items: stretch;
  }
}

.stackbar {
  display: flex;
  flex-direction: column;
  align-items: start;

  &--tight {
    @extend .stackbar;

    gap: var(--size-pos-xxxsmall);
  }

  &--medium {
    @extend .stackbar;

    gap: var(--size-pos-xxsmall);
  }

  &--large {
    @extend .stackbar;

    gap: var(--size-pos-xsmall);
  }

  &--start {
    align-items: start;
  }

  &--centered {
    align-items: center;
  }

  &--end {
    align-items: end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--fill {
    align-items: stretch;
  }
}

.centered {
  margin: auto;
}
