.type {
  color: var(--figma-color-text);

  &--truncated {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--secondary {
    color: var(--figma-color-text-tertiary);
  }

  a {
    color: var(--figma-color-text-brand);
    text-decoration: none;
  }

  a:focus-visible {
    outline: none;
    text-decoration: underline;
  }
}

.onboarding-tip__msg,
.section-title,
.select-menu__label {
  color: var(--figma-color-text);
}

.onboarding-tip__msg {
  line-height: var(--font-line-height);
}

.label {
  --black3: var(--figma-color-text-tertiary);
  gap: var(--size-xxxsmall);
}
