.select-menu {
  cursor: default;
  user-select: none;
  
  &__item-icon {
    mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27m21.2071 13.7071-6.2071 6.2071-3.7071-3.7071 1.4142-1.4142 2.2929 2.2929 4.7929-4.7929z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E');
    mask-position: center;
    -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill=%27none%27 height=%2732%27 width=%2732%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath clip-rule=%27evenodd%27 d=%27m21.2071 13.7071-6.2071 6.2071-3.7071-3.7071 1.4142-1.4142 2.2929 2.2929 4.7929-4.7929z%27 fill=%27%23000%27 fill-rule=%27evenodd%27/%3E%3C/svg%3E');
    -webkit-mask-position: center;
    background: transparent;
  }

  &__item-carret {
    width: var(--size-xsmall);
    height: var(--size-xsmall);
    margin-left: var(--size-xxsmall);
    pointer-events: none;
  }

  &__item-carret {
    mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m19 16-4-3v6z" fill="%23000"/%3E%3C/svg%3E');
    mask-position: center;
    -webkit-mask-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m19 16-4-3v6z" fill="%23000"/%3E%3C/svg%3E');
    -webkit-mask-position: center;
    background: transparent;
  }

  &__item {
    position: relative;
  }

  &__item--selected &__item-icon,
  &__item-carret {
    background: var(--figma-color-icon-onselected-strong,);
  }

  &__item--disabled {
    pointer-events: none;
    padding: 0 var(--size-xxsmall) 0 var(--size-xsmall);
  }

  &__item--disabled span {
    color: var(--figma-color-text-onbrand-tertiary);
  }

  &__menu {
    position: relative;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    outline-offset: -1px;
    width: fit-content;
    min-width: 224px;
    overflow: visible;
  }

  &__submenu {
    position: absolute;
  }

  &__menu--left &__submenu {
    top: -8px;
    left: 0 !important;
    transform: translateX(-100%);
  }

  &__menu--right &__submenu {
    top: -8px;
    right: 0 !important;
    left: auto;
    transform: translateX(100%);
  }

  &__menu hr {
    height: 1px;
    background-color: var(--black8-opaque);
    border: none;
    margin: 11px 0 12px 0;
  }

  &--highlight,
  &__item:hover,
  &__item:focus {
    --blue: var(--figma-color-bg-brand);
  }

  &__item--blocked {
    pointer-events: none;
  }

  &__item--blocked &__item-label {
    color: var(--figma-color-text-onbrand-tertiary);
  }

  &__item--blocked &__item-icon,
  &__item--blocked &__item-carret {
    background: var(--figma-color-text-onbrand-tertiary);
  }
}
