.onboarding-tip {
  padding: 0 calc(var(--size-xsmall) + var(--size-xxxsmall));
  cursor: default;
  user-select: none;

  &__msg {
    line-height: var(--font-line-height);
    color: var(--figma-color-text);
  }
  
  &--blocked &__msg {
    color: var(--figma-color-text-disabled);
  }
  
  &--blocked .icon {
    background: var(--figma-color-icon-disabled);
  }
  
  /* Tips ticker */
  &__ticker {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  &__ticker:before,
  &__ticker:after {
    content: '';
    position: absolute;
    width: var(--size-xsmall);
    height: 100%;
    z-index: 2;
  }
  
  &__ticker:before {
    left: 0;
    background: linear-gradient(
      90deg,
      var(--figma-color-bg) 0%,
      transparent 100%
    );
  }
  
  &__ticker:after {
    right: 0;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--figma-color-bg) 100%
    );
  }
  
  &__tips {
    display: inline-flex;
    align-items: center;
    gap: 0 var(--size-medium);
    padding: 0 var(--size-xsmall);
    position: relative;
    width: max-content;
  }
  
  &__ticker:hover &__tips {
    animation-play-state: paused !important;
  }
}

.callout .onboarding-tip__msg {
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
