:root {
  /* Basic Background */
  --grey-0: #ffffff;
  --grey-100: #f0f0f0;
  --grey-200: #d9d9d9;
  --grey-300: #bfbfbf;
  --grey-400: #a6a6a6;
  --grey-500: #8c8c8c;
  --grey-600: #737373;
  --grey-700: #595959;
  --grey-800: #404040;
  --grey-900: #2c2c2c;
  --grey-1000: #222222;

  /* Font Sizes */
  --font-size-xxxsmall: 9px;
  --font-size-xxsmall: 10px;
  --font-size-xsmall: 11px;
  --font-size-small: 12px;
  --font-size-medlum: 13px;
  --font-size-large: 14px;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-accent: 450;
  --font-weight-medium: 500;
  --font-weight-semi: 550;
  --font-weight-bold: 600;

  /* Lineheight */
  --font-line-height: 16px;
  --font-line-height-large: 20px;

  /* Letterspacing */
  --font-letter-spacing-neg-xlarge: -0.001em;
  --font-letter-spacing-neg-large: -0.0025em;
  --font-letter-spacing-neg-small: -0.005em;
  --font-letter-spacing-neg-xsmall: -0.01em;
  --font-letter-spacing-pos-xsmall: 0.005em;
  --font-letter-spacing-pos-small: 0;
  --font-letter-spacing-pos-large: 0.0025em;
  --font-letter-spacing-pos-xlarge: 0.001em;

  /* Border Radius */
  --border-radius-xsmall: 1px;
  --border-radius-small: 2px;
  --border-radius-medium: 5px;
  --border-radius-large: 6px;
  --border-radius-xlarge: 8px;
  --border-radius-xxlarge: 12px;
  --border-radius-xxxlarge: 16px;
  --border-radius-full: 50%;

  /* Shadows */
  --shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
  --shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
  --elevation-100-canvas: 0px 0px 0.5px rgba(0, 0, 0, 0.5),
    0px 1px 3px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.1),
    inset 0px 0px 1px rgba(255, 255, 255, 0.3);
  --elevation-200-canvas: 0px 3px 8px rgba(0, 0, 0, 0.35),
    0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 1px rgba(255, 255, 255, 0.3);
  --elevation-300-tooltip: 0px 5px 12px rgba(0, 0, 0, 0.35),
    0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 1px rgba(255, 255, 255, 0.3);
  --elevation-400-menu-panel: 0px 10px 16px rgba(0, 0, 0, 0.35),
    0px 2px 5px rgba(0, 0, 0, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 1px rgba(255, 255, 255, 0.35);
  --elevation-500-modal-window: 0px 10px 24px rgba(0, 0, 0, 0.45),
    0px 3px 5px rgba(0, 0, 0, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 1px rgba(255, 255, 255, 0.35);

  /* Sizing */
  --size-neg-xxxlarge: -80px;
  --size-neg-xxlarge: -64px;
  --size-neg-xlarge: -48px;
  --size-neg-large: -40px;
  --size-neg-medium: -32px;
  --size-neg-small: -24px;
  --size-neg-xsmall: -16px;
  --size-neg-xmsmall: -12px;
  --size-neg-xxsmall: -8px;
  --size-neg-xxxsmall: -4px;
  --size-neg-xunit: -2px;
  --size-neg-unit: -1px;
  --size-pos-unit: 1px;
  --size-pos-xunit: 2px;
  --size-pos-xxxsmall: 4px;
  --size-pos-xxsmall: 8px;
  --size-pos-xmsmall: 12px;
  --size-pos-xsmall: 16px;
  --size-pos-small: 24px;
  --size-pos-medium: 32px;
  --size-pos-large: 40px;
  --size-pos-xlarge: 48px;
  --size-pos-xxlarge: 64px;
  --size-pos-xxxlarge: 80px;
}
