:root[data-mode='sketch-light'] {
  --color-accent-primary: #6911d4;
  --color-accent-primary-muted: #e1d2f5;
  --color-accent-secondary: #1345aa;
  --color-accent-tertiary: #8c33eb;
  --color-accent-quaternary: #ff6fe0;
  --color-accent-overlay: rgba(105, 17, 212, 0.6);
  --color-accent-select: rgba(140, 51, 235, 0.1019607843);
  --color-accent-success: #2d9f8f;
  --color-background-success: #a7e8d9;
  --color-accent-warning: #fe9c07;
  --color-background-warning: #fedeac;
  --color-accent-error: #c80857;
  --color-background-error: #ffcada;
  --color-foreground-error: #ff3277;
  --color-accent-info: #0e9be9;
  --color-background-info: #bae3fd;
  --color-background-default: #fff;
  --color-accent-default: #eef0f2;
  --color-icon-default: #495e74;
  --color-background-primary: #fff;
  --color-background-secondary: #e8eaee;
  --color-background-tertiary: #f3f4f6;
  --color-background-quaternary: #eef0f2;
  --color-foreground-primary: #000;
  --color-foreground-secondary: #495e74;
  --color-foreground-disabled: rgba(143, 157, 163, 0.4);
  --color-shadow-dark: rgba(232, 234, 238, 0.6);
  --color-overlay-default: rgba(255, 255, 255, 0.6);
  --color-overlay-onboarding: rgba(255, 255, 255, 0.9019607843);
  --color-canvas: #bfbfbf;
  --color-token-background: #ddf7ff;
  --color-token-border: #77e1f3;
  --color-token-accent: #59acbb;
  --color-token-foreground: #1d4464;
}

:root[data-mode='sketch-dark'] {
  --sketch-color-accent-primary: #f26726;
  --sketch-color-accent-secondary: #ce5820;
  --sketch-color-accent-tertiary: #f267264d;
  --sketch-color-accent-quaternary: #f267261a;
  --sketch-color-accent-default: ;
  --sketch-color-accent-info: #84d7cf;
  --sketch-color-accent-success: #13be3e;
  --sketch-color-accent-warning: #d4910c;
  --sketch-color-accent-error: #cc0000;
  --sketch-color-accent-overlay: ;
  --sketch-color-accent-select: #180a04;

  --sketch-color-background-primary: #202022;
  --sketch-color-background-secondary: #2d2d2f;
  --sketch-color-background-tertiary: #454545;
  --sketch-color-background-quaternary: #ffffff22;
  --sketch-color-background-default: ;
  --sketch-color-background-info: #f267264d;
  --sketch-color-background-success: #84d7cf4d;
  --sketch-color-background-warning: #d4910c4d;
  --sketch-color-background-error: #cc00004d;
  --sketch-color-background-disabled: #ffffff22;

  --sketch-color-foreground-primary: #ffffff;
  --sketch-color-foreground-secondary: #d9d9d9;
  --sketch-color-foreground-tertiary: #b3b3b3;
  --sketch-color-foreground-quaternary: #ffffff8c;
  --sketch-color-foreground-info: #84d7cf;
  --sketch-color-foreground-success: #13be3e;
  --sketch-color-foreground-warning: #d4910c;
  --sketch-color-foreground-error: #ff1f1f;
  --sketch-color-foreground-disabled: #ffffff8c;

  --sketch-color-border-primary: #ffffff12;
  --sketch-color-border-secondary: #d9d9d9;
  --sketch-color-border-disabled: #ffffff0b;

  --color-shadow-dark: ;
  --color-overlay-default: ;
  --color-canvas: ;
}
