@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'styles/sketch';

.sortable-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--scrollable {
    padding: var(--sortable-list-padding-vertical) var(--sortable-list-padding-horizontal);
    height: 100%;
    overflow-y: auto;
  }

  &--top-border {
    border-top: var(--sortable-list-border-width) solid
      var(--sortable-list-border-color);
  }
}
