@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.sortable-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--scrollable {
    padding: var(--sortable-list-padding-top) var(--sortable-list-padding-right)
      var(--sortable-list-padding-bottom) var(--sortable-list-padding-left);
    height: 100%;
    overflow: hidden auto;
  }

  &--top-border {
    border-top: var(--sortable-list-border-width) solid
      var(--sortable-list-border-color);
  }
}
