@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--dropzone-gap);
  cursor: default;
  outline: var(--dropzone-border-width) var(--dropzone-border-style)
    var(--dropzone-border-color);
  outline-offset: var(--dropzone-border-offset);
  border-radius: var(--dropzone-radius);
  background-color: var(--dropzone-background-color);
  padding: var(--dropzone-padding-top) var(--dropzone-padding-right)
    var(--dropzone-padding-bottom) var(--dropzone-padding-left);
  user-select: none;

  & {
    --dropzone-border-color: var(--dropzone-border-color-default);
    --dropzone-border-width: var(--dropzone-border-width-default);
    --dropzone-border-offset: var(--dropzone-border-offset-default);
    --dropzone-border-style: var(--dropzone-border-style-default);
    --dropzone-background-color: var(--dropzone-background-color-default);
  }

  &--dragged-over {
    --semantic-message-background-color: var(--dropzone-background-color-over);
    --dropzone-border-width: var(--dropzone-border-width-over);
    --dropzone-border-offset: var(--dropzone-border-offset-over);
    --dropzone-border-style: var(--dropzone-border-style-over);
    --dropzone-border-color: var(--dropzone-border-color-over);
    --dropzone-background-color: var(--dropzone-background-color-over);
  }

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
    --semantic-message-background-color: var(
      --dropzone-background-color-disabled
    );
    --dropzone-border-width: var(--dropzone-border-width-disabled);
    --dropzone-border-offset: var(--dropzone-border-offset-disabled);
    --dropzone-border-style: var(--dropzone-border-style-disabled);
    --dropzone-border-color: var(--dropzone-border-color-disabled);
    --dropzone-background-color: var(--dropzone-background-color-disabled);
  }
}
