:root {
  --dropzone-padding: var(--size-small);
  --dropzone-gap: var(--size-xxsmall);
  --dropzone-min-width: 200px;
  --dropzone-min-height: 200px;
  --dropzone-border-color: var(--figma-color-border);
  --dropzone-border-width: var(--size-unit);
  --dropzone-border-offset: var(--size-neg-unit);
  --dropzone-border-style: dashed;
  --dropzone-background-color: var(--figma-color-bg);
  --dropzone-border-radius: var(--border-radius-med);

  --dropzone-border-color-over: var(--figma-color-border-selected);
  --dropzone-border-width-over: var(--size-xunit);
  --dropzone-border-offset-over: var(--size-neg-xunit);
  --dropzone-border-style-over: solid;
  --dropzone-background-color-over: var(--figma-color-bg-selected);
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--dropzone-gap);
  cursor: default;
  outline: var(--dropzone-border-width) var(--dropzone-border-style)
    var(--dropzone-border-color);
  outline-offset: var(--dropzone-border-offset);
  border-radius: var(--dropzone-border-radius);
  background-color: var(--dropzone-background-color);
  padding: var(--dropzone-padding);
  min-width: var(--dropzone-min-width);
  min-height: var(--dropzone-min-height);
  user-select: none;

  &--dragged-over {
    --semantic-message-background-color: var(--dropzone-background-color-over);
    --dropzone-border-width: var(--dropzone-border-width-over);
    --dropzone-border-offset: var(--dropzone-border-offset-over);
    --dropzone-border-style: var(--dropzone-border-style-over);
    --dropzone-border-color: var(--dropzone-border-color-over);
    --dropzone-background-color: var(--dropzone-background-color-over);
  }
}
