:root[data-theme='figma-ui2'] {
  --dropzone-padding: var(--size-pos-small);
  --dropzone-gap: var(--size-pos-xxsmall);
  --dropzone-min-width: 200px;
  --dropzone-min-height: 200px;
  --dropzone-border-color: var(--figma-color-border);
  --dropzone-border-width: var(--size-pos-unit);
  --dropzone-border-offset: var(--size-neg-unit);
  --dropzone-border-style: dashed;
  --dropzone-background-color: var(--figma-color-bg);
  --dropzone-radius: var(--border-radius-xxlarge);

  --dropzone-border-color-over: var(--figma-color-border-selected);
  --dropzone-border-width-over: var(--size-pos-xunit);
  --dropzone-border-offset-over: var(--size-neg-xunit);
  --dropzone-border-style-over: solid;
  --dropzone-background-color-over: var(--figma-color-bg-selected);
}
