:root[data-theme='penpot'] {
  --dropzone-padding: var(--size-small);
  --dropzone-gap: var(--size-xxsmall);
  --dropzone-min-width: 200px;
  --dropzone-min-height: 200px;
  --dropzone-border-color: var(--penpot-color-background-quaternary);
  --dropzone-border-width: var(--size-unit);
  --dropzone-border-offset: var(--size-neg-unit);
  --dropzone-border-style: dashed;
  --dropzone-background-color: var(--penpot-color-background-primary);
  --dropzone-radius: var(--border-radius-medium);

  --dropzone-border-color-over: var(--penpot-color-accent-primary);
  --dropzone-border-width-over: var(--size-xunit);
  --dropzone-border-offset-over: var(--size-neg-xunit);
  --dropzone-border-style-over: solid;
  --dropzone-background-color-over: var(--penpot-color-accent-primary-muted);
}
