:root[data-theme='sketch'] {
  --dropzone-padding: var(--size-pos-small);
  --dropzone-gap: var(--size-pos-xxsmall);
  --dropzone-min_width: 200px;
  --dropzone-min_height: 200px;
  --dropzone-border-color: var(--sketch-color-border-secondary);
  --dropzone-border-width: var(--size-pos-unit);
  --dropzone-border-offset: var(--size-neg-unit);
  --dropzone-border-style: dashed;
  --dropzone-background-color: var(--sketch-color-background-primary);
  --dropzone-radius: var(--border-radius-medium);

  --dropzone-border-color-over: var(--sketch-color-accent-primary);
  --dropzone-border-width-over: var(--size-pos-xunit);
  --dropzone-border-offset-over: var(--size-neg-xunit);
  --dropzone-border-style-over: solid;
  --dropzone-background-color-over: var(--sketch-color-accent-disabled);
}
