@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';

.card {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  box-sizing: border-box;
  outline: var(--card-border-width) solid var(--card-border-color);
  box-shadow: var(--card-border-offset);
  border-radius: var(--card-radius);
  background-color: var(--card-background-color);
  padding: var(--card-padding);
  width: var(--card-width);

  &--fill {
    width: 100%;
  }

  &:hover {
    --card-background-color: var(--card-background-color-hover);
    --card-border-width: var(--card-border-width-hover);
    --card-border-color: var(--card-border-color-hover);
    --card-border-offset: var(--card-border-offset-hover);

    .card__actions {
      visibility: visible;
    }
  }

  &:focus {
    --card-background-color: var(--card-background-color-focus);
    --card-border-width: var(--card-border-width-focus);
    --card-border-color: var(--card-border-color-focus);
    --card-border-offset: var(--card-border-offset-focus);

    .card__actions {
      visibility: visible;
    }
  }

  &__asset {
    position: relative;
    aspect-ratio: var(--card-ratio);
  }

  &__actions {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--card-actions-gap);
    visibility: hidden;
    inset: 0 0 0 0;
    padding: var(--card-actions-padding);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--card-content-gap);
  }
}
