:root[data-theme='figma-ui3'] {
  --card-gap: var(--size-xxsmall);
  --card-radius: calc(var(--border-radius-med) + var(--size-xxxsmall));
  --card-padding: var(--size-xxsmall);
  --card-width: 200px;
  --card-ratio: 2 / 1;

  --card-actions-gap: var(--size-xxsmall);
  --card-actions-padding: var(--size-xxsmall);

  --card-content-gap: var(--size-xxxsmall);

  --card-background-color: var(--figma-color-bg);
  --card-background-color-hover: var(--figma-color-bg-hover);
  --card-background-color-focus: var(--figma-color-bg-selected);

  --card-border-color: transparent;
  --card-border-color-hover: transparent;
  --card-border-color-focus: var(--figma-color-border-selected);
  --card-border-width: 0;
  --card-border-width-hover: 0;
  --card-border-width-focus: var(--size-unit);
  --card-border-offset: 0;
  --card-border-offset-hover: 0;
  --card-border-offset-focus: var(--size-neg-unit);
}
