.tabs {
  display: flex;
  align-items: stretch;
  cursor: default;
  user-select: none;

  & .tabs__tab {
    padding: 0 var(--size-xxsmall);
    font-weight: var(--font-weight-medium);
    color: var(--figma-color-text-secondary);
    line-height: var(--size-large);
    cursor: default;
    position: relative;
  }

  & .tabs__tab:hover {
    color: var(--figma-color-text-hover);
  }

  & .tabs__tab--active {
    font-weight: var(--font-weight-bold);
    color: var(--figma-color-text);
  }

  & .tabs__tab--new:after {
    content: '';
    position: absolute;
    width: var(--size-xxxsmall);
    height: var(--size-xxxsmall);
    border-radius: var(--border-radius-small);
    background-color: var(--figma-color-text);
    top: 12px;
    right: 2px;
  }
}
