@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'styles/sketch';

.knob {
  display: flex;
  position: absolute;
  top: var(--knob-top);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: ew-resize;
  background: transparent;
  min-width: var(--knob-min-width);
  height: var(--knob-height);

  & {
    --knob-label-background-color: var(--knob-label-background-color-default);
    --knob-label-border-color: var(--knob-label-border-color-default);
    --knob-label-border-width: var(--knob-label-border-width-default);
    --knob-label-text-color: var(--knob-label-text-color-default);
    --knob-label-arrow-stroke-inset: var(
      --knob-label-arrow-stroke-inset-default
    );
    --knob-label-arrow-stroke-width: var(
      --knob-label-arrow-stroke-width-default
    );
    --knob-label-arrow-stroke-border-color: var(
      --knob-label-arrow-stroke-border-color-default
    );
    --knob-label-arrow-fill-border-color: var(
      --knob-label-arrow-fill-border-color-default
    );
  }

  &:hover {
    --knob-label-background-color: var(--knob-label-background-color-hover);
  }

  &:focus,
  &--selected,
  &:active {
    --knob-label-background-color: var(--knob-label-background-color-focus);
    --knob-label-border-color: var(--knob-label-border-color-focus);
    --knob-label-border-width: var(--knob-label-border-width-focus);
    --knob-label-arrow-stroke-inset: var(--knob-label-arrow-stroke-inset-focus);
    --knob-label-arrow-stroke-width: var(--knob-label-arrow-stroke-width-focus);
    --knob-label-arrow-stroke-border-color: var(
      --knob-label-arrow-stroke-border-color-focus
    );
    --knob-label-arrow-fill-border-color: var(
      --knob-label-arrow-fill-border-color-focus
    );
  }

  &:focus,
  &--selected,
  &--editing {
    z-index: 2 !important;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    --knob-label-background-color: var(--knob-label-background-color-disabled);
    --knob-label-border-color: var(--knob-label-border-color-disabled);
    --knob-label-text-color: var(--knob-label-text-color-disabled);
    --knob-label-arrow-stroke-border-color: var(
      --knob-label-arrow-stroke-border-color-disabled
    );
    --knob-label-arrow-fill-border-color: var(
      --knob-label-arrow-fill-border-color-disabled
    );
  }
}

.knob__label {
  display: flex;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 0 var(--knob-label-border-width)
    var(--knob-label-border-color);
  border-radius: var(--knob-label-radius);
  background: var(--knob-label-background-color);
  padding: var(--knob-label-padding-vertical) var(--knob-label-padding-horizontal);
  width: 100%;
  height: var(--knob-label-height);
  pointer-events: none;
  user-select: none;
  text-align: center;
  --text-color-primary: var(--knob-label-text-color);

  &:before {
    position: absolute;
    inset: var(--knob-label-arrow-stroke-inset);
    border-width: var(--knob-label-arrow-stroke-width);
    border-style: solid;
    border-top-color: var(--knob-label-arrow-stroke-border-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }

  &:after {
    position: absolute;
    inset: var(--knob-label-arrow-fill-inset);
    border-width: var(--knob-label-arrow-fill-width);
    border-style: solid;
    border-top-color: var(--knob-label-arrow-fill-border-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }
}

.knob__tooltip {
  position: absolute;
  top: var(--knob-tooltip-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  border-radius: var(--knob-tooltip-radius);
  background-color: var(--knob-tooltip-background-color);
  padding: var(--knob-tooltip-padding-vertical) var(--knob-tooltip-padding-horizontal);
  min-width: var(--knob-tooltip-min-width);
  pointer-events: none;
  color: var(--knob-tooltip-text-color);
  user-select: none;
  text-align: center;

  &:after {
    position: absolute;
    inset: var(--knob-tooltip-arrow-inset);
    border-width: var(--knob-tooltip-arrow-width);
    border-style: solid;
    border-top-color: var(--knob-tooltip-background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }
}

.knob__graduation {
  background: var(--knob-graduation-background-color);
  width: var(--knob-graduation-width);
  height: var(--knob-graduation-height);
  pointer-events: none;
}

.knob__input {
  position: absolute;
  top: var(--knob-input-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 2;
  outline: var(--knob-input-border-width) solid var(--knob-input-border-color);
  outline-offset: var(--knob-input-border-offset);
  box-shadow: var(--knob-input-shadow);
  border-radius: var(--knob-input-radius);
  background-color: var(--knob-input-background-color);
  padding: var(--knob-input-padding);
  width: var(--knob-input-width);
}
