:root {
  /* Base */
  --knob-min-width: var(--size-medium);
  --knob-height: var(--size-xxlarge);

  --knob-label-height: var(--size-small);
  --knob-label-padding: var(--size-xxxsmall);
  --knob-label-radius: var(--border-radius-small);
  --knob-label-background-color: var(--figma-color-bg);
  --knob-label-border-color: var(--figma-color-border-disabled-strong);
  --knob-label-border-width: var(--size-unit);
  --knob-label-text-color: var(--figma-color-text);

  --knob-label-arrow-stroke-inset: auto auto calc(var(--size-xxxsmall) * -2) calc(50% - var(--size-xxxsmall));
  --knob-label-arrow-stroke-width: var(--size-xxxsmall);
  --knob-label-arrow-fill-inset: auto auto -6px calc(50% - 3px);
  --knob-label-arrow-fill-width: 3px;

  --knob-tooltip-top: calc(var(--size-xsmall) * -1);
  --knob-tooltip-padding: var(--size-xxxsmall);
  --knob-tooltip-min-width: var(--size-small);
  --knob-tooltip-radius: 0;
  --knob-tooltip-background-color: var(--figma-color-bg-inverse);
  --knob-tooltip-text-color: var(--figma-color-text-oninverse);

  --knob-tooltip-arrow-inset: auto auto -8px calc(50% - var(--size-xxxsmall));
  --knob-tooltip-arrow-width: var(--size-xxxsmall);

  --knob-graduation-width: var(--size-unit);
  --knob-graduation-height: var(--size-xxxsmall);
  --knob-graduation-background-color: var(--figma-color-border-disabled-strong);

  --knob-input-top: calc(var(--size-xxsmall) * -1);
  --knob-input-shadow: var(--shadow-floating-window);
  --knob-input-border-color: var(--figma-color-border);
  --knob-input-border-width: 1px;
  --knob-input-border-offset: -1px;
  --knob-input-border-radius: var(--border-radius-med);
  --knob-input-background-color: var(--figma-color-bg);
  --knob-input-padding: var(--size-xunit);
  --knob-input-width: var(--size-xxlarge);

  /* State */
  --knob-label-background-color-hover: var(--figma-color-bg-hover);
  
  --knob-label-border-color-focus: var(--figma-color-border-selected);
  --knob-label-border-width-focus: var(--size-xunit);
  --knob-label-background-color-focus: var(--figma-color-bg-selected);
  --knob-label-arrow-stroke-inset-focus: auto auto -12px calc(50% - 6px);
  --knob-label-arrow-stroke-width-focus: 6px;

  --knob-label-background-color-disabled: var(--figma-color-bg-disabled);
  --knob-label-border-color-disabled: var(--figma-color-border-disabled);
  --knob-label-text-color-disabled: var(--figma-color-text-ondisabled);
}

.knob {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: ew-resize;
  background: transparent;
  min-width: var(--knob-min-width);
  height: var(--knob-height);

  &:hover {
    --knob-label-background-color: var(--knob-label-background-color-hover);
  }

  &:focus, &--selected, &:active {
    --knob-label-background-color: var(--knob-label-background-color-focus);
    --knob-label-border-color: var(--knob-label-border-color-focus);
    --knob-label-border-width: var(--knob-label-border-width-focus);
    --knob-label-arrow-stroke-inset: var(--knob-label-arrow-stroke-inset-focus);
    --knob-label-arrow-stroke-width: var(--knob-label-arrow-stroke-width-focus);
  }

  &:focus,
  &--selected,
  &--editing {
    z-index: 2 !important;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    --knob-label-background-color: var(--knob-label-background-color-disabled);
    --knob-label-border-color: var(--knob-label-border-color-disabled);
    --knob-label-text-color: var(--knob-label-border-color-disabled);
  }
}

.knob__label {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 0 0 var(--knob-label-border-width) var(--knob-label-border-color);
  border-radius: var(--knob-label-radius);
  background: var(--knob-label-background-color);
  padding: var(--knob-label-padding);
  width: 100%;
  height: var(--knob-label-height);
  pointer-events: none;
  user-select: none;
  text-align: center;
  --text-color-primary: var(--knob-label-text-color);

  &:before {
    position: absolute;
    inset: var(--knob-label-arrow-stroke-inset);
    border-width: var(--knob-label-arrow-stroke-width);
    border-style: solid;
    border-top-color: var(--knob-label-border-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }

  &:after {
    position: absolute;
    inset: var(--knob-label-arrow-fill-inset);
    border-width: var(--knob-label-arrow-fill-width);
    border-style: solid;
    border-top-color: var(--knob-label-background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }
}

.knob__tooltip {
  position: absolute;
  top: var(--knob-tooltip-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--knob-tooltip-background-color);
  padding: var(--knob-tooltip-padding);
  min-width: var(--knob-tooltip-min-width);
  color: var(--knob-tooltip-text-color);
  border-radius: var(--knob-tooltip-radius);
  user-select: none;
  text-align: center;

  &:after {
    position: absolute;
    inset: var(--knob-tooltip-arrow-inset);
    border-width: var(--knob-tooltip-arrow-width);
    border-style: solid;
    border-top-color: var(--knob-tooltip-background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }
}

.knob__graduation {
  background: var(--knob-graduation-background-color);
  width: var(--knob-graduation-width);
  height: var(--knob-graduation-height);
  pointer-events: none;
}

.knob__input {
  position: absolute;
  top: var(--knob-input-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 2;
  box-shadow: var(--knob-input-shadow);
  outline: var(--knob-input-border-width) solid var(--knob-input-border-color);
  outline-offset: var(--knob-input-border-offset);
  border-radius: var(--knob-input-border-radius);
  background-color: var(--knob-input-background-color);
  padding: var(--knob-input-padding);
  width: var(--knob-input-width);
}
