$id: "knob";

:root {
  /* Base */
  --#{$id}-min-width: var(--size-medium);
  --#{$id}-height: var(--size-xxlarge);

  --#{$id}-label-height: var(--size-small);
  --#{$id}-label-padding: var(--size-xxxsmall);
  --#{$id}-label-radius: var(--border-radius-small);
  --#{$id}-label-background-color: var(--figma-color-bg);
  --#{$id}-label-border-color: var(--figma-color-border-disabled-strong);
  --#{$id}-label-border-width: var(--size-unit);
  --#{$id}-label-text-color: var(--figma-color-text);

  --#{$id}-label-arrow-stroke-inset: auto auto calc(var(--size-xxxsmall) * -2) calc(50% - var(--size-xxxsmall));
  --#{$id}-label-arrow-stroke-width: var(--size-xxxsmall);
  --#{$id}-label-arrow-fill-inset: auto auto -6px calc(50% - 3px);
  --#{$id}-label-arrow-fill-width: 3px;

  --#{$id}-tooltip-top: calc(var(--size-xsmall) * -1);
  --#{$id}-tooltip-padding: var(--size-xxxsmall);
  --#{$id}-tooltip-min-width: var(--size-small);
  --#{$id}-tooltip-radius: 0;
  --#{$id}-tooltip-background-color: var(--figma-color-bg-inverse);
  --#{$id}-tooltip-text-color: var(--figma-color-text-oninverse);

  --#{$id}-tooltip-arrow-inset: auto auto -8px calc(50% - var(--size-xxxsmall));
  --#{$id}-tooltip-arrow-width: var(--size-xxxsmall);

  --#{$id}-graduation-width: var(--size-unit);
  --#{$id}-graduation-height: var(--size-xxxsmall);
  --#{$id}-graduation-background-color: var(--figma-color-border-disabled-strong);

  --#{$id}-input-top: calc(var(--size-xxsmall) * -1);
  --#{$id}-input-shadow: var(--shadow-floating-window);
  --#{$id}-input-border-color: var(--figma-color-border);
  --#{$id}-input-border-width: 1px;
  --#{$id}-input-border-offset: -1px;
  --#{$id}-input-border-radius: var(--border-radius-med);
  --#{$id}-input-background-color: var(--figma-color-bg);
  --#{$id}-input-padding: var(--size-xunit);
  --#{$id}-input-width: var(--size-xxlarge);

  /* State */
  --#{$id}-label-background-color-hover: var(--figma-color-bg-hover);
  
  --#{$id}-label-border-color-focus: var(--figma-color-border-selected);
  --#{$id}-label-border-width-focus: var(--size-xunit);
  --#{$id}-label-background-color-focus: var(--figma-color-bg-selected);
  --#{$id}-label-arrow-stroke-inset-focus: auto auto -12px calc(50% - 6px);
  --#{$id}-label-arrow-stroke-width-focus: 6px;

  --#{$id}-label-background-color-disabled: var(--figma-color-bg-disabled);
  --#{$id}-label-border-color-disabled: var(--figma-color-border-disabled);
  --#{$id}-label-text-color-disabled: var(--figma-color-text-ondisabled);
}

.knob {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: ew-resize;
  background: transparent;
  min-width: var(--#{$id}-min-width);
  height: var(--#{$id}-height);

  &:hover {
    --#{$id}-label-background-color: var(--#{$id}-label-background-color-hover);
  }

  &:focus, &--selected, &:active {
    --#{$id}-label-background-color: var(--#{$id}-label-background-color-focus);
    --#{$id}-label-border-color: var(--#{$id}-label-border-color-focus);
    --#{$id}-label-border-width: var(--#{$id}-label-border-width-focus);
    --#{$id}-label-arrow-stroke-inset: var(--#{$id}-label-arrow-stroke-inset-focus);
    --#{$id}-label-arrow-stroke-width: var(--#{$id}-label-arrow-stroke-width-focus);
  }

  &:focus,
  &--selected,
  &--editing {
    z-index: 2 !important;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    --#{$id}-label-background-color: var(--#{$id}-label-background-color-disabled);
    --#{$id}-label-border-color: var(--#{$id}-label-border-color-disabled);
    --#{$id}-label-text-color: var(--#{$id}-label-border-color-disabled);
  }
}

.knob__label {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 0 0 var(--#{$id}-label-border-width) var(--#{$id}-label-border-color);
  border-radius: var(--#{$id}-label-radius);
  background: var(--#{$id}-label-background-color);
  padding: var(--#{$id}-label-padding);
  width: 100%;
  height: var(--#{$id}-label-height);
  pointer-events: none;
  user-select: none;
  text-align: center;
  --text-color-primary: var(--#{$id}-label-text-color);

  &:before {
    position: absolute;
    inset: var(--#{$id}-label-arrow-stroke-inset);
    border-width: var(--#{$id}-label-arrow-stroke-width);
    border-style: solid;
    border-top-color: var(--#{$id}-label-border-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }

  &:after {
    position: absolute;
    inset: var(--#{$id}-label-arrow-fill-inset);
    border-width: var(--#{$id}-label-arrow-fill-width);
    border-style: solid;
    border-top-color: var(--#{$id}-label-background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }
}

.knob__tooltip {
  position: absolute;
  top: var(--#{$id}-tooltip-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--#{$id}-tooltip-background-color);
  padding: var(--#{$id}-tooltip-padding);
  min-width: var(--#{$id}-tooltip-min-width);
  color: var(--#{$id}-tooltip-text-color);
  border-radius: var(--#{$id}-tooltip-radius);
  user-select: none;
  text-align: center;

  &:after {
    position: absolute;
    inset: var(--#{$id}-tooltip-arrow-inset);
    border-width: var(--#{$id}-tooltip-arrow-width);
    border-style: solid;
    border-top-color: var(--#{$id}-tooltip-background-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    content: '';
  }
}

.knob__graduation {
  background: var(--#{$id}-graduation-background-color);
  width: var(--#{$id}-graduation-width);
  height: var(--#{$id}-graduation-height);
  pointer-events: none;
}

.knob__input {
  position: absolute;
  top: var(--#{$id}-input-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 2;
  box-shadow: var(--#{$id}-input-shadow);
  outline: var(--#{$id}-input-border-width) solid var(--#{$id}-input-border-color);
  outline-offset: var(--#{$id}-input-border-offset);
  border-radius: var(--#{$id}-input-border-radius);
  background-color: var(--#{$id}-input-background-color);
  padding: var(--#{$id}-input-padding);
  width: var(--#{$id}-input-width);
}
