:root[data-theme='penpot'] {
  /* Base */
  --knob-min_width: var(--size-pos-medium);
  --knob-height: 48px;
  --knob-top: var(--size-neg-xxxsmall);

  --knob-label-height: 20px;
  --knob-label-padding: var(--size-pos-xunit) var(--size-pos-xxxsmall);
  --knob-label-radius: var(--border-radius-large);
  --knob-label-background-color: var(--penpot-color-background-primary);
  --knob-label-border-color: var(--penpot-color-background-quaternary);
  --knob-label-border-width: var(--size-pos-unit);
  --knob-label-text-color: var(--penpot-color-foreground-primary);

  --knob-label-arrow-stroke-inset: auto auto calc(var(--size-pos-xxxsmall) * -2)
    calc(50% - var(--size-pos-xxxsmall));
  --knob-label-arrow-stroke-width: var(--size-pos-xxxsmall);
  --knob-label-arrow-stroke-border-color: var(
    --penpot-color-background-quaternary
  );

  --knob-label-arrow-fill-inset: auto auto -6px calc(50% - 3px);
  --knob-label-arrow-fill-width: 3px;
  --knob-label-arrow-fill-border-color: var(--penpot-color-background-primary);

  --knob-tooltip-top: var(--size-neg-xxsmall);
  --knob-tooltip-padding: var(--size-pos-xunit) var(--size-pos-xxxsmall);
  --knob-tooltip-min_width: var(--size-pos-small);
  --knob-tooltip-radius: var(--border-radius-large);
  --knob-tooltip-background-color: var(--penpot-color-foreground-primary);
  --knob-tooltip-text-color: var(--penpot-color-background-primary);

  --knob-tooltip-arrow-inset: auto auto var(--size-neg-xxsmall)
    calc(50% - var(--size-pos-xxxsmall));
  --knob-tooltip-arrow-width: var(--size-pos-xxxsmall);

  --knob-graduation-width: var(--size-pos-unit);
  --knob-graduation-height: var(--size-pos-xxxsmall);
  --knob-graduation-background-color: var(--penpot-color-background-quaternary);

  --knob-input-top: var(--size-neg-xxsmall);
  --knob-input-shadow: var(--elevation-300-tooltip);
  --knob-input-border-color: var(--penpot-color-background-quaternary);
  --knob-input-border-width: var(--size-pos-unit);
  --knob-input-border-offset: var(--size-neg-unit);
  --knob-input-radius: 10px;
  --knob-input-background-color: var(--penpot-color-background-primary);
  --knob-input-padding: var(--size-pos-xunit);
  --knob-input-width: var(--size-pos-xxlarge);

  /* State */
  --knob-label-background-color-hover: var(--penpot-color-background-tertiary);

  --knob-label-border-color-focus: var(--penpot-color-accent-primary);
  --knob-label-border-width-focus: var(--size-pos-unit);
  --knob-label-background-color-focus: var(--penpot-color-accent-primary-muted);

  --knob-label-arrow-stroke-inset-focus: auto auto
    calc(var(--size-pos-xxxsmall) * -2) calc(50% - var(--size-pos-xxxsmall));
  --knob-label-arrow-stroke-width-focus: var(--size-pos-xxxsmall);
  --knob-label-arrow-stroke-border-color-focus: var(
    --penpot-color-accent-primary
  );
  --knob-label-arrow-fill-border-color-focus: var(
    --penpot-color-accent-primary-muted
  );

  --knob-label-background-color-disabled: var(
    --penpot-color-background-quaternary
  );
  --knob-label-border-color-disabled: var(--penpot-color-background-quaternary);
  --knob-label-text-color-disabled: var(--penpot-color-foreground-secondary);

  --knob-label-arrow-stroke-border-color-disabled: var(
    --penpot-color-background-quaternary
  );
  --knob-label-arrow-fill-border-color-disabled: var(
    --penpot-color-background-quaternary
  );
}
