:root[data-theme='sketch'] {
  /* Base */
  --knob-min-width: var(--size-medium);
  --knob-height: 48px;
  --knob-top: var(--size-neg-xunit);

  --knob-label-height: 20px;
  --knob-label-padding: var(--size-xunit) var(--size-xxxsmall);
  --knob-label-radius: var(--border-radius-med);
  --knob-label-background-color: var(--sketch-color-background-primary);
  --knob-label-border-color: var(--sketch-color-border-secondary);
  --knob-label-border-width: var(--size-unit);
  --knob-label-text-color: var(--sketch-color-foreground-primary);

  --knob-label-arrow-stroke-inset: 0;
  --knob-label-arrow-stroke-width: 0;
  --knob-label-arrow-stroke-border-color: transparent;

  --knob-label-arrow-fill-inset: 0;
  --knob-label-arrow-fill-width: 0;
  --knob-label-arrow-fill-border-color: transparent;

  --knob-tooltip-top: var(--size-neg-xxsmall);
  --knob-tooltip-padding: var(--size-xunit) var(--size-xxxsmall);
  --knob-tooltip-min-width: var(--size-small);
  --knob-tooltip-radius: var(--border-radius-med);
  --knob-tooltip-background-color: var(--sketch-color-foreground-primary);
  --knob-tooltip-text-color: var(--sketch-color-background-primary);

  --knob-tooltip-arrow-inset: 0;
  --knob-tooltip-arrow-width: 0;

  --knob-graduation-width: var(--size-unit);
  --knob-graduation-height: var(--size-xxxsmall);
  --knob-graduation-background-color: var(--sketch-color-border-secondary);

  --knob-input-top: var(--size-neg-xxsmall);
  --knob-input-shadow: var(--shadow-floating-window);
  --knob-input-border-color: var(--sketch-color-border-secondary);
  --knob-input-border-width: var(--size-unit);
  --knob-input-border-offset: var(--size-neg-unit);
  --knob-input-radius: 10px;
  --knob-input-background-color: var(--sketch-color-background-primary);
  --knob-input-padding: var(--size-xunit);
  --knob-input-width: var(--size-xxlarge);

  /* State */
  --knob-label-background-color-hover: var(--sketch-color-background-tertiary);

  --knob-label-border-color-focus: var(--sketch-color-accent-primary);
  --knob-label-border-width-focus: var(--size-unit);
  --knob-label-background-color-focus: var(--sketch-color-accent-disabled);

  --knob-label-arrow-stroke-inset-focus: 0;
  --knob-label-arrow-stroke-width-focus: 0;
  --knob-label-arrow-stroke-border-color-focus: transparent;
  --knob-label-arrow-fill-border-color-focus: transparent;

  --knob-label-background-color-disabled: var(
    --sketch-color-background-disabled
  );

  --knob-label-arrow-stroke-border-color-disabled: transparent;
  --knob-label-arrow-fill-border-color-disabled: transparent;
}
