:root[data-theme='figma-ui2'] {
  --icon-adjust: url('../../icons/figma-ui2/adjust.svg');
  --icon-alert: url('../../icons/figma-ui2/alert.svg');
  --icon-angle: url('../../icons/figma-ui2/angle.svg');
  --icon-arrow_left_right: url('../../icons/figma-ui2/arrow-left-right.svg');
  --icon-arrow_up_down: url('../../icons/figma-ui2/arrow-up-down.svg');
  --icon-auto_layout_horizontal: url('../../icons/figma-ui2/auto-layout-horizontal.svg');
  --icon-auto_layout_vertical: url('../../icons/figma-ui2/auto-layout-vertical.svg');
  --icon-back: url('../../icons/figma-ui2/back.svg');
  --icon-blend_empty: url('../../icons/figma-ui2/blend-empty.svg');
  --icon-blend: url('../../icons/figma-ui2/blend.svg');
  --icon-break: url('../../icons/figma-ui2/break.svg');
  --icon-caret_down: url('../../icons/figma-ui2/caret-down.svg');
  --icon-caret_left: url('../../icons/figma-ui2/caret-left.svg');
  --icon-caret_right: url('../../icons/figma-ui2/caret-right.svg');
  --icon-caret_up: url('../../icons/figma-ui2/caret-up.svg');
  --icon-chevron_down: url('../../icons/figma-ui2/chevron-down.svg');
  --icon-chevron_left: url('../../icons/figma-ui2/chevron-left.svg');
  --icon-chevron_right: url('../../icons/figma-ui2/chevron-right.svg');
  --icon-chevron_up: url('../../icons/figma-ui2/chevron-up.svg');
  --icon-check: url('../../icons/figma-ui2/check.svg');
  --icon-close: url('../../icons/figma-ui2/close.svg');
  --icon-component: url('../../icons/figma-ui2/component.svg');
  --icon-corner_radius: url('../../icons/figma-ui2/corner-radius.svg');
  --icon-corners: url('../../icons/figma-ui2/corners.svg');
  --icon-downward: url('../../icons/figma-ui2/downward.svg');
  --icon-distribute_horizontal_spacing: url('../../icons/figma-ui2/distribute-horizontal-spacing.svg');
  --icon-distribute_vertical_spacing: url('../../icons/figma-ui2/distribute-vertical-spacing.svg');
  --icon-draft: url('../../icons/figma-ui2/draft.svg');
  --icon-effects: url('../../icons/figma-ui2/effects.svg');
  --icon-ellipses: url('../../icons/figma-ui2/ellipses.svg');
  --icon-eyedropper: url('../../icons/figma-ui2/eyedropper.svg');
  --icon-forward: url('../../icons/figma-ui2/forward.svg');
  --icon-filter: url('../../icons/figma-ui2/filter.svg');
  --icon-frame: url('../../icons/figma-ui2/frame.svg');
  --icon-group: url('../../icons/figma-ui2/group.svg');
  --icon-help: url('../../icons/figma-ui2/help.svg');
  --icon-hidden: url('../../icons/figma-ui2/hidden.svg');
  --icon-horizontal_padding: url('../../icons/figma-ui2/horizontal-padding.svg');
  --icon-hyperlink: url('../../icons/figma-ui2/hyperlink.svg');
  --icon-image: url('../../icons/figma-ui2/image.svg');
  --icon-import: url('../../icons/figma-ui2/import.svg');
  --icon-instance: url('../../icons/figma-ui2/instance.svg');
  --icon-key: url('../../icons/figma-ui2/key.svg');
  --icon-layout_align_bottom: url('../../icons/figma-ui2/layout-align-bottom.svg');
  --icon-layout_align_horizontal_centers: url('../../icons/figma-ui2/layout-align-horizontal-centers.svg');
  --icon-layout_align_left: url('../../icons/figma-ui2/layout-align-left.svg');
  --icon-layout_align_right: url('../../icons/figma-ui2/layout-align-right.svg');
  --icon-layout_align_top: url('../../icons/figma-ui2/layout-align-top.svg');
  --icon-layout_align_vertical_centers: url('../../icons/figma-ui2/layout-align-vertical-centers.svg');
  --icon-layout_grid_columns: url('../../icons/figma-ui2/layout-grid-columns.svg');
  --icon-layout_grid_rows: url('../../icons/figma-ui2/layout-grid-rows.svg');
  --icon-layout_grid_uniform: url('../../icons/figma-ui2/layout-grid-uniform.svg');
  --icon-library: url('../../icons/figma-ui2/library.svg');
  --icon-link_broken: url('../../icons/figma-ui2/link-broken.svg');
  --icon-link_connected: url('../../icons/figma-ui2/link-connected.svg');
  --icon-list_detailed: url('../../icons/figma-ui2/list-detailed.svg');
  --icon-list_tile: url('../../icons/figma-ui2/list-tile.svg');
  --icon-list: url('../../icons/figma-ui2/list.svg');
  --icon-lock_off: url('../../icons/figma-ui2/lock-off.svg');
  --icon-lock_on: url('../../icons/figma-ui2/lock-on.svg');
  --icon-minus: url('../../icons/figma-ui2/minus.svg');
  --icon-play: url('../../icons/figma-ui2/play.svg');
  --icon-plus: url('../../icons/figma-ui2/plus.svg');
  --icon-random: url('../../icons/figma-ui2/random.svg');
  --icon-recent: url('../../icons/figma-ui2/recent.svg');
  --icon-refresh: url('../../icons/figma-ui2/refresh.svg');
  --icon-reset: url('../../icons/figma-ui2/reset.svg');
  --icon-resize_to_fit: url('../../icons/figma-ui2/resize-to-fit.svg');
  --icon-resolve_filled: url('../../icons/figma-ui2/resolve-filled.svg');
  --icon-resolve: url('../../icons/figma-ui2/resolve.svg');
  --icon-reverse: url('../../icons/figma-ui2/reverse.svg');
  --icon-search_large: url('../../icons/figma-ui2/search-large.svg');
  --icon-search: url('../../icons/figma-ui2/search.svg');
  --icon-settings: url('../../icons/figma-ui2/settings.svg');
  --icon-share: url('../../icons/figma-ui2/share.svg');
  --icon-smiley: url('../../icons/figma-ui2/smiley.svg');
  --icon-sort_alpha_asc: url('../../icons/figma-ui2/sort-alpha-asc.svg');
  --icon-sort_alpha_dsc: url('../../icons/figma-ui2/sort-alpha-dsc.svg');
  --icon-sort_top_bottom: url('../../icons/figma-ui2/sort-top-bottom.svg');
  --icon-spacing: url('../../icons/figma-ui2/spacing.svg');
  --icon-star_off: url('../../icons/figma-ui2/star-off.svg');
  --icon-star_on: url('../../icons/figma-ui2/star-on.svg');
  --icon-stroke_weight: url('../../icons/figma-ui2/stroke-weight.svg');
  --icon-styles: url('../../icons/figma-ui2/styles.svg');
  --icon-swap: url('../../icons/figma-ui2/swap.svg');
  --icon-theme: url('../../icons/figma-ui2/theme.svg');
  --icon-tidy_up_grid: url('../../icons/figma-ui2/tidy-up-grid.svg');
  --icon-tidy_up_list_horizontal: url('../../icons/figma-ui2/tidy-up-list-horizontal.svg');
  --icon-tidy_up_list_vertical: url('../../icons/figma-ui2/tidy-up-list-vertical.svg');
  --icon-toggle_sidebar_top: url('../../icons/figma-ui2/toggle-sidebar-top.svg');
  --icon-toggle_sidebar_right: url('../../icons/figma-ui2/toggle-sidebar-right.svg');
  --icon-toggle_sidebar_bottom: url('../../icons/figma-ui2/toggle-sidebar-bottom.svg');
  --icon-toggle_sidebar_left: url('../../icons/figma-ui2/toggle-sidebar-left.svg');
  --icon-timer: url('../../icons/figma-ui2/timer.svg');
  --icon-trash: url('../../icons/figma-ui2/trash.svg');
  --icon-vertical_padding: url('../../icons/figma-ui2/vertical-padding.svg');
  --icon-visible: url('../../icons/figma-ui2/visible.svg');
  --icon-warning_large: url('../../icons/figma-ui2/warning-large.svg');
  --icon-warning: url('../../icons/figma-ui2/warning.svg');
  --icon-repository: url('../../icons/figma-ui2/repository.svg');
  --icon-info: url('../../icons/figma-ui2/info.svg');
  --icon-resize_grip: url('../../icons/figma-ui2/resize-grip.svg');
  --icon-spinner: url('../../icons/figma-ui2/spinner.svg');
  --icon-upward: url('../../icons/figma-ui2/upward.svg');
  --icon-user: url('../../icons/figma-ui2/user.svg');
  --icon-target: url('../../icons/figma-ui2/target.svg');
}
