:root[data-theme='figma-ui3'] {
  --icon-adjust: url('./figma-ui3-icons.svg#adjust');
  --icon-alert: url('./figma-ui3-icons.svg#alert');
  --icon-angle: url('./figma-ui3-icons.svg#angle');
  --icon-arrow-left-right: url('./figma-ui3-icons.svg#arrow-left-right');
  --icon-arrow-up-down: url('./figma-ui3-icons.svg#arrow-up-down');
  --icon-auto-layout-horizontal: url('./figma-ui3-icons.svg#auto-layout-horizontal');
  --icon-auto-layout-vertical: url('./figma-ui3-icons.svg#auto-layout-vertical');
  --icon-back: url('./figma-ui3-icons.svg#back');
  --icon-blend-empty: url('./figma-ui3-icons.svg#blend-empty');
  --icon-blend: url('./figma-ui3-icons.svg#blend');
  --icon-break: url('./figma-ui3-icons.svg#break');
  --icon-caret-down: url('./figma-ui3-icons.svg#caret-down');
  --icon-caret-left: url('./figma-ui3-icons.svg#caret-left');
  --icon-caret-right: url('./figma-ui3-icons.svg#caret-right');
  --icon-caret-up: url('./figma-ui3-icons.svg#caret-up');
  --icon-chevron-down: url('./figma-ui3-icons.svg#chevron-down');
  --icon-chevron-left: url('./figma-ui3-icons.svg#chevron-left');
  --icon-chevron-right: url('./figma-ui3-icons.svg#chevron-right');
  --icon-chevron-up: url('./figma-ui3-icons.svg#chevron-up');
  --icon-check: url('./figma-ui3-icons.svg#check');
  --icon-close: url('./figma-ui3-icons.svg#close');
  --icon-component: url('./figma-ui3-icons.svg#component');
  --icon-corner-radius: url('./figma-ui3-icons.svg#corner-radius');
  --icon-corners: url('./figma-ui3-icons.svg#corners');
  --icon-downward: url('./figma-ui3-icons.svg#downward');
  --icon-distribute-horizontal-spacing: url('./figma-ui3-icons.svg#distribute-horizontal-spacing');
  --icon-distribute-vertical-spacing: url('./figma-ui3-icons.svg#distribute-vertical-spacing');
  --icon-draft: url('./figma-ui3-icons.svg#draft');
  --icon-effects: url('./figma-ui3-icons.svg#effects');
  --icon-ellipses: url('./figma-ui3-icons.svg#ellipses');
  --icon-eyedropper: url('./figma-ui3-icons.svg#eyedropper');
  --icon-forward: url('./figma-ui3-icons.svg#forward');
  --icon-filter: url('./figma-ui3-icons.svg#filter');
  --icon-frame: url('./figma-ui3-icons.svg#frame');
  --icon-group: url('./figma-ui3-icons.svg#group');
  --icon-hidden: url('./figma-ui3-icons.svg#hidden');
  --icon-horizontal-padding: url('./figma-ui3-icons.svg#horizontal-padding');
  --icon-hyperlink: url('./figma-ui3-icons.svg#hyperlink');
  --icon-image: url('./figma-ui3-icons.svg#image');
  --icon-import: url('./figma-ui3-icons.svg#import');
  --icon-instance: url('./figma-ui3-icons.svg#instance');
  --icon-key: url('./figma-ui3-icons.svg#key');
  --icon-layout-align-bottom: url('./figma-ui3-icons.svg#layout-align-bottom');
  --icon-layout-align-horizontal-centers: url('./figma-ui3-icons.svg#layout-align-horizontal-centers');
  --icon-layout-align-left: url('./figma-ui3-icons.svg#layout-align-left');
  --icon-layout-align-right: url('./figma-ui3-icons.svg#layout-align-right');
  --icon-layout-align-top: url('./figma-ui3-icons.svg#layout-align-top');
  --icon-layout-align-vertical-centers: url('./figma-ui3-icons.svg#layout-align-vertical-centers');
  --icon-layout-grid-columns: url('./figma-ui3-icons.svg#layout-grid-columns');
  --icon-layout-grid-rows: url('./figma-ui3-icons.svg#layout-grid-rows');
  --icon-layout-grid-uniform: url('./figma-ui3-icons.svg#layout-grid-uniform');
  --icon-library: url('./figma-ui3-icons.svg#library');
  --icon-link-broken: url('./figma-ui3-icons.svg#link-broken');
  --icon-link-connected: url('./figma-ui3-icons.svg#link-connected');
  --icon-list-detailed: url('./figma-ui3-icons.svg#list-detailed');
  --icon-list-tile: url('./figma-ui3-icons.svg#list-tile');
  --icon-list: url('./figma-ui3-icons.svg#list');
  --icon-lock-off: url('./figma-ui3-icons.svg#lock-off');
  --icon-lock-on: url('./figma-ui3-icons.svg#lock-on');
  --icon-minus: url('./figma-ui3-icons.svg#minus');
  --icon-play: url('./figma-ui3-icons.svg#play');
  --icon-plus: url('./figma-ui3-icons.svg#plus');
  --icon-random: url('./figma-ui3-icons.svg#random');
  --icon-recent: url('./figma-ui3-icons.svg#recent');
  --icon-refresh: url('./figma-ui3-icons.svg#refresh');
  --icon-reset: url('./figma-ui3-icons.svg#reset');
  --icon-resize-to-fit: url('./figma-ui3-icons.svg#resize-to-fit');
  --icon-resolve-filled: url('./figma-ui3-icons.svg#resolve-filled');
  --icon-resolve: url('./figma-ui3-icons.svg#resolve');
  --icon-reverse: url('./figma-ui3-icons.svg#reverse');
  --icon-search-large: url('./figma-ui3-icons.svg#search-large');
  --icon-search: url('./figma-ui3-icons.svg#search');
  --icon-settings: url('./figma-ui3-icons.svg#settings');
  --icon-share: url('./figma-ui3-icons.svg#share');
  --icon-smiley: url('./figma-ui3-icons.svg#smiley');
  --icon-sort-alpha-asc: url('./figma-ui3-icons.svg#sort-alpha-asc');
  --icon-sort-alpha-dsc: url('./figma-ui3-icons.svg#sort-alpha-dsc');
  --icon-sort-top-bottom: url('./figma-ui3-icons.svg#sort-top-bottom');
  --icon-spacing: url('./figma-ui3-icons.svg#spacing');
  --icon-star-off: url('./figma-ui3-icons.svg#star-off');
  --icon-star-on: url('./figma-ui3-icons.svg#star-on');
  --icon-stroke-weight: url('./figma-ui3-icons.svg#stroke-weight');
  --icon-styles: url('./figma-ui3-icons.svg#styles');
  --icon-swap: url('./figma-ui3-icons.svg#swap');
  --icon-theme: url('./figma-ui3-icons.svg#theme');
  --icon-tidy-up-grid: url('./figma-ui3-icons.svg#tidy-up-grid');
  --icon-tidy-up-list-horizontal: url('./figma-ui3-icons.svg#tidy-up-list-horizontal');
  --icon-tidy-up-list-vertical: url('./figma-ui3-icons.svg#tidy-up-list-vertical');
  --icon-timer: url('./figma-ui3-icons.svg#timer');
  --icon-trash: url('./figma-ui3-icons.svg#trash');
  --icon-vertical-padding: url('./figma-ui3-icons.svg#vertical-padding');
  --icon-visible: url('./figma-ui3-icons.svg#visible');
  --icon-warning-large: url('./figma-ui3-icons.svg#warning-large');
  --icon-warning: url('./figma-ui3-icons.svg#warning');
  --icon-repository: url('./figma-ui3-icons.svg#repository');
  --icon-info: url('./figma-ui3-icons.svg#info');
  --icon-resize-grip: url('./figma-ui3-icons.svg#resize-grip');
  --icon-spinner: url('./figma-ui3-icons.svg#spinner');
  --icon-upward: url('./figma-ui3-icons.svg#upward');
  --icon-user: url('./figma-ui3-icons.svg#user');
  --icon-target: url('./figma-ui3-icons.svg#target');
  --icon-toggle-sidebar-top: url('./figma-ui3-icons.svg#toggle-sidebar-top');
  --icon-toggle-sidebar-right: url('./figma-ui3-icons.svg#toggle-sidebar-right');
  --icon-toggle-sidebar-bottom: url('./figma-ui3-icons.svg#toggle-sidebar-bottom');
  --icon-toggle-sidebar-left: url('./figma-ui3-icons.svg#toggle-sidebar-left');
}
