:root[data-theme='figma-ui3'] {
  --icon-adjust: url('../../icons/figma-ui3/adjust.svg');
  --icon-alert: url('../../icons/figma-ui3/alert.svg');
  --icon-angle: url('../../icons/figma-ui3/angle.svg');
  --icon-arrow_left_right: url('../../icons/figma-ui3/arrow-left-right.svg');
  --icon-arrow_up_down: url('../../icons/figma-ui3/arrow-up-down.svg');
  --icon-auto_layout_horizontal: url('../../icons/figma-ui3/auto-layout-horizontal.svg');
  --icon-auto_layout_vertical: url('../../icons/figma-ui3/auto-layout-vertical.svg');
  --icon-back: url('../../icons/figma-ui3/back.svg');
  --icon-blend_empty: url('../../icons/figma-ui3/blend-empty.svg');
  --icon-blend: url('../../icons/figma-ui3/blend.svg');
  --icon-break: url('../../icons/figma-ui3/break.svg');
  --icon-caret_down: url('../../icons/figma-ui3/caret-down.svg');
  --icon-caret_left: url('../../icons/figma-ui3/caret-left.svg');
  --icon-caret_right: url('../../icons/figma-ui3/caret-right.svg');
  --icon-caret_up: url('../../icons/figma-ui3/caret-up.svg');
  --icon-chevron_down: url('../../icons/figma-ui3/chevron-down.svg');
  --icon-chevron_left: url('../../icons/figma-ui3/chevron-left.svg');
  --icon-chevron_right: url('../../icons/figma-ui3/chevron-right.svg');
  --icon-chevron_up: url('../../icons/figma-ui3/chevron-up.svg');
  --icon-check: url('../../icons/figma-ui3/check.svg');
  --icon-close: url('../../icons/figma-ui3/close.svg');
  --icon-component: url('../../icons/figma-ui3/component.svg');
  --icon-corner_radius: url('../../icons/figma-ui3/corner-radius.svg');
  --icon-corners: url('../../icons/figma-ui3/corners.svg');
  --icon-downward: url('../../icons/figma-ui3/downward.svg');
  --icon-distribute_horizontal_spacing: url('../../icons/figma-ui3/distribute-horizontal-spacing.svg');
  --icon-distribute_vertical_spacing: url('../../icons/figma-ui3/distribute-vertical-spacing.svg');
  --icon-draft: url('../../icons/figma-ui3/draft.svg');
  --icon-effects: url('../../icons/figma-ui3/effects.svg');
  --icon-ellipses: url('../../icons/figma-ui3/ellipses.svg');
  --icon-eyedropper: url('../../icons/figma-ui3/eyedropper.svg');
  --icon-forward: url('../../icons/figma-ui3/forward.svg');
  --icon-filter: url('../../icons/figma-ui3/filter.svg');
  --icon-frame: url('../../icons/figma-ui3/frame.svg');
  --icon-group: url('../../icons/figma-ui3/group.svg');
  --icon-hidden: url('../../icons/figma-ui3/hidden.svg');
  --icon-horizontal_padding: url('../../icons/figma-ui3/horizontal-padding.svg');
  --icon-hyperlink: url('../../icons/figma-ui3/hyperlink.svg');
  --icon-image: url('../../icons/figma-ui3/image.svg');
  --icon-import: url('../../icons/figma-ui3/import.svg');
  --icon-instance: url('../../icons/figma-ui3/instance.svg');
  --icon-key: url('../../icons/figma-ui3/key.svg');
  --icon-layout_align_bottom: url('../../icons/figma-ui3/layout-align-bottom.svg');
  --icon-layout_align_horizontal_centers: url('../../icons/figma-ui3/layout-align-horizontal-centers.svg');
  --icon-layout_align_left: url('../../icons/figma-ui3/layout-align-left.svg');
  --icon-layout_align_right: url('../../icons/figma-ui3/layout-align-right.svg');
  --icon-layout_align_top: url('../../icons/figma-ui3/layout-align-top.svg');
  --icon-layout_align_vertical_centers: url('../../icons/figma-ui3/layout-align-vertical-centers.svg');
  --icon-layout_grid_columns: url('../../icons/figma-ui3/layout-grid-columns.svg');
  --icon-layout_grid_rows: url('../../icons/figma-ui3/layout-grid-rows.svg');
  --icon-layout_grid_uniform: url('../../icons/figma-ui3/layout-grid-uniform.svg');
  --icon-library: url('../../icons/figma-ui3/library.svg');
  --icon-link_broken: url('../../icons/figma-ui3/link-broken.svg');
  --icon-link_connected: url('../../icons/figma-ui3/link-connected.svg');
  --icon-list_detailed: url('../../icons/figma-ui3/list-detailed.svg');
  --icon-list_tile: url('../../icons/figma-ui3/list-tile.svg');
  --icon-list: url('../../icons/figma-ui3/list.svg');
  --icon-lock_off: url('../../icons/figma-ui3/lock-off.svg');
  --icon-lock_on: url('../../icons/figma-ui3/lock-on.svg');
  --icon-minus: url('../../icons/figma-ui3/minus.svg');
  --icon-play: url('../../icons/figma-ui3/play.svg');
  --icon-plus: url('../../icons/figma-ui3/plus.svg');
  --icon-random: url('../../icons/figma-ui3/random.svg');
  --icon-recent: url('../../icons/figma-ui3/recent.svg');
  --icon-refresh: url('../../icons/figma-ui3/refresh.svg');
  --icon-reset: url('../../icons/figma-ui3/reset.svg');
  --icon-resize_to_fit: url('../../icons/figma-ui3/resize-to-fit.svg');
  --icon-resolve_filled: url('../../icons/figma-ui3/resolve-filled.svg');
  --icon-resolve: url('../../icons/figma-ui3/resolve.svg');
  --icon-reverse: url('../../icons/figma-ui3/reverse.svg');
  --icon-search_large: url('../../icons/figma-ui3/search-large.svg');
  --icon-search: url('../../icons/figma-ui3/search.svg');
  --icon-settings: url('../../icons/figma-ui3/settings.svg');
  --icon-share: url('../../icons/figma-ui3/share.svg');
  --icon-smiley: url('../../icons/figma-ui3/smiley.svg');
  --icon-sort_alpha_asc: url('../../icons/figma-ui3/sort-alpha-asc.svg');
  --icon-sort_alpha_dsc: url('../../icons/figma-ui3/sort-alpha-dsc.svg');
  --icon-sort_top_bottom: url('../../icons/figma-ui3/sort-top-bottom.svg');
  --icon-spacing: url('../../icons/figma-ui3/spacing.svg');
  --icon-star_off: url('../../icons/figma-ui3/star-off.svg');
  --icon-star_on: url('../../icons/figma-ui3/star-on.svg');
  --icon-stroke_weight: url('../../icons/figma-ui3/stroke-weight.svg');
  --icon-styles: url('../../icons/figma-ui3/styles.svg');
  --icon-swap: url('../../icons/figma-ui3/swap.svg');
  --icon-theme: url('../../icons/figma-ui3/theme.svg');
  --icon-tidy_up_grid: url('../../icons/figma-ui3/tidy-up-grid.svg');
  --icon-tidy_up_list_horizontal: url('../../icons/figma-ui3/tidy-up-list-horizontal.svg');
  --icon-tidy_up_list_vertical: url('../../icons/figma-ui3/tidy-up-list-vertical.svg');
  --icon-timer: url('../../icons/figma-ui3/timer.svg');
  --icon-toggle_sidebar_top: url('../../icons/figma-ui3/toggle-sidebar-top.svg');
  --icon-toggle_sidebar_right: url('../../icons/figma-ui3/toggle-sidebar-right.svg');
  --icon-toggle_sidebar_bottom: url('../../icons/figma-ui3/toggle-sidebar-bottom.svg');
  --icon-toggle_sidebar_left: url('../../icons/figma-ui3/toggle-sidebar-left.svg');
  --icon-trash: url('../../icons/figma-ui3/trash.svg');
  --icon-vertical_padding: url('../../icons/figma-ui3/vertical-padding.svg');
  --icon-visible: url('../../icons/figma-ui3/visible.svg');
  --icon-warning_large: url('../../icons/figma-ui3/warning-large.svg');
  --icon-warning: url('../../icons/figma-ui3/warning.svg');
  --icon-repository: url('../../icons/figma-ui3/repository.svg');
  --icon-info: url('../../icons/figma-ui3/info.svg');
  --icon-resize_grip: url('../../icons/figma-ui3/resize-grip.svg');
  --icon-spinner: url('../../icons/figma-ui3/spinner.svg');
  --icon-upward: url('../../icons/figma-ui3/upward.svg');
  --icon-user: url('../../icons/figma-ui3/user.svg');
  --icon-target: url('../../icons/figma-ui3/target.svg');
}
