@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.icon {
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  cursor: default;
  pointer-events: none;

  &--adjust {
    mask-image: var(--icon-adjust);
    -webkit-mask-image: var(--icon-adjust);
  }

  &--alert {
    mask-image: var(--icon-alert);
    -webkit-mask-image: var(--icon-alert);
  }

  &--angle {
    mask-image: var(--icon-angle);
    -webkit-mask-image: var(--icon-angle);
  }

  &--arrow_left_right {
    mask-image: var(--icon-arrow_left_right);
    -webkit-mask-image: var(--icon-arrow_left_right);
  }

  &--arrow_up_down {
    mask-image: var(--icon-arrow_up_down);
    -webkit-mask-image: var(--icon-arrow_up_down);
  }

  &--auto_layout_horizontal {
    mask-image: var(--icon-auto_layout_horizontal);
    -webkit-mask-image: var(--icon-auto_layout_horizontal);
  }

  &--auto_layout_vertical {
    mask-image: var(--icon-auto_layout_vertical);
    -webkit-mask-image: var(--icon-auto_layout_vertical);
  }

  &--back {
    mask-image: var(--icon-back);
    -webkit-mask-image: var(--icon-back);
  }

  &--blend_empty {
    mask-image: var(--icon-blend_empty);
    -webkit-mask-image: var(--icon-blend_empty);
  }

  &--blend {
    mask-image: var(--icon-blend);
    -webkit-mask-image: var(--icon-blend);
  }

  &--break {
    mask-image: var(--icon-break);
    -webkit-mask-image: var(--icon-break);
  }

  &--caret_down {
    mask-image: var(--icon-caret_down);
    -webkit-mask-image: var(--icon-caret_down);
  }

  &--caret_left {
    mask-image: var(--icon-caret_left);
    -webkit-mask-image: var(--icon-caret_left);
  }

  &--caret_right {
    mask-image: var(--icon-caret_right);
    -webkit-mask-image: var(--icon-caret_right);
  }

  &--caret_up {
    mask-image: var(--icon-caret_up);
    -webkit-mask-image: var(--icon-caret_up);
  }

  &--chevron_down {
    mask-image: var(--icon-chevron_down);
    -webkit-mask-image: var(--icon-chevron_down);
  }

  &--chevron_left {
    mask-image: var(--icon-chevron_left);
    -webkit-mask-image: var(--icon-chevron_left);
  }

  &--chevron_right {
    mask-image: var(--icon-chevron_right);
    -webkit-mask-image: var(--icon-chevron_right);
  }

  &--chevron_up {
    mask-image: var(--icon-chevron_up);
    -webkit-mask-image: var(--icon-chevron_up);
  }

  &--check {
    mask-image: var(--icon-check);
    -webkit-mask-image: var(--icon-check);
  }

  &--close {
    mask-image: var(--icon-close);
    -webkit-mask-image: var(--icon-close);
  }

  &--component {
    mask-image: var(--icon-component);
    -webkit-mask-image: var(--icon-component);
  }

  &--corner_radius {
    mask-image: var(--icon-corner_radius);
    -webkit-mask-image: var(--icon-corner_radius);
  }

  &--corners {
    mask-image: var(--icon-corners);
    -webkit-mask-image: var(--icon-corners);
  }

  &--downward {
    mask-image: var(--icon-downward);
    -webkit-mask-image: var(--icon-downward);
  }

  &--distribute_horizontal_spacing {
    mask-image: var(--icon-distribute_horizontal_spacing);
    -webkit-mask-image: var(--icon-distribute_horizontal_spacing);
  }

  &--distribute_vertical_spacing {
    mask-image: var(--icon-distribute_vertical_spacing);
    -webkit-mask-image: var(--icon-distribute_vertical_spacing);
  }

  &--draft {
    mask-image: var(--icon-draft);
    -webkit-mask-image: var(--icon-draft);
  }

  &--effects {
    mask-image: var(--icon-effects);
    -webkit-mask-image: var(--icon-effects);
  }

  &--ellipses {
    mask-image: var(--icon-ellipses);
    -webkit-mask-image: var(--icon-ellipses);
  }

  &--eyedropper {
    mask-image: var(--icon-eyedropper);
    -webkit-mask-image: var(--icon-eyedropper);
  }

  &--forward {
    mask-image: var(--icon-forward);
    -webkit-mask-image: var(--icon-forward);
  }

  &--filter {
    mask-image: var(--icon-filter);
    -webkit-mask-image: var(--icon-filter);
  }

  &--frame {
    mask-image: var(--icon-frame);
    -webkit-mask-image: var(--icon-frame);
  }

  &--group {
    mask-image: var(--icon-group);
    -webkit-mask-image: var(--icon-group);
  }

  &--hidden {
    mask-image: var(--icon-hidden);
    -webkit-mask-image: var(--icon-hidden);
  }

  &--horizontal_padding {
    mask-image: var(--icon-horizontal_padding);
    -webkit-mask-image: var(--icon-horizontal_padding);
  }

  &--hyperlink {
    mask-image: var(--icon-hyperlink);
    -webkit-mask-image: var(--icon-hyperlink);
  }

  &--image {
    mask-image: var(--icon-image);
    -webkit-mask-image: var(--icon-image);
  }

  &--import {
    mask-image: var(--icon-import);
    -webkit-mask-image: var(--icon-import);
  }

  &--instance {
    mask-image: var(--icon-instance);
    -webkit-mask-image: var(--icon-instance);
  }

  &--key {
    mask-image: var(--icon-key);
    -webkit-mask-image: var(--icon-key);
  }

  &--layout_align_bottom {
    mask-image: var(--icon-layout_align_bottom);
    -webkit-mask-image: var(--icon-layout_align_bottom);
  }

  &--layout_align_horizontal_centers {
    mask-image: var(--icon-layout_align_horizontal_centers);
    -webkit-mask-image: var(--icon-layout_align_horizontal_centers);
  }

  &--layout_align_left {
    mask-image: var(--icon-layout_align_left);
    -webkit-mask-image: var(--icon-layout_align_left);
  }

  &--layout_align_right {
    mask-image: var(--icon-layout_align_right);
    -webkit-mask-image: var(--icon-layout_align_right);
  }

  &--layout_align_top {
    mask-image: var(--icon-layout_align_top);
    -webkit-mask-image: var(--icon-layout_align_top);
  }

  &--layout_align_vertical_centers {
    mask-image: var(--icon-layout_align_vertical_centers);
    -webkit-mask-image: var(--icon-layout_align_vertical_centers);
  }

  &--layout_grid_columns {
    mask-image: var(--icon-layout_grid_columns);
    -webkit-mask-image: var(--icon-layout_grid_columns);
  }

  &--layout_grid_rows {
    mask-image: var(--icon-layout_grid_rows);
    -webkit-mask-image: var(--icon-layout_grid_rows);
  }

  &--layout_grid_uniform {
    mask-image: var(--icon-layout_grid_uniform);
    -webkit-mask-image: var(--icon-layout_grid_uniform);
  }

  &--library {
    mask-image: var(--icon-library);
    -webkit-mask-image: var(--icon-library);
  }

  &--link_broken {
    mask-image: var(--icon-link_broken);
    -webkit-mask-image: var(--icon-link_broken);
  }

  &--link_connected {
    mask-image: var(--icon-link_connected);
    -webkit-mask-image: var(--icon-link_connected);
  }

  &--list_detailed {
    mask-image: var(--icon-list_detailed);
    -webkit-mask-image: var(--icon-list_detailed);
  }

  &--list_tile {
    mask-image: var(--icon-list_tile);
    -webkit-mask-image: var(--icon-list_tile);
  }

  &--list {
    mask-image: var(--icon-list);
    -webkit-mask-image: var(--icon-list);
  }

  &--lock_off {
    mask-image: var(--icon-lock_off);
    -webkit-mask-image: var(--icon-lock_off);
  }

  &--lock_on {
    mask-image: var(--icon-lock_on);
    -webkit-mask-image: var(--icon-lock_on);
  }

  &--minus {
    mask-image: var(--icon-minus);
    -webkit-mask-image: var(--icon-minus);
  }

  &--play {
    mask-image: var(--icon-play);
    -webkit-mask-image: var(--icon-play);
  }

  &--plus {
    mask-image: var(--icon-plus);
    -webkit-mask-image: var(--icon-plus);
  }

  &--random {
    mask-image: var(--icon-random);
    -webkit-mask-image: var(--icon-random);
  }

  &--recent {
    mask-image: var(--icon-recent);
    -webkit-mask-image: var(--icon-recent);
  }

  &--refresh {
    mask-image: var(--icon-refresh);
    -webkit-mask-image: var(--icon-refresh);
  }

  &--reset {
    mask-image: var(--icon-reset);
    -webkit-mask-image: var(--icon-reset);
  }

  &--resize_to_fit {
    mask-image: var(--icon-resize_to_fit);
    -webkit-mask-image: var(--icon-resize_to_fit);
  }

  &--resolve_filled {
    mask-image: var(--icon-resolve_filled);
    -webkit-mask-image: var(--icon-resolve_filled);
  }

  &--resolve {
    mask-image: var(--icon-resolve);
    -webkit-mask-image: var(--icon-resolve);
  }

  &--reverse {
    mask-image: var(--icon-reverse);
    -webkit-mask-image: var(--icon-reverse);
  }

  &--search_large {
    mask-image: var(--icon-search_large);
    -webkit-mask-image: var(--icon-search_large);
  }

  &--search {
    mask-image: var(--icon-search);
    -webkit-mask-image: var(--icon-search);
  }

  &--settings {
    mask-image: var(--icon-settings);
    -webkit-mask-image: var(--icon-settings);
  }

  &--share {
    mask-image: var(--icon-share);
    -webkit-mask-image: var(--icon-share);
  }

  &--smiley {
    mask-image: var(--icon-smiley);
    -webkit-mask-image: var(--icon-smiley);
  }

  &--sort_alpha_asc {
    mask-image: var(--icon-sort_alpha_asc);
    -webkit-mask-image: var(--icon-sort_alpha_asc);
  }

  &--sort_alpha_dsc {
    mask-image: var(--icon-sort_alpha_dsc);
    -webkit-mask-image: var(--icon-sort_alpha_dsc);
  }

  &--sort_top_bottom {
    mask-image: var(--icon-sort_top_bottom);
    -webkit-mask-image: var(--icon-sort_top_bottom);
  }

  &--spacing {
    mask-image: var(--icon-spacing);
    -webkit-mask-image: var(--icon-spacing);
  }

  &--star_off {
    mask-image: var(--icon-star_off);
    -webkit-mask-image: var(--icon-star_off);
  }

  &--star_on {
    mask-image: var(--icon-star_on);
    -webkit-mask-image: var(--icon-star_on);
  }

  &--stroke_weight {
    mask-image: var(--icon-stroke_weight);
    -webkit-mask-image: var(--icon-stroke_weight);
  }

  &--styles {
    mask-image: var(--icon-styles);
    -webkit-mask-image: var(--icon-styles);
  }

  &--swap {
    mask-image: var(--icon-swap);
    -webkit-mask-image: var(--icon-swap);
  }

  &--theme {
    mask-image: var(--icon-theme);
    -webkit-mask-image: var(--icon-theme);
  }

  &--tidy_up_grid {
    mask-image: var(--icon-tidy_up_grid);
    -webkit-mask-image: var(--icon-tidy_up_grid);
  }

  &--tidy_up_list_horizontal {
    mask-image: var(--icon-tidy_up_list_horizontal);
    -webkit-mask-image: var(--icon-tidy_up_list_horizontal);
  }

  &--tidy_up_list_vertical {
    mask-image: var(--icon-tidy_up_list_vertical);
    -webkit-mask-image: var(--icon-tidy_up_list_vertical);
  }

  &--timer {
    mask-image: var(--icon-timer);
    -webkit-mask-image: var(--icon-timer);
  }

  &--toggle_sidebar_top {
    mask-image: var(--icon-toggle_sidebar_top);
    -webkit-mask-image: var(--icon-toggle_sidebar_top);
  }

  &--toggle_sidebar_right {
    mask-image: var(--icon-toggle_sidebar_right);
    -webkit-mask-image: var(--icon-toggle_sidebar_right);
  }

  &--toggle_sidebar_bottom {
    mask-image: var(--icon-toggle_sidebar_bottom);
    -webkit-mask-image: var(--icon-toggle_sidebar_bottom);
  }

  &--toggle_sidebar_left {
    mask-image: var(--icon-toggle_sidebar_left);
    -webkit-mask-image: var(--icon-toggle_sidebar_left);
  }

  &--trash {
    mask-image: var(--icon-trash);
    -webkit-mask-image: var(--icon-trash);
  }

  &--vertical_padding {
    mask-image: var(--icon-vertical_padding);
    -webkit-mask-image: var(--icon-vertical_padding);
  }

  &--visible {
    mask-image: var(--icon-visible);
    -webkit-mask-image: var(--icon-visible);
  }

  &--warning_large {
    mask-image: var(--icon-warning_large);
    -webkit-mask-image: var(--icon-warning_large);
  }

  &--warning {
    mask-image: var(--icon-warning);
    -webkit-mask-image: var(--icon-warning);
  }

  &--repository {
    mask-image: var(--icon-repository);
    -webkit-mask-image: var(--icon-repository);
  }

  &--info {
    mask-image: var(--icon-info);
    -webkit-mask-image: var(--icon-info);
  }

  &--resize_grip {
    mask-image: var(--icon-resize_grip);
    -webkit-mask-image: var(--icon-resize_grip);
  }

  &--spinner {
    mask-image: var(--icon-spinner);
    -webkit-mask-image: var(--icon-spinner);
  }

  &--upward {
    mask-image: var(--icon-upward);
    -webkit-mask-image: var(--icon-upward);
  }

  &--user {
    mask-image: var(--icon-user);
    -webkit-mask-image: var(--icon-user);
  }

  &--target {
    mask-image: var(--icon-target);
    -webkit-mask-image: var(--icon-target);
  }
}
