:root[data-theme='penpot'] {
  --icon-adjust: url('../../icons/penpot/adjust.svg');
  --icon-alert: url('../../icons/penpot/alert.svg');
  --icon-angle: url('../../icons/penpot/angle.svg');
  --icon-arrow_left_right: url('../../icons/penpot/arrow-left-right.svg');
  --icon-arrow_up_down: url('../../icons/penpot/arrow-up-down.svg');
  --icon-auto_layout_horizontal: url('../../icons/penpot/auto-layout-horizontal.svg');
  --icon-auto_layout_vertical: url('../../icons/penpot/auto-layout-vertical.svg');
  --icon-back: url('../../icons/penpot/back.svg');
  --icon-blend_empty: url('../../icons/penpot/blend-empty.svg');
  --icon-blend: url('../../icons/penpot/blend.svg');
  --icon-break: url('../../icons/penpot/break.svg');
  --icon-caret_down: url('../../icons/penpot/caret-down.svg');
  --icon-caret_left: url('../../icons/penpot/caret-left.svg');
  --icon-caret_right: url('../../icons/penpot/caret-right.svg');
  --icon-caret_up: url('../../icons/penpot/caret-up.svg');
  --icon-chevron_down: url('../../icons/penpot/chevron-down.svg');
  --icon-chevron_left: url('../../icons/penpot/chevron-left.svg');
  --icon-chevron_right: url('../../icons/penpot/chevron-right.svg');
  --icon-chevron_up: url('../../icons/penpot/chevron-up.svg');
  --icon-check: url('../../icons/penpot/check.svg');
  --icon-close: url('../../icons/penpot/close.svg');
  --icon-component: url('../../icons/penpot/component.svg');
  --icon-corner_radius: url('../../icons/penpot/corner-radius.svg');
  --icon-corners: url('../../icons/penpot/corners.svg');
  --icon-downward: url('../../icons/penpot/downward.svg');
  --icon-distribute_horizontal_spacing: url('../../icons/penpot/distribute-horizontal-spacing.svg');
  --icon-distribute_vertical_spacing: url('../../icons/penpot/distribute-vertical-spacing.svg');
  --icon-draft: url('../../icons/penpot/draft.svg');
  --icon-effects: url('../../icons/penpot/effects.svg');
  --icon-ellipses: url('../../icons/penpot/ellipses.svg');
  --icon-eyedropper: url('../../icons/penpot/eyedropper.svg');
  --icon-forward: url('../../icons/penpot/forward.svg');
  --icon-filter: url('../../icons/penpot/filter.svg');
  --icon-frame: url('../../icons/penpot/frame.svg');
  --icon-group: url('../../icons/penpot/group.svg');
  --icon-hidden: url('../../icons/penpot/hidden.svg');
  --icon-horizontal_padding: url('../../icons/penpot/horizontal-padding.svg');
  --icon-hyperlink: url('../../icons/penpot/hyperlink.svg');
  --icon-image: url('../../icons/penpot/image.svg');
  --icon-import: url('../../icons/penpot/import.svg');
  --icon-instance: url('../../icons/penpot/instance.svg');
  --icon-key: url('../../icons/penpot/key.svg');
  --icon-layout_align_bottom: url('../../icons/penpot/layout-align-bottom.svg');
  --icon-layout_align_horizontal_centers: url('../../icons/penpot/layout-align-horizontal-centers.svg');
  --icon-layout_align_left: url('../../icons/penpot/layout-align-left.svg');
  --icon-layout_align_right: url('../../icons/penpot/layout-align-right.svg');
  --icon-layout_align_top: url('../../icons/penpot/layout-align-top.svg');
  --icon-layout_align_vertical_centers: url('../../icons/penpot/layout-align-vertical-centers.svg');
  --icon-layout_grid_columns: url('../../icons/penpot/layout-grid-columns.svg');
  --icon-layout_grid_rows: url('../../icons/penpot/layout-grid-rows.svg');
  --icon-layout_grid_uniform: url('../../icons/penpot/layout-grid-uniform.svg');
  --icon-library: url('../../icons/penpot/library.svg');
  --icon-link_broken: url('../../icons/penpot/link-broken.svg');
  --icon-link_connected: url('../../icons/penpot/link-connected.svg');
  --icon-list_detailed: url('../../icons/penpot/list-detailed.svg');
  --icon-list_tile: url('../../icons/penpot/list-tile.svg');
  --icon-list: url('../../icons/penpot/list.svg');
  --icon-lock_off: url('../../icons/penpot/lock-off.svg');
  --icon-lock_on: url('../../icons/penpot/lock-on.svg');
  --icon-minus: url('../../icons/penpot/minus.svg');
  --icon-play: url('../../icons/penpot/play.svg');
  --icon-plus: url('../../icons/penpot/plus.svg');
  --icon-random: url('../../icons/penpot/random.svg');
  --icon-recent: url('../../icons/penpot/recent.svg');
  --icon-refresh: url('../../icons/penpot/refresh.svg');
  --icon-reset: url('../../icons/penpot/reset.svg');
  --icon-resize_to_fit: url('../../icons/penpot/resize-to-fit.svg');
  --icon-resolve_filled: url('../../icons/penpot/resolve-filled.svg');
  --icon-resolve: url('../../icons/penpot/resolve.svg');
  --icon-reverse: url('../../icons/penpot/reverse.svg');
  --icon-search_large: url('../../icons/penpot/search-large.svg');
  --icon-search: url('../../icons/penpot/search.svg');
  --icon-settings: url('../../icons/penpot/settings.svg');
  --icon-share: url('../../icons/penpot/share.svg');
  --icon-smiley: url('../../icons/penpot/smiley.svg');
  --icon-sort_alpha_asc: url('../../icons/penpot/sort-alpha-asc.svg');
  --icon-sort_alpha_dsc: url('../../icons/penpot/sort-alpha-dsc.svg');
  --icon-sort_top_bottom: url('../../icons/penpot/sort-top-bottom.svg');
  --icon-spacing: url('../../icons/penpot/spacing.svg');
  --icon-star_off: url('../../icons/penpot/star-off.svg');
  --icon-star_on: url('../../icons/penpot/star-on.svg');
  --icon-stroke_weight: url('../../icons/penpot/stroke-weight.svg');
  --icon-styles: url('../../icons/penpot/styles.svg');
  --icon-swap: url('../../icons/penpot/swap.svg');
  --icon-theme: url('../../icons/penpot/theme.svg');
  --icon-tidy_up_grid: url('../../icons/penpot/tidy-up-grid.svg');
  --icon-tidy_up_list_horizontal: url('../../icons/penpot/tidy-up-list-horizontal.svg');
  --icon-tidy_up_list_vertical: url('../../icons/penpot/tidy-up-list-vertical.svg');
  --icon-timer: url('../../icons/penpot/timer.svg');
  --icon-toggle_sidebar_top: url('../../icons/penpot/toggle-sidebar-top.svg');
  --icon-toggle_sidebar_right: url('../../icons/penpot/toggle-sidebar-right.svg');
  --icon-toggle_sidebar_bottom: url('../../icons/penpot/toggle-sidebar-bottom.svg');
  --icon-toggle_sidebar_left: url('../../icons/penpot/toggle-sidebar-left.svg');
  --icon-trash: url('../../icons/penpot/trash.svg');
  --icon-vertical_padding: url('../../icons/penpot/vertical-padding.svg');
  --icon-visible: url('../../icons/penpot/visible.svg');
  --icon-warning_large: url('../../icons/penpot/warning-large.svg');
  --icon-warning: url('../../icons/penpot/warning.svg');
  --icon-repository: url('../../icons/penpot/repository.svg');
  --icon-info: url('../../icons/penpot/info.svg');
  --icon-resize_grip: url('../../icons/penpot/resize-grip.svg');
  --icon-spinner: url('../../icons/penpot/spinner.svg');
  --icon-upward: url('../../icons/penpot/upward.svg');
  --icon-user: url('../../icons/penpot/user.svg');
  --icon-target: url('../../icons/penpot/target.svg');
}
