:root[data-theme='sketch'] {
  --icon-adjust: url('../../icons/sketch/adjust.svg');
  --icon-alert: url('../../icons/sketch/alert.svg');
  --icon-angle: url('../../icons/sketch/angle.svg');
  --icon-arrow_left_right: url('../../icons/sketch/arrow-left-right.svg');
  --icon-arrow_up_down: url('../../icons/sketch/arrow-up-down.svg');
  --icon-auto_layout_horizontal: url('../../icons/sketch/auto-layout-horizontal.svg');
  --icon-auto_layout_vertical: url('../../icons/sketch/auto-layout-vertical.svg');
  --icon-back: url('../../icons/sketch/back.svg');
  --icon-blend_empty: url('../../icons/sketch/blend-empty.svg');
  --icon-blend: url('../../icons/sketch/blend.svg');
  --icon-break: url('../../icons/sketch/break.svg');
  --icon-caret_down: url('../../icons/sketch/caret-down.svg');
  --icon-caret_left: url('../../icons/sketch/caret-left.svg');
  --icon-caret_right: url('../../icons/sketch/caret-right.svg');
  --icon-caret_up: url('../../icons/sketch/caret-up.svg');
  --icon-chevron_down: url('../../icons/sketch/chevron-down.svg');
  --icon-chevron_left: url('../../icons/sketch/chevron-left.svg');
  --icon-chevron_right: url('../../icons/sketch/chevron-right.svg');
  --icon-chevron_up: url('../../icons/sketch/chevron-up.svg');
  --icon-check: url('../../icons/sketch/check.svg');
  --icon-close: url('../../icons/sketch/close.svg');
  --icon-component: url('../../icons/sketch/component.svg');
  --icon-corner_radius: url('../../icons/sketch/corner-radius.svg');
  --icon-corners: url('../../icons/sketch/corners.svg');
  --icon-downward: url('../../icons/sketch/downward.svg');
  --icon-distribute_horizontal_spacing: url('../../icons/sketch/distribute-horizontal-spacing.svg');
  --icon-distribute_vertical_spacing: url('../../icons/sketch/distribute-vertical-spacing.svg');
  --icon-draft: url('../../icons/sketch/draft.svg');
  --icon-effects: url('../../icons/sketch/effects.svg');
  --icon-ellipses: url('../../icons/sketch/ellipses.svg');
  --icon-eyedropper: url('../../icons/sketch/eyedropper.svg');
  --icon-forward: url('../../icons/sketch/forward.svg');
  --icon-filter: url('../../icons/sketch/filter.svg');
  --icon-frame: url('../../icons/sketch/frame.svg');
  --icon-group: url('../../icons/sketch/group.svg');
  --icon-hidden: url('../../icons/sketch/hidden.svg');
  --icon-horizontal_padding: url('../../icons/sketch/horizontal-padding.svg');
  --icon-hyperlink: url('../../icons/sketch/hyperlink.svg');
  --icon-image: url('../../icons/sketch/image.svg');
  --icon-import: url('../../icons/sketch/import.svg');
  --icon-instance: url('../../icons/sketch/instance.svg');
  --icon-key: url('../../icons/sketch/key.svg');
  --icon-layout_align_bottom: url('../../icons/sketch/layout-align-bottom.svg');
  --icon-layout_align_horizontal_centers: url('../../icons/sketch/layout-align-horizontal-centers.svg');
  --icon-layout_align_left: url('../../icons/sketch/layout-align-left.svg');
  --icon-layout_align_right: url('../../icons/sketch/layout-align-right.svg');
  --icon-layout_align_top: url('../../icons/sketch/layout-align-top.svg');
  --icon-layout_align_vertical_centers: url('../../icons/sketch/layout-align-vertical-centers.svg');
  --icon-layout_grid_columns: url('../../icons/sketch/layout-grid-columns.svg');
  --icon-layout_grid_rows: url('../../icons/sketch/layout-grid-rows.svg');
  --icon-layout_grid_uniform: url('../../icons/sketch/layout-grid-uniform.svg');
  --icon-library: url('../../icons/sketch/library.svg');
  --icon-link_broken: url('../../icons/sketch/link-broken.svg');
  --icon-link_connected: url('../../icons/sketch/link-connected.svg');
  --icon-list_detailed: url('../../icons/sketch/list-detailed.svg');
  --icon-list_tile: url('../../icons/sketch/list-tile.svg');
  --icon-list: url('../../icons/sketch/list.svg');
  --icon-lock_off: url('../../icons/sketch/lock-off.svg');
  --icon-lock_on: url('../../icons/sketch/lock-on.svg');
  --icon-minus: url('../../icons/sketch/minus.svg');
  --icon-play: url('../../icons/sketch/play.svg');
  --icon-plus: url('../../icons/sketch/plus.svg');
  --icon-random: url('../../icons/sketch/random.svg');
  --icon-recent: url('../../icons/sketch/recent.svg');
  --icon-refresh: url('../../icons/sketch/refresh.svg');
  --icon-reset: url('../../icons/sketch/reset.svg');
  --icon-resize_to_fit: url('../../icons/sketch/resize-to-fit.svg');
  --icon-resolve_filled: url('../../icons/sketch/resolve-filled.svg');
  --icon-resolve: url('../../icons/sketch/resolve.svg');
  --icon-reverse: url('../../icons/sketch/reverse.svg');
  --icon-search_large: url('../../icons/sketch/search-large.svg');
  --icon-search: url('../../icons/sketch/search.svg');
  --icon-settings: url('../../icons/sketch/settings.svg');
  --icon-share: url('../../icons/sketch/share.svg');
  --icon-smiley: url('../../icons/sketch/smiley.svg');
  --icon-sort_alpha_asc: url('../../icons/sketch/sort-alpha-asc.svg');
  --icon-sort_alpha_dsc: url('../../icons/sketch/sort-alpha-dsc.svg');
  --icon-sort_top_bottom: url('../../icons/sketch/sort-top-bottom.svg');
  --icon-spacing: url('../../icons/sketch/spacing.svg');
  --icon-star_off: url('../../icons/sketch/star-off.svg');
  --icon-star_on: url('../../icons/sketch/star-on.svg');
  --icon-stroke_weight: url('../../icons/sketch/stroke-weight.svg');
  --icon-styles: url('../../icons/sketch/styles.svg');
  --icon-swap: url('../../icons/sketch/swap.svg');
  --icon-theme: url('../../icons/sketch/theme.svg');
  --icon-tidy_up_grid: url('../../icons/sketch/tidy-up-grid.svg');
  --icon-tidy_up_list_horizontal: url('../../icons/sketch/tidy-up-list-horizontal.svg');
  --icon-tidy_up_list_vertical: url('../../icons/sketch/tidy-up-list-vertical.svg');
  --icon-timer: url('../../icons/sketch/timer.svg');
  --icon-toggle_sidebar_top: url('../../icons/sketch/toggle-sidebar-top.svg');
  --icon-toggle_sidebar_right: url('../../icons/sketch/toggle-sidebar-right.svg');
  --icon-toggle_sidebar_bottom: url('../../icons/sketch/toggle-sidebar-bottom.svg');
  --icon-toggle_sidebar_left: url('../../icons/sketch/toggle-sidebar-left.svg');
  --icon-trash: url('../../icons/sketch/trash.svg');
  --icon-vertical_padding: url('../../icons/sketch/vertical-padding.svg');
  --icon-visible: url('../../icons/sketch/visible.svg');
  --icon-warning_large: url('../../icons/sketch/warning-large.svg');
  --icon-warning: url('../../icons/sketch/warning.svg');
  --icon-repository: url('../../icons/sketch/repository.svg');
  --icon-info: url('../../icons/sketch/info.svg');
  --icon-resize_grip: url('../../icons/sketch/resize-grip.svg');
  --icon-spinner: url('../../icons/sketch/spinner.svg');
  --icon-upward: url('../../icons/sketch/upward.svg');
  --icon-user: url('../../icons/sketch/user.svg');
  --icon-target: url('../../icons/sketch/target.svg');
}
