:root[data-theme='figma-ui3'] {
  --multiple_slider-margin: var(--size-pos-small) 0 0;
  --multiple_slider-padding: 0 var(--size-pos-medium);
  --multiple_slider-height: var(--size-pos-xmsmall);
  --multiple_slider-radius: var(--border-radius-large);
  --multiple_slider-border-color: var(--figma-color-border-disabled-strong);
  --multiple_slider-border-width: var(--size-pos-unit);

  --multiple_slider-status-gap: var(--size-pos-xxsmall);
  --multiple_slider-status-margin: 0 0 0 var(--size-pos-xxsmall);
  --multiple_slider-status-height: var(--size-pos-xmsmall);
}
