:root[data-theme='penpot'] {
  --multiple-slider-margin: var(--size-small) 0 0;
  --multiple-slider-padding: 0 var(--size-medium);
  --multiple-slider-height: var(--size-xmsmall);
  --multiple-slider-radius: var(--border-radius-large);
  --multiple-slider-border-color: var(--color-background-quaternary);
  --multiple-slider-border-width: var(--size-unit);
}
