:root[data-theme='sketch'] {
  --multiple-slider-margin: var(--size-pos-small) 0 0;
  --multiple-slider-padding: 0 var(--size-pos-medium);
  --multiple-slider-height: var(--size-pos-xmsmall);
  --multiple-slider-radius: var(--border-radius-large);
  --multiple-slider-border-color: var(--sketch-color-border-primary);
  --multiple-slider-border-width: var(--size-pos-unit);

  --multiple-slider-status-gap: var(--size-pos-xxsmall);
  --multiple-slider-status-margin: 0 0 0 var(--size-pos-xxsmall);
  --multiple-slider-status-height: var(--size-pos-xmsmall);
}
