@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.button__status,
.button__wrapper {
  display: flex;
  align-items: center;
  gap: var(--button-status-gap);
  height: var(--button-status-height);
}

.button,
.icon-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: default;
  border: none;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }

  .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-icon-width);
    height: var(--button-icon-height);
    --icon-picto-color: var(--button-icon-color);
  }

  .button__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .button__caret {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-caret-width);
    height: var(--button-caret-height);
    --icon-picto-color: var(--button-icon-color);
  }

  .button__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    --icon-picto-color: var(--button-icon-color);
  }

  &.button--loading {
    pointer-events: none;
  }

  &.button--loading > .button__label,
  &.button--loading > .button__caret,
  &.button--loading > .button__icon {
    opacity: 0;
  }
}

.button {
  gap: var(--button-gap);
  outline: var(--button-border-width) solid var(--button-border-color);
  outline-offset: var(--button-border-offset);
  border-radius: var(--button-radius);
  background-color: var(--button-background-color);
  padding: var(--button-padding);
  height: var(--button-height);
  color: var(--button-text-color);
  font-weight: var(--button-text-font_weight);
  font-size: var(--button-text-font_size);
  line-height: var(--button-text-line_height);
  font-family: var(--button-text-font-family);
  letter-spacing: var(--button-text-letter_spacing);
  text-decoration: var(--button-text-decoration);
  text-transform: var(--button-text-transform);

  a {
    color: var(--button-text-color);
    text-decoration: var(--button-text-decoration);
  }

  &--small {
    padding: var(--button-small-padding);
    height: var(--button-small-height);
  }

  &--large {
    padding: var(--button-large-padding);
    height: var(--button-large-height);
  }

  .icon-chip {
    pointer-events: auto;
  }

  &--primary {
    --button-background-color: var(--button-background-color-primary);
    --button-border-color: var(--button-border-color-primary);
    --button-border-width: var(--button-border-width-primary);
    --button-border-offset: var(--button-border-offset-primary);
    --button-text-color: var(--button-text-color-primary);
    --button-icon-color: var(--button-icon-color-primary);
    --button-text-decoration: var(--button-text-decoration-primary);
    --icon-picto-color: var(--button-icon-color-primary);

    &:enabled:hover {
      --button-background-color: var(--button-background-color-primary-hover);
      --button-border-color: var(--button-border-color-primary-hover);
      --button-border-width: var(--button-border-width-primary-hover);
      --button-border-offset: var(--button-border-offset-primary-hover);
      --button-text-color: var(--button-text-color-primary-hover);
      --button-icon-color: var(--button-icon-color-primary-hover);
      --button-text-decoration: var(--button-text-decoration-primary-hover);
      --icon-picto-color: var(--button-icon-color-primary-hover);
    }

    &:enabled:focus {
      --button-background-color: var(--button-background-color-primary-focus);
      --button-border-color: var(--button-border-color-primary-focus);
      --button-border-width: var(--button-border-width-primary-focus);
      --button-border-offset: var(--button-border-offset-primary-focus);
      --button-text-color: var(--button-text-color-primary-focus);
      --button-icon-color: var(--button-icon-color-primary-focus);
      --button-text-decoration: var(--button-text-decoration-primary-focus);
      --icon-picto-color: var(--button-icon-color-primary-focus);
    }

    &:enabled:active {
      --button-background-color: var(--button-background-color-primary-pressed);
      --button-border-color: var(--button-border-color-primary-pressed);
      --button-border-width: var(--button-border-width-primary-pressed);
      --button-border-offset: var(--button-border-offset-primary-pressed);
      --button-text-color: var(--button-text-color-primary-pressed);
      --button-icon-color: var(--button-icon-color-primary-pressed);
      --button-text-decoration: var(--button-text-decoration-primary-pressed);
      --icon-picto-color: var(--button-icon-color-primary-pressed);
    }

    &:disabled {
      --button-background-color: var(
        --button-background-color-primary-disabled
      );
      --button-border-color: var(--button-border-color-primary-disabled);
      --button-border-width: var(--button-border-width-primary-disabled);
      --button-border-offset: var(--button-border-offset-primary-disabled);
      --button-text-color: var(--button-text-color-primary-disabled);
      --button-icon-color: var(--button-icon-color-primary-disabled);
      --button-text-decoration: var(--button-text-decoration-primary-disabled);
      --icon-picto-color: var(--button-icon-color-primary-disabled);
    }
  }

  &--secondary {
    --button-background-color: var(--button-background-color-secondary);
    --button-border-color: var(--button-border-color-secondary);
    --button-border-width: var(--button-border-width-secondary);
    --button-border-offset: var(--button-border-offset-secondary);
    --button-text-color: var(--button-text-color-secondary);
    --button-icon-color: var(--button-icon-color-secondary);
    --button-text-decoration: var(--button-text-decoration-secondary);
    --icon-picto-color: var(--button-icon-color-secondary);

    &:enabled:hover {
      --button-background-color: var(--button-background-color-secondary-hover);
      --button-border-color: var(--button-border-color-secondary-hover);
      --button-border-width: var(--button-border-width-secondary-hover);
      --button-border-offset: var(--button-border-offset-secondary-hover);
      --button-text-color: var(--button-text-color-secondary-hover);
      --button-icon-color: var(--button-icon-color-secondary-hover);
      --button-text-decoration: var(--button-text-decoration-secondary-hover);
      --icon-picto-color: var(--button-icon-color-secondary-hover);
    }

    &:enabled:focus {
      --button-background-color: var(--button-background-color-secondary-focus);
      --button-border-color: var(--button-border-color-secondary-focus);
      --button-border-width: var(--button-border-width-secondary-focus);
      --button-border-offset: var(--button-border-offset-secondary-focus);
      --button-text-color: var(--button-text-color-secondary-focus);
      --button-icon-color: var(--button-icon-color-secondary-focus);
      --button-text-decoration: var(--button-text-decoration-secondary-focus);
      --icon-picto-color: var(--button-icon-color-secondary-focus);
    }

    &:enabled:active {
      --button-background-color: var(
        --button-background-color-secondary-pressed
      );
      --button-border-color: var(--button-border-color-secondary-pressed);
      --button-border-width: var(--button-border-width-secondary-pressed);
      --button-border-offset: var(--button-border-offset-secondary-pressed);
      --button-text-color: var(--button-text-color-secondary-pressed);
      --button-icon-color: var(--button-icon-color-secondary-pressed);
      --button-text-decoration: var(--button-text-decoration-secondary-pressed);
      --icon-picto-color: var(--button-icon-color-secondary-pressed);
    }

    &:disabled {
      --button-background-color: var(
        --button-background-color-secondary-disabled
      );
      --button-border-color: var(--button-border-color-secondary-disabled);
      --button-border-width: var(--button-border-width-secondary-disabled);
      --button-border-offset: var(--button-border-offset-secondary-disabled);
      --button-text-color: var(--button-text-color-secondary-disabled);
      --button-icon-color: var(--button-icon-color-secondary-disabled);
      --button-text-decoration: var(
        --button-text-decoration-secondary-disabled
      );
      --icon-picto-color: var(--button-icon-color-secondary-disabled);
    }
  }

  &--tertiary {
    --button-text-font_size: var(--button-text-font_size-tertiary);
    --button-padding: var(--button-padding-tertiary);
    --button-background-color: var(--button-background-color-tertiary);
    --button-border-color: var(--button-border-color-tertiary);
    --button-border-width: var(--button-border-width-tertiary);
    --button-border-offset: var(--button-border-offset-tertiary);
    --button-text-color: var(--button-text-color-tertiary);
    --button-icon-color: var(--button-icon-color-tertiary);
    --button-text-decoration: var(--button-text-decoration-tertiary);
    --icon-picto-color: var(--button-icon-color-tertiary);

    &:enabled:hover {
      --button-background-color: var(--button-background-color-tertiary-hover);
      --button-border-color: var(--button-border-color-tertiary-hover);
      --button-border-width: var(--button-border-width-tertiary-hover);
      --button-border-offset: var(--button-border-offset-tertiary-hover);
      --button-text-color: var(--button-text-color-tertiary-hover);
      --button-icon-color: var(--button-icon-color-tertiary-hover);
      --button-text-decoration: var(--button-text-decoration-tertiary-hover);
      --icon-picto-color: var(--button-icon-color-tertiary-hover);
    }

    &:enabled:focus {
      --button-background-color: var(--button-background-color-tertiary-focus);
      --button-border-color: var(--button-border-color-tertiary-focus);
      --button-border-width: var(--button-border-width-tertiary-focus);
      --button-border-offset: var(--button-border-offset-tertiary-focus);
      --button-text-color: var(--button-text-color-tertiary-focus);
      --button-icon-color: var(--button-icon-color-tertiary-focus);
      --button-text-decoration: var(--button-text-decoration-tertiary-focus);
      --icon-picto-color: var(--button-icon-color-tertiary-focus);
    }

    &:enabled:active {
      --button-background-color: var(
        --button-background-color-tertiary-pressed
      );
      --button-border-color: var(--button-border-color-tertiary-pressed);
      --button-border-width: var(--button-border-width-tertiary-pressed);
      --button-border-offset: var(--button-border-offset-tertiary-pressed);
      --button-text-color: var(--button-text-color-tertiary-pressed);
      --button-icon-color: var(--button-icon-color-tertiary-pressed);
      --button-text-decoration: var(--button-text-decoration-tertiary-pressed);
      --icon-picto-color: var(--button-icon-color-tertiary-pressed);
    }

    &:disabled {
      --button-background-color: var(
        --button-background-color-tertiary-disabled
      );
      --button-border-color: var(--button-border-color-tertiary-disabled);
      --button-border-width: var(--button-border-width-tertiary-disabled);
      --button-border-offset: var(--button-border-offset-tertiary-disabled);
      --button-text-color: var(--button-text-color-tertiary-disabled);
      --button-icon-color: var(--button-icon-color-tertiary-disabled);
      --button-text-decoration: var(--button-text-decoration-tertiary-disabled);
      --icon-picto-color: var(--button-icon-color-tertiary-disabled);
    }
  }

  &--destructive {
    --button-background-color: var(--button-background-color-destructive);
    --button-border-color: var(--button-border-color-destructive);
    --button-border-width: var(--button-border-width-destructive);
    --button-border-offset: var(--button-border-offset-destructive);
    --button-text-color: var(--button-text-color-destructive);
    --button-icon-color: var(--button-icon-color-destructive);
    --button-text-decoration: var(--button-text-decoration-destructive);
    --icon-picto-color: var(--button-icon-color-destructive);

    &:enabled:hover {
      --button-background-color: var(
        --button-background-color-destructive-hover
      );
      --button-border-color: var(--button-border-color-destructive-hover);
      --button-border-width: var(--button-border-width-destructive-hover);
      --button-border-offset: var(--button-border-offset-destructive-hover);
      --button-text-color: var(--button-text-color-destructive-hover);
      --button-icon-color: var(--button-icon-color-destructive-hover);
      --button-text-decoration: var(--button-text-decoration-destructive-hover);
      --icon-picto-color: var(--button-icon-color-destructive-hover);
    }

    &:enabled:focus {
      --button-background-color: var(
        --button-background-color-destructive-focus
      );
      --button-border-color: var(--button-border-color-destructive-focus);
      --button-border-width: var(--button-border-width-destructive-focus);
      --button-border-offset: var(--button-border-offset-destructive-focus);
      --button-text-color: var(--button-text-color-destructive-focus);
      --button-icon-color: var(--button-icon-color-destructive-focus);
      --button-text-decoration: var(--button-text-decoration-destructive-focus);
      --icon-picto-color: var(--button-icon-color-destructive-focus);
    }

    &:enabled:active {
      --button-background-color: var(
        --button-background-color-destructive-pressed
      );
      --button-border-color: var(--button-border-color-destructive-pressed);
      --button-border-width: var(--button-border-width-destructive-pressed);
      --button-border-offset: var(--button-border-offset-destructive-pressed);
      --button-text-color: var(--button-text-color-destructive-pressed);
      --button-icon-color: var(--button-icon-color-destructive-pressed);
      --button-text-decoration: var(
        --button-text-decoration-destructive-pressed
      );
      --icon-picto-color: var(--button-icon-color-destructive-pressed);
    }

    &:disabled {
      --button-background-color: var(
        --button-background-color-destructive-disabled
      );
      --button-border-color: var(--button-border-color-destructive-disabled);
      --button-border-width: var(--button-border-width-destructive-disabled);
      --button-border-offset: var(--button-border-offset-destructive-disabled);
      --button-text-color: var(--button-text-color-destructive-disabled);
      --button-icon-color: var(--button-icon-color-destructive-disabled);
      --button-text-decoration: var(
        --button-text-decoration-destructive-disabled
      );
      --icon-picto-color: var(--button-icon-color-destructive-disabled);
    }
  }

  &--alternative {
    --button-background-color: var(--button-background-color-alternative);
    --button-border-color: var(--button-border-color-alternative);
    --button-border-width: var(--button-border-width-alternative);
    --button-border-offset: var(--button-border-offset-alternative);
    --button-text-color: var(--button-text-color-alternative);
    --button-icon-color: var(--button-icon-color-alternative);
    --button-text-decoration: var(--button-text-decoration-alternative);
    --icon-picto-color: var(--button-icon-color-alternative);

    &:enabled:hover {
      --button-background-color: var(
        --button-background-color-alternative-hover
      );
      --button-border-color: var(--button-border-color-alternative-hover);
      --button-border-width: var(--button-border-width-alternative-hover);
      --button-border-offset: var(--button-border-offset-alternative-hover);
      --button-text-color: var(--button-text-color-alternative-hover);
      --button-icon-color: var(--button-icon-color-alternative-hover);
      --button-text-decoration: var(--button-text-decoration-alternative-hover);
      --icon-picto-color: var(--button-icon-color-alternative-hover);
    }

    &:enabled:focus {
      --button-background-color: var(
        --button-background-color-alternative-focus
      );
      --button-border-color: var(--button-border-color-alternative-focus);
      --button-border-width: var(--button-border-width-alternative-focus);
      --button-border-offset: var(--button-border-offset-alternative-focus);
      --button-text-color: var(--button-text-color-alternative-focus);
      --button-icon-color: var(--button-icon-color-alternative-focus);
      --button-text-decoration: var(--button-text-decoration-alternative-focus);
      --icon-picto-color: var(--button-icon-color-alternative-focus);
    }

    &:enabled:active {
      --button-background-color: var(
        --button-background-color-alternative-pressed
      );
      --button-border-color: var(--button-border-color-alternative-pressed);
      --button-border-width: var(--button-border-width-alternative-pressed);
      --button-border-offset: var(--button-border-offset-alternative-pressed);
      --button-text-color: var(--button-text-color-alternative-pressed);
      --button-icon-color: var(--button-icon-color-alternative-pressed);
      --button-text-decoration: var(
        --button-text-decoration-alternative-pressed
      );
      --icon-picto-color: var(--button-icon-color-alternative-pressed);
    }

    &:disabled {
      --button-background-color: var(
        --button-background-color-alternative-disabled
      );
      --button-border-color: var(--button-border-color-alternative-disabled);
      --button-border-width: var(--button-border-width-alternative-disabled);
      --button-border-offset: var(--button-border-offset-alternative-disabled);
      --button-text-color: var(--button-text-color-alternative-disabled);
      --button-icon-color: var(--button-icon-color-alternative-disabled);
      --button-text-decoration: var(
        --button-text-decoration-alternative-disabled
      );
      --icon-picto-color: var(--button-icon-color-alternative-disabled);
    }
  }
}

.icon-button {
  outline: var(--icon_button-border-width) solid var(--icon_button-border-color);
  outline-offset: var(--icon_button-border-offset);
  border: none;
  border-radius: var(--icon_button-radius);
  background-color: var(--icon_button-background-color);
  padding: var(--icon_button-padding);
  width: var(--icon_button-width);
  height: var(--icon_button-height);

  .icon-box {
    background-color: var(--icon_button-icon-color);
    width: var(--icon_button-icon-width);
    height: var(--icon_button-icon-height);
  }

  &--small {
    width: var(--icon_button-small-width);
    height: var(--icon_button-small-height);
  }

  &--large {
    width: var(--icon_button-large-width);
    height: var(--icon_button-large-height);
  }

  &--new:after {
    position: absolute;
    top: var(--icon_button-notification-top);
    right: var(--icon_button-notification-right);
    outline: var(--icon_button-notification-border-width) solid
      var(--icon_button-notification-border-color);
    outline-offset: var(--icon_button-notification-border-offset);
    border-radius: var(--icon_button-notification-radius);
    background-color: var(--icon_button-notification-background-color);
    width: var(--icon_button-notification-width);
    height: var(--icon_button-notification-height);
    content: '';
  }

  & * {
    filter: none;
  }

  &:enabled:hover {
    --icon_button-background-color: var(--icon_button-background-color-hover);
    --icon_button-border-color: var(--icon_button-border-color-hover);
    --icon_button-border-width: var(--icon_button-border-width-hover);
    --icon_button-border-offset: var(--icon_button-border-offset-hover);
    --icon_button-icon-color: var(--icon_button-icon-color-hover);
    --icon_button-notification-background-color: var(
      --icon_button-notification-background-color-hover
    );
    --icon_button-notification-border-color: var(
      --icon_button-notification-border-color-hover
    );
  }

  &:enabled:focus {
    --icon_button-background-color: var(--icon_button-background-color-focus);
    --icon_button-border-color: var(--icon_button-border-color-focus);
    --icon_button-border-width: var(--icon_button-border-width-focus);
    --icon_button-border-offset: var(--icon_button-border-offset-focus);
    --icon_button-icon-color: var(--icon_button-icon-color-focus);
    --icon_button-notification-background-color: var(
      --icon_button-notification-background-color-focus
    );
    --icon_button-notification-border-color: var(
      --icon_button-notification-border-color-focus
    );
  }

  &:enabled:active {
    --icon_button-background-color: var(--icon_button-background-color-pressed);
    --icon_button-border-color: var(--icon_button-border-color-pressed);
    --icon_button-border-width: var(--icon_button-border-width-pressed);
    --icon_button-border-offset: var(--icon_button-border-offset-pressed);
    --icon_button-icon-color: var(--icon_button-icon-color-pressed);
    --icon_button-notification-background-color: var(
      --icon_button-notification-background-color-pressed
    );
    --icon_button-notification-border-color: var(
      --icon_button-notification-border-color-pressed
    );
  }

  &:disabled {
    --icon_button-background-color: var(
      --icon_button-background-color-disabled
    );
    --icon_button-border-color: var(--icon_button-border-color-disabled);
    --icon_button-border-width: var(--icon_button-border-width-disabled);
    --icon_button-border-offset: var(--icon_button-border-offset-disabled);
    --icon_button-icon-color: var(--icon_button-icon-color-disabled);
    --icon_button-notification-background-color: var(
      --icon_button-notification-background-color-disabled
    );
    --icon_button-notification-border-color: var(
      --icon_button-notification-border-color-disabled
    );
  }

  &--selected {
    --icon_button-background-color: var(
      --icon_button-background-color-selected
    );
    --icon_button-border-color: var(--icon_button-border-color-selected);
    --icon_button-border-width: var(--icon_button-border-width-selected);
    --icon_button-border-offset: var(--icon_button-border-offset-selected);
    --icon_button-icon-color: var(--icon_button-icon-color-selected);
    --icon_button-notification-background-color: var(
      --icon_button-notification-background-color-selected
    );
    --icon_button-notification-border-color: var(
      --icon_button-notification-border-color-selected
    );

    &:enabled:hover {
      --icon_button-background-color: var(
        --icon_button-background-color-selected-hover
      );
      --icon_button-border-color: var(
        --icon_button-border-color-selected-hover
      );
      --icon_button-border-width: var(
        --icon_button-border-width-selected-hover
      );
      --icon_button-border-offset: var(
        --icon_button-border-offset-selected-hover
      );
      --icon_button-icon-color: var(--icon_button-icon-color-selected-hover);
      --icon_button-notification-background-color: var(
        --icon_button-notification-background-color-selected-hover
      );
      --icon_button-notification-border-color: var(
        --icon_button-notification-border-color-selected-hover
      );
    }

    &:enabled:focus {
      --icon_button-background-color: var(
        --icon_button-background-color-selected-focus
      );
      --icon_button-border-color: var(
        --icon_button-border-color-selected-focus
      );
      --icon_button-border-width: var(
        --icon_button-border-width-selected-focus
      );
      --icon_button-border-offset: var(
        --icon_button-border-offset-selected-focus
      );
      --icon_button-icon-color: var(--icon_button-icon-color-selected-focus);
      --icon_button-notification-background-color: var(
        --icon_button-notification-background-color-selected-focus
      );
      --icon_button-notification-border-color: var(
        --icon_button-notification-border-color-selected-focus
      );
    }

    &:enabled:active {
      --icon_button-background-color: var(
        --icon_button-background-color-selected-pressed
      );
      --icon_button-border-color: var(
        --icon_button-border-color-selected-pressed
      );
      --icon_button-border-width: var(
        --icon_button-border-width-selected-pressed
      );
      --icon_button-border-offset: var(
        --icon_button-border-offset-selected-pressed
      );
      --icon_button-icon-color: var(--icon_button-icon-color-selected-pressed);
      --icon_button-notification-background-color: var(
        --icon_button-notification-background-color-selected-pressed
      );
      --icon_button-notification-border-color: var(
        --icon_button-notification-border-color-selected-pressed
      );
    }

    &:disabled {
      --icon_button-background-color: var(
        --icon_button-background-color-selected-disabled
      );
      --icon_button-border-color: var(
        --icon_button-border-color-selected-disabled
      );
      --icon_button-border-width: var(
        --icon_button-border-width-selected-disabled
      );
      --icon_button-border-offset: var(
        --icon_button-border-offset-selected-disabled
      );
      --icon_button-icon-color: var(--icon_button-icon-color-selected-disabled);
      --icon_button-notification-background-color: var(
        --icon_button-notification-background-color-selected-disabled
      );
      --icon_button-notification-border-color: var(
        --icon_button-notification-border-color-selected-disabled
      );
    }
  }
}
