$id: "button";

:root {
  /* Base */
  /* Text Button */
  --#{$id}-height: var(--size-medium);
  --#{$id}-gap: var(--size-xxxsmall);
  --#{$id}-radius: var(--border-radius-large);
  --#{$id}-padding: 0 var(--size-xsmall);

  --#{$id}-background-color: transparent;

  --#{$id}-border-color: transparent;
  --#{$id}-border-width: var(--size-xunit);
  --#{$id}-border-offset: var(--size-neg-xunit);

  --#{$id}-text-color: var(--figma-color-text);
  --#{$id}-text-font-family: var(--font-stack);
  --#{$id}-text-font-size: var(--font-size-small);
  --#{$id}-text-font-weight: var(--font-weight-medium);
  --#{$id}-text-letter-spacing: var(--font-letter-spacing-neg-small);
  --#{$id}-text-line-height: var(--font-line-height);
  --#{$id}-text-decoration: none;

  --#{$id}-icon-color: var(--figma-color-icon);
  --#{$id}-icon-width: var(--size-small);
  --#{$id}-icon-height: var(--size-small);

  --#{$id}-caret-width: var(--size-xsmall);
  --#{$id}-caret-height: var(--size-small);

  --#{$id}-small-height: var(--size-small);
  --#{$id}-small-padding: 0 var(--size-xxsmall);

  --#{$id}-large-height: var(--size-large);
  --#{$id}-large-padding: 0 var(--size-medium);

  /* Icon Button */
  --icon-button-width: var(--size-medium);
  --icon-button-height: var(--size-medium);
  --icon-button-radius: var(--border-radius-small);
  --icon-button-padding: 0;

  --icon-button-background-color: transparent;

  --icon-button-border-color: transparent;
  --icon-button-border-width: var(--size-xunit);
  --icon-button-border-offset: var(--size-neg-xunit);

  --icon-button-text-color: var(--figma-color-text);

  --icon-button-icon-color: var(--figma-color-icon);
  --icon-button-icon-width: var(--size-medium);
  --icon-button-icon-height: var(--size-medium);

  --icon-button-notification-width: var(--size-xxxsmall);
  --icon-button-notification-height: var(--size-xxxsmall);
  --icon-button-notification-radius: var(--size-xunit);
  --icon-button-notification-top: var(--size-xunit);
  --icon-button-notification-right: var(--size-xunit);
  --icon-button-notification-background-color: var(--figma-color-icon);

  --icon-button-small-width: var(--size-small);
  --icon-button-small-height: var(--size-small);
  --icon-button-large-width: var(--size-large);
  --icon-button-large-height: var(--size-large);

  /* Primary */
  --#{$id}-background-color-primary: var(--figma-color-bg-brand);
  --#{$id}-background-color-primary-hover: var(--figma-color-bg-brand-hover);
  --#{$id}-background-color-primary-pressed: var(
    --figma-color-bg-brand-pressed
  );
  --#{$id}-background-color-primary-focus: var(--figma-color-bg-brand);
  --#{$id}-background-color-primary-disabled: var(--figma-color-bg-disabled);
  
  --#{$id}-border-width-primary: 0;
  --#{$id}-border-width-primary-hover: 0;
  --#{$id}-border-width-primary-pressed: 0;
  --#{$id}-border-width-primary-focus: var(--size-xunit);
  --#{$id}-border-width-primary-disabled: 0;
  
  --#{$id}-border-offset-primary: 0;
  --#{$id}-border-offset-primary-hover: 0;
  --#{$id}-border-offset-primary-pressed: 0;
  --#{$id}-border-offset-primary-focus: var(--size-neg-xunit);
  --#{$id}-border-offset-primary-disabled: 0;
  
  --#{$id}-border-color-primary: transparent;
  --#{$id}-border-color-primary-hover: transparent;
  --#{$id}-border-color-primary-pressed: transparent;
  --#{$id}-border-color-primary-focus: var(--figma-color-border-brand-strong);
  --#{$id}-border-primary-disabled: none;
  
  --#{$id}-text-color-primary: var(--figma-color-text-onbrand);
  --#{$id}-text-color-primary-hover: var(--figma-color-text-onbrand);
  --#{$id}-text-color-primary-pressed: var(--figma-color-text-onbrand);
  --#{$id}-text-color-primary-focus: var(--figma-color-text-onbrand);
  --#{$id}-text-color-primary-disabled: var(--figma-color-text-ondisabled);
  
  --#{$id}-text-decoration-primary: none;
  --#{$id}-text-decoration-primary-hover: none;
  --#{$id}-text-decoration-primary-pressed: none;
  --#{$id}-text-decoration-primary-focus: none;
  --#{$id}-text-decoration-primary-disabled: none;
  
  --#{$id}-icon-color-primary: var(--figma-color-icon-onbrand);
  --#{$id}-icon-color-primary-hover: var(--figma-color-icon-onbrand);
  --#{$id}-icon-color-primary-pressed: var(--figma-color-icon-onbrand);
  --#{$id}-icon-color-primary-focus: var(--figma-color-icon-onbrand);
  --#{$id}-icon-color-primary-disabled: var(--figma-color-icon-ondisabled);

  /* Secondary */
  --#{$id}-background-color-secondary: var(--figma-color-bg);
  --#{$id}-background-color-secondary-hover: var(--figma-color-bg-hover);
  --#{$id}-background-color-secondary-pressed: var(--figma-color-bg-pressed);
  --#{$id}-background-color-secondary-focus: var(--figma-color-bg);
  --#{$id}-background-color-secondary-disabled: var(--figma-color-bg);
  
  --#{$id}-border-width-secondary: var(--size-unit);
  --#{$id}-border-width-secondary-hover: var(--size-unit);
  --#{$id}-border-width-secondary-pressed: var(--size-unit);
  --#{$id}-border-width-secondary-focus: var(--size-xunit);
  --#{$id}-border-width-secondary-disabled: var(--size-unit);
  
  --#{$id}-border-offset-secondary: var(--size-neg-unit);
  --#{$id}-border-offset-secondary-hover: var(--size-neg-unit);
  --#{$id}-border-offset-secondary-pressed: var(--size-neg-unit);
  --#{$id}-border-offset-secondary-focus: var(--size-neg-xunit);
  --#{$id}-border-offset-secondary-disabled: var(--size-neg-unit);
  
  --#{$id}-border-color-secondary: var(--figma-color-border-strong);
  --#{$id}-border-color-secondary-hover: var(--figma-color-border-strong);
  --#{$id}-border-color-secondary-pressed: var(--figma-color-border-strong);
  --#{$id}-border-color-secondary-focus: var(--figma-color-border-selected);
  --#{$id}-border-color-secondary-disabled: var(--figma-color-border-disabled);
  
  --#{$id}-text-color-secondary: var(--figma-color-text);
  --#{$id}-text-color-secondary-hover: var(--figma-color-text);
  --#{$id}-text-color-secondary-pressed: var(--figma-color-text);
  --#{$id}-text-color-secondary-focus: var(--figma-color-text);
  --#{$id}-text-color-secondary-disabled: var(--figma-color-text-disabled);
  
  --#{$id}-text-decoration-secondary: none;
  --#{$id}-text-decoration-secondary-hover: none;
  --#{$id}-text-decoration-secondary-pressed: none;
  --#{$id}-text-decoration-secondary-focus: none;
  --#{$id}-text-decoration-secondary-disabled: none;
  
  --#{$id}-icon-color-secondary: var(--figma-color-icon);
  --#{$id}-icon-color-secondary-hover: var(--figma-color-icon);
  --#{$id}-icon-color-secondary-pressed: var(--figma-color-icon);
  --#{$id}-icon-color-secondary-focus: var(--figma-color-icon);
  --#{$id}-icon-color-secondary-disabled: var(--figma-color-icon-disabled);

  /* Tertiary */
  --#{$id}-text-font-size-tertiary: var(--font-size-xsmall);
  --#{$id}-padding-tertiary: 0;
  --#{$id}-background-color-tertiary: var(--figma-color-bg);
  --#{$id}-background-color-tertiary-hover: var(--figma-color-bg);
  --#{$id}-background-color-tertiary-pressed: var(--figma-color-bg);
  --#{$id}-background-color-tertiary-focus: var(--figma-color-bg);
  --#{$id}-background-color-tertiary-disabled: var(--figma-color-bg);
  
  --#{$id}-border-width-tertiary: 0;
  --#{$id}-border-width-tertiary-hover: 0;
  --#{$id}-border-width-tertiary-pressed: 0;
  --#{$id}-border-width-tertiary-focus: 0;
  --#{$id}-border-width-tertiary-disabled: 0;
  
  --#{$id}-border-offset-tertiary: 0;
  --#{$id}-border-offset-tertiary-hover: 0;
  --#{$id}-border-offset-tertiary-pressed: 0;
  --#{$id}-border-offset-tertiary-focus: 0;
  --#{$id}-border-offset-tertiary-disabled: 0;
  
  --#{$id}-border-color-tertiary: transparent;
  --#{$id}-border-color-tertiary-hover: transparent;
  --#{$id}-border-color-tertiary-pressed: transparent;
  --#{$id}-border-color-tertiary-focus: transparent;
  --#{$id}-border-color-tertiary-disabled: transparent;
  
  --#{$id}-text-color-tertiary: var(--figma-color-text-brand);
  --#{$id}-text-color-tertiary-hover: var(--figma-color-text-brand);
  --#{$id}-text-color-tertiary-pressed: var(--figma-color-text-brand);
  --#{$id}-text-color-tertiary-focus: var(--figma-color-text-brand);
  --#{$id}-text-color-tertiary-disabled: var(--figma-color-text-disabled);
  
  --#{$id}-text-decoration-tertiary: none;
  --#{$id}-text-decoration-tertiary-hover: none;
  --#{$id}-text-decoration-tertiary-pressed: none;
  --#{$id}-text-decoration-tertiary-focus: underline;
  --#{$id}-text-decoration-tertiary-disabled: none;
  
  --#{$id}-icon-color-tertiary: var(--figma-color-icon);
  --#{$id}-icon-color-tertiary-hover: var(--figma-color-icon);
  --#{$id}-icon-color-tertiary-pressed: var(--figma-color-icon);
  --#{$id}-icon-color-tertiary-focus: var(--figma-color-icon);
  --#{$id}-icon-color-tertiary-disabled: var(--figma-color-icon-disabled);

  /* Destructive */
  --#{$id}-background-color-destructive: var(--figma-color-bg-danger);
  --#{$id}-background-color-destructive-hover: var(
    --figma-color-bg-danger-hover
  );
  --#{$id}-background-color-destructive-pressed: var(
    --figma-color-bg-danger-pressed
  );
  --#{$id}-background-color-destructive-focus: var(
    --figma-color-bg-danger
  );
  --#{$id}-background-color-destructive-disabled: var(
    --figma-color-bg-disabled
  );
  
  --#{$id}-border-width-destructive: 0;
  --#{$id}-border-width-destructive-hover: 0;
  --#{$id}-border-width-destructive-pressed: 0;
  --#{$id}-border-width-destructive-focus: var(--size-xunit);
  --#{$id}-border-width-destructive-disabled: 0;
  
  --#{$id}-border-offset-destructive: 0;
  --#{$id}-border-offset-destructive-hover: 0;
  --#{$id}-border-offset-destructive-pressed: 0;
  --#{$id}-border-offset-destructive-focus: var(--size-neg-xunit);
  --#{$id}-border-offset-destructive-disabled: 0;
  
  --#{$id}-border-color-destructive: transparent;
  --#{$id}-border-color-destructive-hover: transparent;
  --#{$id}-border-color-destructive-pressed: transparent;
  --#{$id}-border-color-destructive-focus: var(
    --figma-color-border-danger-strong
  );
  --#{$id}-border-color-destructive-disabled: transparent;
  
  --#{$id}-text-color-destructive: var(--figma-color-text-ondanger);
  --#{$id}-text-color-destructive-hover: var(--figma-color-text-ondanger);
  --#{$id}-text-color-destructive-pressed: var(--figma-color-text-ondanger);
  --#{$id}-text-color-destructive-focus: var(--figma-color-text-ondanger);
  --#{$id}-text-color-destructive-disabled: var(--figma-color-text-ondisabled);
  
  --#{$id}-text-decoration-destructive: none;
  --#{$id}-text-decoration-destructive-hover: none;
  --#{$id}-text-decoration-destructive-pressed: none;
  --#{$id}-text-decoration-destructive-focus: none;
  --#{$id}-text-decoration-destructive-disabled: none;
  
  --#{$id}-icon-color-destructive: var(--figma-color-icon-ondanger);
  --#{$id}-icon-color-destructive-hover: var(--figma-color-icon-ondanger);
  --#{$id}-icon-color-destructive-pressed: var(--figma-color-icon-ondanger);
  --#{$id}-icon-color-destructive-focus: var(--figma-color-icon-ondanger);
  --#{$id}-icon-color-destructive-disabled: var(--figma-color-icon-ondisabled);

  /* Alternative */
  --#{$id}-background-color-alternative: var(--figma-color-bg-component);
  --#{$id}-background-color-alternative-hover: var(
    --figma-color-bg-component-hover
  );
  --#{$id}-background-color-alternative-pressed: var(
    --figma-color-bg-component-pressed
  );
  --#{$id}-background-color-alternative-focus: var(
    --figma-color-bg-component
  );
  --#{$id}-background-color-alternative-disabled: var(
    --figma-color-bg-disabled
  );
  
  --#{$id}-border-width-alternative: 0;
  --#{$id}-border-width-alternative-hover: 0;
  --#{$id}-border-width-alternative-pressed: 0;
  --#{$id}-border-width-alternative-focus: var(--size-xunit);
  --#{$id}-border-width-alternative-disabled: 0;
  
  --#{$id}-border-offset-alternative: 0;
  --#{$id}-border-offset-alternative-hover: 0;
  --#{$id}-border-offset-alternative-pressed: 0;
  --#{$id}-border-offset-alternative-focus: var(--size-neg-xunit);
  --#{$id}-border-offset-alternative-disabled: 0;
  
  --#{$id}-border-color-alternative: transparent;
  --#{$id}-border-color-alternative-hover: transparent;
  --#{$id}-border-color-alternative-pressed: transparent;
  --#{$id}-border-color-alternative-focus: var(
    --figma-color-border-component-strong
  );
  
  --#{$id}-border-alternative-disabled: none;
  --#{$id}-text-color-alternative: var(--figma-color-text-oncomponent);
  --#{$id}-text-color-alternative-hover: var(--figma-color-text-oncomponent);
  --#{$id}-text-color-alternative-pressed: var(--figma-color-text-oncomponent);
  --#{$id}-text-color-alternative-focus: var(--figma-color-text-oncomponent);
  --#{$id}-text-color-alternative-disabled: var(--figma-color-text-ondisabled);
  
  --#{$id}-text-decoration-alternative: none;
  --#{$id}-text-decoration-alternative-hover: none;
  --#{$id}-text-decoration-alternative-pressed: none;
  --#{$id}-text-decoration-alternative-focus: none;
  --#{$id}-text-decoration-alternative-disabled: none;
  
  --#{$id}-icon-color-alternative: var(--figma-color-icon-oncomponent);
  --#{$id}-icon-color-alternative-hover: var(--figma-color-icon-oncomponent);
  --#{$id}-icon-color-alternative-pressed: var(--figma-color-icon-oncomponent);
  --#{$id}-icon-color-alternative-focus: var(--figma-color-icon-oncomponent);
  --#{$id}-icon-color-alternative-disabled: var(--figma-color-icon-ondisabled);

  /* Icon Button - Default */
  --icon-button-background-color: var(--figma-color-bg);
  --icon-button-background-color-hover: var(--figma-color-bg-hover);
  --icon-button-background-color-pressed: var(--figma-color-bg-pressed);
  --icon-button-background-color-focus: var(--figma-color-bg);
  --icon-button-background-color-disabled: var(--figma-color-bg);
  
  --icon-button-border-width: 0;
  --icon-button-border-width-hover: 0;
  --icon-button-border-width-pressed: 0;
  --icon-button-border-width-focus: var(--size-xunit);
  --icon-button-border-width-disabled: 0;
  
  --icon-button-border-offset: 0;
  --icon-button-border-offset-hover: 0;
  --icon-button-border-offset-pressed: 0;
  --icon-button-border-offset-focus: var(--size-neg-xunit);
  --icon-button-border-offset-disabled: 0;
  
  --icon-button-border-color: transparent;
  --icon-button-border-color-hover: transparent;
  --icon-button-border-color-pressed: transparent;
  --icon-button-border-color-focus: var(--figma-color-border-selected);
  --icon-button-border-color-disabled: transparent;
  
  --icon-button-icon-color: var(--figma-color-icon);
  --icon-button-icon-color-hover: var(--figma-color-icon);
  --icon-button-icon-color-pressed: var(--figma-color-icon);
  --icon-button-icon-color-focus: var(--figma-color-icon);
  --icon-button-icon-color-disabled: var(--figma-color-icon-disabled);
  
  --icon-button-notification-background-color: var(--figma-color-icon);
  --icon-button-notification-background-color-hover: var(--figma-color-icon);
  --icon-button-notification-background-color-pressed: var(--figma-color-icon);
  --icon-button-notification-background-color-focus: var(--figma-color-icon);
  --icon-button-notification-background-color-disabled: var(
    --figma-color-icon-disabled
  );

  /* Icon Button - Selected */
  --icon-button-background-color-selected: var(--figma-color-bg-brand);
  --icon-button-background-color-selected-hover: var(--figma-color-bg-brand);
  --icon-button-background-color-selected-pressed: var(--figma-color-bg-brand);
  --icon-button-background-color-selected-focus: var(--figma-color-bg-brand);
  --icon-button-background-color-selected-disabled: var(
    --figma-color-bg-brand-tertiary
  );
  
  --icon-button-border-width-selected: 0;
  --icon-button-border-width-selected-hover: 0;
  --icon-button-border-width-selected-pressed: 0;
  --icon-button-border-width-selected-focus: var(--size-xunit);
  --icon-button-border-width-selected-disabled: 0;
  
  --icon-button-border-offset-selected: 0;
  --icon-button-border-offset-selected-hover: 0;
  --icon-button-border-offset-selected-pressed: 0;
  --icon-button-border-offset-selected-focus: var(--size-neg-xunit);
  --icon-button-border-offset-selected-disabled: 0;
  
  --icon-button-border-color-selected: transparent;
  --icon-button-border-color-selected-hover: transparent;
  --icon-button-border-color-selected-pressed: transparent;
  --icon-button-border-color-selected-focus: var(
    --figma-color-border-brand-strong
  );
  --icon-button-border-color-selected-disabled: transparent;
  
  --icon-button-icon-color-selected: var(--figma-color-icon-onbrand);
  --icon-button-icon-color-selected-hover: var(--figma-color-icon-onbrand);
  --icon-button-icon-color-selected-pressed: var(--figma-color-icon-onbrand);
  --icon-button-icon-color-selected-focus: var(--figma-color-icon-onbrand);
  --icon-button-icon-color-selected-disabled: var(
    --figma-color-icon-onbrand-tertiary
  );
  
  --icon-button-notification-background-color-selected: var(
    --figma-color-icon-onbrand
  );
  --icon-button-notification-background-color-selected-hover: var(
    --figma-color-icon-onbrand
  );
  --icon-button-notification-background-color-selected-pressed: var(
    --figma-color-icon-onbrand
  );
  --icon-button-notification-background-color-selected-focus: var(
    --figma-color-icon-onbrand
  );
  --icon-button-notification-background-color-selected-disabled: var(
    --figma-color-icon-onbrand-tertiary
  );
}

.button,
.icon-button,
.compact-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: default;
  border: none;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }

  .button__icon {
    width: var(--#{$id}-icon-width);
    height: var(--#{$id}-icon-height);
    display: flex;
    justify-content: center;
    align-items: center;
    --icon-picto-icon: var(--#{$id}-icon-color);
  }

  .button__caret {
    width: var(--#{$id}-caret-width);
    height: var(--#{$id}-caret-height);
    display: flex;
    justify-content: center;
    align-items: center;
    --icon-picto-icon: var(--#{$id}-icon-color);
  }

  .button__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }

  &.button--loading {
    pointer-events: none;
  }

  &.button--loading > .button__label,
  &.button--loading > .button__caret {
    opacity: 0;
  }
}

.button {
  gap: var(--#{$id}-gap);
  outline: var(--#{$id}-border-width) solid var(--#{$id}-border-color);
  outline-offset: var(--#{$id}-border-offset);
  border-radius: var(--#{$id}-radius);
  background-color: var(--#{$id}-background-color);
  padding: var(--#{$id}-padding);
  height: var(--#{$id}-height);
  color: var(--#{$id}-text-color);
  font-weight: var(--#{$id}-text-font-weight);
  font-size: var(--#{$id}-text-font-size);
  line-height: var(--#{$id}-text-line-height);
  font-family: var(--#{$id}-text-font-family);
  letter-spacing: var(--#{$id}-text-letter-spacing);
  text-decoration: var(--#{$id}-text-decoration);

  a {
    color: var(--#{$id}-text-color);
    text-decoration: var(--#{$id}-text-decoration);
  }

  &--small {
    padding: var(--#{$id}-small-padding);
    height: var(--#{$id}-small-height);
  }

  &--large {
    padding: var(--#{$id}-large-padding);
    height: var(--#{$id}-large-height);
  }

  &--primary {
    --#{$id}-background-color: var(--#{$id}-background-color-primary);
    --#{$id}-border-color: var(--#{$id}-border-color-primary);
    --#{$id}-border-width: var(--#{$id}-border-width-primary);
    --#{$id}-border-offset: var(--#{$id}-border-offset-primary);
    --#{$id}-text-color: var(--#{$id}-text-color-primary);
    --#{$id}-icon-color: var(--#{$id}-icon-color-primary);
    --#{$id}-text-decoration: var(--#{$id}-text-decoration-primary);

    &:enabled:hover {
      --#{$id}-background-color: var(--#{$id}-background-color-primary-hover);
      --#{$id}-border-color: var(--#{$id}-border-color-primary-hover);
      --#{$id}-border-width: var(--#{$id}-border-width-primary-hover);
      --#{$id}-border-offset: var(--#{$id}-border-offset-primary-hover);
      --#{$id}-text-color: var(--#{$id}-text-color-primary-hover);
      --#{$id}-icon-color: var(--#{$id}-icon-color-primary-hover);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-primary-hover);
    }

    &:enabled:focus {
      --#{$id}-background-color: var(--#{$id}-background-color-primary-focus);
      --#{$id}-border-color: var(--#{$id}-border-color-primary-focus);
      --#{$id}-border-width: var(--#{$id}-border-width-primary-focus);
      --#{$id}-border-offset: var(--#{$id}-border-offset-primary-focus);
      --#{$id}-text-color: var(--#{$id}-text-color-primary-focus);
      --#{$id}-icon-color: var(--#{$id}-icon-color-primary-focus);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-primary-focus);
    }

    &:enabled:active {
      --#{$id}-background-color: var(--#{$id}-background-color-primary-pressed);
      --#{$id}-border-color: var(--#{$id}-border-color-primary-pressed);
      --#{$id}-border-width: var(--#{$id}-border-width-primary-pressed);
      --#{$id}-border-offset: var(--#{$id}-border-offset-primary-pressed);
      --#{$id}-text-color: var(--#{$id}-text-color-primary-pressed);
      --#{$id}-icon-color: var(--#{$id}-icon-color-primary-pressed);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-primary-pressed);
    }

    &:disabled {
      --#{$id}-background-color: var(
        --#{$id}-background-color-primary-disabled
      );
      --#{$id}-border-color: var(--#{$id}-border-color-primary-disabled);
      --#{$id}-border-width: var(--#{$id}-border-width-primary-disabled);
      --#{$id}-border-offset: var(--#{$id}-border-offset-primary-disabled);
      --#{$id}-text-color: var(--#{$id}-text-color-primary-disabled);
      --#{$id}-icon-color: var(--#{$id}-icon-color-primary-disabled);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-primary-disabled);
    }
  }

  &--secondary {
    --#{$id}-background-color: var(--#{$id}-background-color-secondary);
    --#{$id}-border-color: var(--#{$id}-border-color-secondary);
    --#{$id}-border-width: var(--#{$id}-border-width-secondary);
    --#{$id}-border-offset: var(--#{$id}-border-offset-secondary);
    --#{$id}-text-color: var(--#{$id}-text-color-secondary);
    --#{$id}-icon-color: var(--#{$id}-icon-color-secondary);
    --#{$id}-text-decoration: var(--#{$id}-text-decoration-secondary);

    &:enabled:hover {
      --#{$id}-background-color: var(--#{$id}-background-color-secondary-hover);
      --#{$id}-border-color: var(--#{$id}-border-color-secondary-hover);
      --#{$id}-border-width: var(--#{$id}-border-width-secondary-hover);
      --#{$id}-border-offset: var(--#{$id}-border-offset-secondary-hover);
      --#{$id}-text-color: var(--#{$id}-text-color-secondary-hover);
      --#{$id}-icon-color: var(--#{$id}-icon-color-secondary-hover);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-secondary-hover);
    }

    &:enabled:focus {
      --#{$id}-background-color: var(--#{$id}-background-color-secondary-focus);
      --#{$id}-border-color: var(--#{$id}-border-color-secondary-focus);
      --#{$id}-border-width: var(--#{$id}-border-width-secondary-focus);
      --#{$id}-border-offset: var(--#{$id}-border-offset-secondary-focus);
      --#{$id}-text-color: var(--#{$id}-text-color-secondary-focus);
      --#{$id}-icon-color: var(--#{$id}-icon-color-secondary-focus);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-secondary-focus);
    }

    &:enabled:active {
      --#{$id}-background-color: var(
        --#{$id}-background-color-secondary-pressed
      );
      --#{$id}-border-color: var(--#{$id}-border-color-secondary-pressed);
      --#{$id}-border-width: var(--#{$id}-border-width-secondary-pressed);
      --#{$id}-border-offset: var(--#{$id}-border-offset-secondary-pressed);
      --#{$id}-text-color: var(--#{$id}-text-color-secondary-pressed);
      --#{$id}-icon-color: var(--#{$id}-icon-color-secondary-pressed);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-secondary-pressed);
    }

    &:disabled {
      --#{$id}-background-color: var(
        --#{$id}-background-color-secondary-disabled
      );
      --#{$id}-border-color: var(--#{$id}-border-color-secondary-disabled);
      --#{$id}-border-width: var(--#{$id}-border-width-secondary-disabled);
      --#{$id}-border-offset: var(--#{$id}-border-offset-secondary-disabled);
      --#{$id}-text-color: var(--#{$id}-text-color-secondary-disabled);
      --#{$id}-icon-color: var(--#{$id}-icon-color-secondary-disabled);
      --#{$id}-text-decoration: var(
        --#{$id}-text-decoration-secondary-disabled
      );
    }
  }

  &--tertiary {
    --#{$id}-text-font-size: var(--#{$id}-text-font-size-tertiary);
    --#{$id}-padding: var(--#{$id}-padding-tertiary);
    --#{$id}-background-color: var(--#{$id}-background-color-tertiary);
    --#{$id}-border-color: var(--#{$id}-border-color-tertiary);
    --#{$id}-border-width: var(--#{$id}-border-width-tertiary);
    --#{$id}-border-offset: var(--#{$id}-border-offset-tertiary);
    --#{$id}-text-color: var(--#{$id}-text-color-tertiary);
    --#{$id}-icon-color: var(--#{$id}-icon-color-tertiary);
    --#{$id}-text-decoration: var(--#{$id}-text-decoration-tertiary);

    &:enabled:hover {
      --#{$id}-background-color: var(--#{$id}-background-color-tertiary-hover);
      --#{$id}-border-color: var(--#{$id}-border-color-tertiary-hover);
      --#{$id}-border-width: var(--#{$id}-border-width-tertiary-hover);
      --#{$id}-border-offset: var(--#{$id}-border-offset-tertiary-hover);
      --#{$id}-text-color: var(--#{$id}-text-color-tertiary-hover);
      --#{$id}-icon-color: var(--#{$id}-icon-color-tertiary-hover);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-tertiary-hover);
    }

    &:enabled:focus {
      --#{$id}-background-color: var(--#{$id}-background-color-tertiary-focus);
      --#{$id}-border-color: var(--#{$id}-border-color-tertiary-focus);
      --#{$id}-border-width: var(--#{$id}-border-width-tertiary-focus);
      --#{$id}-border-offset: var(--#{$id}-border-offset-tertiary-focus);
      --#{$id}-text-color: var(--#{$id}-text-color-tertiary-focus);
      --#{$id}-icon-color: var(--#{$id}-icon-color-tertiary-focus);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-tertiary-focus);
    }

    &:enabled:active {
      --#{$id}-background-color: var(
        --#{$id}-background-color-tertiary-pressed
      );
      --#{$id}-border-color: var(--#{$id}-border-color-tertiary-pressed);
      --#{$id}-border-width: var(--#{$id}-border-width-tertiary-pressed);
      --#{$id}-border-offset: var(--#{$id}-border-offset-tertiary-pressed);
      --#{$id}-text-color: var(--#{$id}-text-color-tertiary-pressed);
      --#{$id}-icon-color: var(--#{$id}-icon-color-tertiary-pressed);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-tertiary-pressed);
    }

    &:disabled {
      --#{$id}-background-color: var(
        --#{$id}-background-color-tertiary-disabled
      );
      --#{$id}-border-color: var(--#{$id}-border-color-tertiary-disabled);
      --#{$id}-border-width: var(--#{$id}-border-width-tertiary-disabled);
      --#{$id}-border-offset: var(--#{$id}-border-offset-tertiary-disabled);
      --#{$id}-text-color: var(--#{$id}-text-color-tertiary-disabled);
      --#{$id}-icon-color: var(--#{$id}-icon-color-tertiary-disabled);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-tertiary-disabled);
    }
  }

  &--destructive {
    --#{$id}-background-color: var(--#{$id}-background-color-destructive);
    --#{$id}-border-color: var(--#{$id}-border-color-destructive);
    --#{$id}-border-width: var(--#{$id}-border-width-destructive);
    --#{$id}-border-offset: var(--#{$id}-border-offset-destructive);
    --#{$id}-text-color: var(--#{$id}-text-color-destructive);
    --#{$id}-icon-color: var(--#{$id}-icon-color-destructive);
    --#{$id}-text-decoration: var(--#{$id}-text-decoration-destructive);

    &:enabled:hover {
      --#{$id}-background-color: var(
        --#{$id}-background-color-destructive-hover
      );
      --#{$id}-border-color: var(--#{$id}-border-color-destructive-hover);
      --#{$id}-border-width: var(--#{$id}-border-width-destructive-hover);
      --#{$id}-border-offset: var(--#{$id}-border-offset-destructive-hover);
      --#{$id}-text-color: var(--#{$id}-text-color-destructive-hover);
      --#{$id}-icon-color: var(--#{$id}-icon-color-destructive-hover);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-destructive-hover);
    }

    &:enabled:focus {
      --#{$id}-background-color: var(
        --#{$id}-background-color-destructive-focus
      );
      --#{$id}-border-color: var(--#{$id}-border-color-destructive-focus);
      --#{$id}-border-width: var(--#{$id}-border-width-destructive-focus);
      --#{$id}-border-offset: var(--#{$id}-border-offset-destructive-focus);
      --#{$id}-text-color: var(--#{$id}-text-color-destructive-focus);
      --#{$id}-icon-color: var(--#{$id}-icon-color-destructive-focus);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-destructive-focus);
    }

    &:enabled:active {
      --#{$id}-background-color: var(
        --#{$id}-background-color-destructive-pressed
      );
      --#{$id}-border-color: var(--#{$id}-border-color-destructive-pressed);
      --#{$id}-border-width: var(--#{$id}-border-width-destructive-pressed);
      --#{$id}-border-offset: var(--#{$id}-border-offset-destructive-pressed);
      --#{$id}-text-color: var(--#{$id}-text-color-destructive-pressed);
      --#{$id}-icon-color: var(--#{$id}-icon-color-destructive-pressed);
      --#{$id}-text-decoration: var(
        --#{$id}-text-decoration-destructive-pressed
      );
    }

    &:disabled {
      --#{$id}-background-color: var(
        --#{$id}-background-color-destructive-disabled
      );
      --#{$id}-border-color: var(--#{$id}-border-color-destructive-disabled);
      --#{$id}-border-width: var(--#{$id}-border-width-destructive-disabled);
      --#{$id}-border-offset: var(--#{$id}-border-offset-destructive-disabled);
      --#{$id}-text-color: var(--#{$id}-text-color-destructive-disabled);
      --#{$id}-icon-color: var(--#{$id}-icon-color-destructive-disabled);
      --#{$id}-text-decoration: var(
        --#{$id}-text-decoration-destructive-disabled
      );
    }
  }

  &--alternative {
    --#{$id}-background-color: var(--#{$id}-background-color-alternative);
    --#{$id}-border-color: var(--#{$id}-border-color-alternative);
    --#{$id}-border-width: var(--#{$id}-border-width-alternative);
    --#{$id}-border-offset: var(--#{$id}-border-offset-alternative);
    --#{$id}-text-color: var(--#{$id}-text-color-alternative);
    --#{$id}-icon-color: var(--#{$id}-icon-color-alternative);
    --#{$id}-text-decoration: var(--#{$id}-text-decoration-alternative);

    &:enabled:hover {
      --#{$id}-background-color: var(
        --#{$id}-background-color-alternative-hover
      );
      --#{$id}-border-color: var(--#{$id}-border-color-alternative-hover);
      --#{$id}-border-width: var(--#{$id}-border-width-alternative-hover);
      --#{$id}-border-offset: var(--#{$id}-border-offset-alternative-hover);
      --#{$id}-text-color: var(--#{$id}-text-color-alternative-hover);
      --#{$id}-icon-color: var(--#{$id}-icon-color-alternative-hover);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-alternative-hover);
    }

    &:enabled:focus {
      --#{$id}-background-color: var(
        --#{$id}-background-color-alternative-focus
      );
      --#{$id}-border-color: var(--#{$id}-border-color-alternative-focus);
      --#{$id}-border-width: var(--#{$id}-border-width-alternative-focus);
      --#{$id}-border-offset: var(--#{$id}-border-offset-alternative-focus);
      --#{$id}-text-color: var(--#{$id}-text-color-alternative-focus);
      --#{$id}-icon-color: var(--#{$id}-icon-color-alternative-focus);
      --#{$id}-text-decoration: var(--#{$id}-text-decoration-alternative-focus);
    }

    &:enabled:active {
      --#{$id}-background-color: var(
        --#{$id}-background-color-alternative-pressed
      );
      --#{$id}-border-color: var(--#{$id}-border-color-alternative-pressed);
      --#{$id}-border-width: var(--#{$id}-border-width-alternative-pressed);
      --#{$id}-border-offset: var(--#{$id}-border-offset-alternative-pressed);
      --#{$id}-text-color: var(--#{$id}-text-color-alternative-pressed);
      --#{$id}-icon-color: var(--#{$id}-icon-color-alternative-pressed);
      --#{$id}-text-decoration: var(
        --#{$id}-text-decoration-alternative-pressed
      );
    }

    &:disabled {
      --#{$id}-background-color: var(
        --#{$id}-background-color-alternative-disabled
      );
      --#{$id}-border-color: var(--#{$id}-border-color-alternative-disabled);
      --#{$id}-border-width: var(--#{$id}-border-width-alternative-disabled);
      --#{$id}-border-offset: var(--#{$id}-border-offset-alternative-disabled);
      --#{$id}-text-color: var(--#{$id}-text-color-alternative-disabled);
      --#{$id}-icon-color: var(--#{$id}-icon-color-alternative-disabled);
      --#{$id}-text-decoration: var(
        --#{$id}-text-decoration-alternative-disabled
      );
    }
  }
}

.icon-button {
  outline: var(--icon-button-border-width) solid var(--icon-button-border-color);
  outline-offset: var(--icon-button-border-offset);
  border: none;
  border-radius: var(--icon-button-radius);
  background-color: var(--icon-button-background-color);
  padding: var(--icon-button-padding);
  width: var(--icon-button-width);
  height: var(--icon-button-height);

  .icon-box {
    background-color: var(--icon-button-icon-color);
    width: var(--icon-button-icon-width);
    height: var(--icon-button-icon-height);
  }

  &--small {
    width: var(--icon-button-small-width);
    height: var(--icon-button-small-height);
  }

  &--large {
    width: var(--icon-button-large-width);
    height: var(--icon-button-large-height);
  }

  &--new:after {
    position: absolute;
    top: var(--icon-button-notification-top);
    right: var(--icon-button-notification-right);
    border-radius: var(--icon-button-notification-radius);
    background-color: var(--icon-button-notification-background-color);
    width: var(--icon-button-notification-width);
    height: var(--icon-button-notification-height);
    content: '';
  }

  & * {
    filter: none;
  }

  &:enabled:hover {
    --icon-button-background-color: var(--icon-button-background-color-hover);
    --icon-button-border-color: var(--icon-button-border-color-hover);
    --icon-button-border-width: var(--icon-button-border-width-hover);
    --icon-button-border-offset: var(--icon-button-border-offset-hover);
    --icon-button-icon-color: var(--icon-button-icon-color-hover);
    --icon-button-notification-background-color: var(
      --icon-button-notification-background-color-hover
    );
  }

  &:enabled:focus {
    --icon-button-background-color: var(--icon-button-background-color-focus);
    --icon-button-border-color: var(--icon-button-border-color-focus);
    --icon-button-border-width: var(--icon-button-border-width-focus);
    --icon-button-border-offset: var(--icon-button-border-offset-focus);
    --icon-button-icon-color: var(--icon-button-icon-color-focus);
    --icon-button-notification-background-color: var(
      --icon-button-notification-background-color-focus
    );
  }

  &:enabled:active {
    --icon-button-background-color: var(--icon-button-background-color-focus);
    --icon-button-border-color: var(--icon-button-border-color-focus);
    --icon-button-border-width: var(--icon-button-border-width-focus);
    --icon-button-border-offset: var(--icon-button-border-offset-focus);
    --icon-button-icon-color: var(--icon-button-icon-color-focus);
    --icon-button-notification-background-color: var(
      --icon-button-notification-background-color-pressed
    );
  }

  &:disabled {
    --icon-button-background-color: var(
      --icon-button-background-color-disabled
    );
    --icon-button-border-color: var(--icon-button-border-color-disabled);
    --icon-button-border-width: var(--icon-button-border-width-disabled);
    --icon-button-border-offset: var(--icon-button-border-offset-disabled);
    --icon-button-icon-color: var(--icon-button-icon-color-disabled);
    --icon-button-notification-background-color: var(
      --icon-button-notification-background-color-disabled
    );
  }

  &--selected {
    --icon-button-background-color: var(
      --icon-button-background-color-selected
    );
    --icon-button-border-color: var(--icon-button-border-color-selected);
    --icon-button-border-width: var(--icon-button-border-width-selected);
    --icon-button-border-offset: var(--icon-button-border-offset-selected);
    --icon-button-icon-color: var(--icon-button-icon-color-selected);
    --icon-button-notification-background-color: var(
      --icon-button-notification-background-color-selected
    );

    &:enabled:hover {
      --icon-button-background-color: var(
        --icon-button-background-color-selected-hover
      );
      --icon-button-border-color: var(
        --icon-button-border-color-selected-hover
      );
      --icon-button-border-width: var(
        --icon-button-border-width-selected-hover
      );
      --icon-button-border-offset: var(
        --icon-button-border-offset-selected-hover
      );
      --icon-button-icon-color: var(--icon-button-icon-color-selected-hover);
      --icon-button-notification-background-color: var(
        --icon-button-notification-background-color-selected-hover
      );
    }

    &:enabled:focus {
      --icon-button-background-color: var(
        --icon-button-background-color-selected-focus
      );
      --icon-button-border-color: var(
        --icon-button-border-color-selected-focus
      );
      --icon-button-border-width: var(
        --icon-button-border-width-selected-focus
      );
      --icon-button-border-offset: var(
        --icon-button-border-offset-selected-focus
      );
      --icon-button-icon-color: var(--icon-button-icon-color-selected-focus);
      --icon-button-notification-background-color: var(
        --icon-button-notification-background-color-selected-focus
      );
    }

    &:enabled:active {
      --icon-button-background-color: var(
        --icon-button-background-color-selected-pressed
      );
      --icon-button-border-color: var(
        --icon-button-border-color-selected-pressed
      );
      --icon-button-border-width: var(
        --icon-button-border-width-selected-pressed
      );
      --icon-button-border-offset: var(
        --icon-button-border-offset-selected-pressed
      );
      --icon-button-icon-color: var(--icon-button-icon-color-selected-pressed);
      --icon-button-notification-background-color: var(
        --icon-button-notification-background-color-selected-pressed
      );
    }

    &:disabled {
      --icon-button-background-color: var(
        --icon-button-background-color-selected-disabled
      );
      --icon-button-border-color: var(
        --icon-button-border-color-selected-disabled
      );
      --icon-button-border-width: var(
        --icon-button-border-width-selected-disabled
      );
      --icon-button-border-offset: var(
        --icon-button-border-offset-selected-disabled
      );
      --icon-button-icon-color: var(--icon-button-icon-color-selected-disabled);
      --icon-button-notification-background-color: var(
        --icon-button-notification-background-color-selected-disabled
      );
    }
  }
}
