.button.recharged,
.icon-button.recharged {
  justify-content: center;
  gap: var(--size-xxxsmall);
  position: relative;
  cursor: default;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }

  .button__caret {
    background: var(--figma-color-icon-onbrand);
    width: 12px;
    height: 30px;
  }

  .button__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
  }

  &.button--loading {
    pointer-events: none;
  }

  &.button--loading > .button__label,
  &.button--loading > .button__caret {
    opacity: 0;
  }
}

.button--primary.recharged {
  --blue: var(--figma-color-bg-brand);
  --white: var(--figma-color-text-onbrand);

  &:enabled:hover {
    background-color: var(--figma-color-bg-brand-hover);
  }

  &:enabled:focus {
    --blue: var(--figma-color-bg-brand-pressed);
    --black3: var(--figma-color-border-brand-strong);
  }

  &:enabled:active {
    --blue: var(--figma-color-bg-brand-pressed);
    --black3: var(--figma-color-bg-brand-pressed);
  }

  &:disabled {
    --black3: var(--figma-color-bg-disabled);
    --white: var(--figma-color-text-ondisabled);

    & .button__caret {
      background-color: var(--figma-color-text-ondisabled) !important;
    }
  }
}

.button--destructive.recharged {
  --blue: var(--figma-color-bg-danger);
  --white: var(--figma-color-text-ondanger);
  --black3: transparent;
  background-color: var(--blue);
  border-color: var(--black3);

  &:enabled:hover {
    background-color: var(--figma-color-bg-danger-hover);
  }

  &:enabled:focus {
    --blue: var(--figma-color-bg-danger-pressed);
    --black3: var(--figma-color-border-danger-strong);
  }

  &:enabled:active {
    --blue: var(--figma-color-bg-danger-pressed);
    --black3: var(--figma-color-bg-danger-pressed);
  }

  &:disabled {
    --black3: var(--figma-color-bg-disabled);
    --white: var(--figma-color-text-ondisabled);

    & .button__caret {
      background-color: var(--figma-color-text-ondisabled) !important;
    }
  }
}

.button--secondary.recharged {
  --white: var(--figma-color-bg);
  --black8: var(--figma-color-text);

  &:hover {
    --white: var(--figma-color-bg-hover);
  }

  &:enabled:focus {
    --blue: var(--figma-color-border-selected);
  }

  &:enabled:active {
    --white: var(--figma-color-bg-hover);
    --blue: var(--figma-color-border-selected);
  }

  &:disabled {
    --black3: var(--figma-color-text-disabled);

    & .button__caret {
      background-color: var(--figma-color-icon-disabled) !important;
    }
  }

  & .button__caret {
    background: var(--figma-color-icon) !important;
  }
}

.button--tertiary.recharged,
.button--tertiary a {
  color: var(--figma-color-text-brand);
  text-decoration: none;

  & a:focus-visible {
    outline: none;
    text-decoration: underline;
  }

  &:disabled {
    color: var(--figma-color-text-disabled);
  }
}

.icon-button.recharged {
  background-clip: padding-box !important;
  border-radius: 3px;
  border: 2px solid transparent;
  background-color: transparent;

  & * {
    filter: none;
  }

  &:hover {
    background: transparent;
    background-color: var(--figma-color-bg-hover);
  }

  &:focus {
    border-color: var(--figma-color-border-selected);
  }

  &:active {
    background-color: var(--figma-color-bg-hover);
  }

  &:disabled {
    background-color: transparent;
    opacity: 1;
    pointer-events: none;

    & .icon-box {
      background-color: var(--figma-color-icon-disabled);
    }
  }

  &:disabled:focus {
    border: 2px solid transparent;
  }

  &.icon-button--selected {
    background-color: var(--figma-color-bg-brand);
  }

  &.icon-button--selected .icon-box {
    background-color: var(--figma-color-icon-onbrand) !important;
  }

  &.icon-button--selected:hover {
    background-color: var(--figma-color-bg-brand);
  }

  &.icon-button--new:after {
    content: '';
    position: absolute;
    width: var(--size-xxxsmall);
    height: var(--size-xxxsmall);
    border-radius: var(--border-radius-small);
    background-color: var(--figma-color-icon);
    top: 2px;
    right: 2px;
  }

  &.icon-button--selected.icon-button--new:after {
    background-color: var(--figma-color-icon-onbrand);
  }
}

.compact-button.recharged {
  height: var(--size-small);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-small);
  background-color: var(--figma-color-bg-component);
  border: 2px solid var(--figma-color-bg-component);
  padding: 0 var(--size-xxsmall) 0 0;
  cursor: default;
  user-select: none;

  &:hover {
    background-color: var(--figma-color-bg-component-hover);
    border: 2px solid var(--figma-color-bg-component-hover);
  }

  &:active {
    background-color: var(--figma-color-bg-component-pressed);
    border: 2px solid var(--figma-color-bg-component-pressed);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--figma-color-bg-component-pressed);
    border: 2px solid var(--figma-color-border-component-strong);
    outline: none;
  }

  &:disabled {
    background-color: var(--figma-color-bg-disabled);
    border: 2px solid var(--figma-color-bg-disabled);
    pointer-events: none;

    & .type {
      color: var(--figma-color-text-ondisabled);
    }

    & .icon-box {
      background-color: var(--figma-color-icon-ondisabled) !important;
    }
  }

  & .type {
    color: var(--figma-color-text-oncomponent);
    white-space: nowrap;
  }

  & .icon-box {
    background-color: var(--figma-color-icon-oncomponent);
  }
}
