:root[data-theme='penpot'] {
  /* Base */
  /* Text Button */
  --button-height: var(--size-medium);
  --button-gap: var(--size-xxxsmall);
  --button-radius: var(--border-radius-xlarge);
  --button-padding: 0 var(--size-xxsmall);

  --button-background-color: transparent;

  --button-border-color: transparent;
  --button-border-width: 0;
  --button-border-offset: 0;

  --button-text-color: var(--color-background-secondary);
  --button-text-font-family: var(--font-stack);
  --button-text-font-size: var(--font-size-small);
  --button-text-font-weight: var(--font-weight-medium);
  --button-text-letter-spacing: var(--font-letter-spacing-neg-small);
  --button-text-line-height: var(--font-line-height);
  --button-text-decoration: none;
  --button-text-transform: uppercase;

  --button-icon-color: var(--color-background-secondary);
  --button-icon-width: var(--size-small);
  --button-icon-height: var(--size-small);

  --button-caret-width: var(--size-xsmall);
  --button-caret-height: var(--size-small);

  --button-small-height: var(--size-small);
  --button-small-padding: 0 var(--size-xxsmall);

  --button-large-height: var(--size-large);
  --button-large-padding: 0 var(--size-medium);

  /* Icon Button */
  --icon-button-width: var(--size-medium);
  --icon-button-height: var(--size-medium);
  --icon-button-radius: var(--border-radius-xlarge);
  --icon-button-padding: 0;

  --icon-button-background-color: transparent;

  --icon-button-border-color: transparent;
  --icon-button-border-width: 0;
  --icon-button-border-offset: 0;

  --icon-button-text-color: var(--color-background-secondary);

  --icon-button-icon-color: var(--color-background-secondary);
  --icon-button-icon-width: var(--size-xsmall);
  --icon-button-icon-height: var(--size-xsmall);

  --icon-button-notification-width: var(--size-xxsmall);
  --icon-button-notification-height: var(--size-xxsmall);
  --icon-button-notification-radius: var(--border-radius-full);
  --icon-button-notification-top: var(--size-xxxsmall);
  --icon-button-notification-right: var(--size-xxxsmall);
  --icon-button-notification-border-width: var(--size-xunit);
  --icon-button-notification-border-offset: 0;

  --icon-button-small-width: 20px;
  --icon-button-small-height: 20px;
  --icon-button-large-width: var(--size-medium);
  --icon-button-large-height: var(--size-medium);

  /* Primary */
  --button-background-color-primary: var(--color-accent-primary);
  --button-background-color-primary-hover: var(--color-accent-tertiary);
  --button-background-color-primary-pressed: var(--color-background-secondary);
  --button-background-color-primary-focus: var(--color-background-tertiary);
  --button-background-color-primary-disabled: var(
    --color-background-quaternary
  );

  --button-border-width-primary: 0;
  --button-border-width-primary-hover: 0;
  --button-border-width-primary-pressed: 0;
  --button-border-width-primary-focus: var(--size-unit);
  --button-border-width-primary-disabled: 0;

  --button-border-offset-primary: 0;
  --button-border-offset-primary-hover: 0;
  --button-border-offset-primary-pressed: 0;
  --button-border-offset-primary-focus: var(--size-neg-unit);
  --button-border-offset-primary-disabled: 0;

  --button-border-color-primary: transparent;
  --button-border-color-primary-hover: transparent;
  --button-border-color-primary-pressed: transparent;
  --button-border-color-primary-focus: var(--color-accent-primary);
  --button-border-primary-disabled: none;

  --button-text-color-primary: var(--color-background-secondary);
  --button-text-color-primary-hover: var(--color-background-secondary);
  --button-text-color-primary-pressed: var(--color-accent-primary);
  --button-text-color-primary-focus: var(--color-foreground-secondary);
  --button-text-color-primary-disabled: var(--color-foreground-disabled);

  --button-text-decoration-primary: none;
  --button-text-decoration-primary-hover: none;
  --button-text-decoration-primary-pressed: none;
  --button-text-decoration-primary-focus: none;
  --button-text-decoration-primary-disabled: none;

  --button-icon-color-primary: var(--color-background-secondary);
  --button-icon-color-primary-hover: var(--color-background-secondary);
  --button-icon-color-primary-pressed: var(--color-accent-primary);
  --button-icon-color-primary-focus: var(--color-foreground-secondary);
  --button-icon-color-primary-disabled: var(--color-foreground-disabled);

  /* Secondary */
  --button-background-color-secondary: var(--color-background-tertiary);
  --button-background-color-secondary-hover: var(--color-background-quaternary);
  --button-background-color-secondary-pressed: var(
    --color-background-secondary
  );
  --button-background-color-secondary-focus: var(--color-background-tertiary);
  --button-background-color-secondary-disabled: var(
    --color-background-quaternary
  );

  --button-border-width-secondary: 0;
  --button-border-width-secondary-hover: 0;
  --button-border-width-secondary-pressed: var(--size-unit);
  --button-border-width-secondary-focus: var(--size-unit);
  --button-border-width-secondary-disabled: 0;

  --button-border-offset-secondary: 0;
  --button-border-offset-secondary-hover: 0;
  --button-border-offset-secondary-pressed: var(--size-neg-unit);
  --button-border-offset-secondary-focus: var(--size-neg-unit);
  --button-border-offset-secondary-disabled: 0;

  --button-border-color-secondary: transparent;
  --button-border-color-secondary-hover: transparent;
  --button-border-color-secondary-pressed: var(--color-background-quaternary);
  --button-border-color-secondary-focus: var(--color-accent-primary);
  --button-border-color-secondary-disabled: transparent;

  --button-text-color-secondary: var(--color-foreground-primary);
  --button-text-color-secondary-hover: var(--color-accent-primary);
  --button-text-color-secondary-pressed: var(--color-accent-primary);
  --button-text-color-secondary-focus: var(--color-foreground-secondary);
  --button-text-color-secondary-disabled: var(--color-foreground-disabled);

  --button-text-decoration-secondary: none;
  --button-text-decoration-secondary-hover: none;
  --button-text-decoration-secondary-pressed: none;
  --button-text-decoration-secondary-focus: none;
  --button-text-decoration-secondary-disabled: none;

  --button-icon-color-secondary: var(--color-foreground-primary);
  --button-icon-color-secondary-hover: var(--color-accent-primary);
  --button-icon-color-secondary-pressed: var(---color-accent-primary);
  --button-icon-color-secondary-focus: var(--color-foreground-secondary);
  --button-icon-color-secondary-disabled: var(--color-foreground-disabled);

  /* Tertiary */
  --button-text-font-size-tertiary: var(--font-size-small);
  --button-padding-tertiary: 0;

  --button-background-color-tertiary: var(--color-background-primary);
  --button-background-color-tertiary-hover: var(--color-background-primary);
  --button-background-color-tertiary-pressed: var(--color-background-primary);
  --button-background-color-tertiary-focus: var(--color-background-primary);
  --button-background-color-tertiary-disabled: var(--color-background-primary);

  --button-border-width-tertiary: 0;
  --button-border-width-tertiary-hover: 0;
  --button-border-width-tertiary-pressed: 0;
  --button-border-width-tertiary-focus: 0;
  --button-border-width-tertiary-disabled: 0;

  --button-border-offset-tertiary: 0;
  --button-border-offset-tertiary-hover: 0;
  --button-border-offset-tertiary-pressed: 0;
  --button-border-offset-tertiary-focus: 0;
  --button-border-offset-tertiary-disabled: 0;

  --button-border-color-tertiary: transparent;
  --button-border-color-tertiary-hover: transparent;
  --button-border-color-tertiary-pressed: transparent;
  --button-border-color-tertiary-focus: transparent;
  --button-border-color-tertiary-disabled: transparent;

  --button-text-color-tertiary: var(--color-accent-primary);
  --button-text-color-tertiary-hover: var(--color-accent-primary);
  --button-text-color-tertiary-pressed: var(--color-accent-primary);
  --button-text-color-tertiary-focus: var(--color-accent-primary);
  --button-text-color-tertiary-disabled: var(--color-foreground-disabled);

  --button-text-decoration-tertiary: none;
  --button-text-decoration-tertiary-hover: none;
  --button-text-decoration-tertiary-pressed: none;
  --button-text-decoration-tertiary-focus: underline;
  --button-text-decoration-tertiary-disabled: none;

  --button-icon-color-tertiary: var(--color-accent-primary);
  --button-icon-color-tertiary-hover: var(--color-accent-primary);
  --button-icon-color-tertiary-pressed: var(--color-accent-primary);
  --button-icon-color-tertiary-focus: var(--color-accent-primary);
  --button-icon-color-tertiary-disabled: var(--color-foreground-disabled);

  /* Destructive */
  --button-background-color-destructive: var(--color-accent-error);
  --button-background-color-destructive-hover: var(--color-foreground-error);
  --button-background-color-destructive-pressed: var(
    --color-background-secondary
  );
  --button-background-color-destructive-focus: var(--color-background-tertiary);
  --button-background-color-destructive-disabled: var(--color-background-error);

  --button-border-width-destructive: 0;
  --button-border-width-destructive-hover: 0;
  --button-border-width-destructive-pressed: 0;
  --button-border-width-destructive-focus: var(--size-unit);
  --button-border-width-destructive-disabled: 0;

  --button-border-offset-destructive: 0;
  --button-border-offset-destructive-hover: 0;
  --button-border-offset-destructive-pressed: 0;
  --button-border-offset-destructive-focus: var(--size-neg-unit);
  --button-border-offset-destructive-disabled: 0;

  --button-border-color-destructive: transparent;
  --button-border-color-destructive-hover: transparent;
  --button-border-color-destructive-pressed: transparent;
  --button-border-color-destructive-focus: var(--color-accent-error);
  --button-border-color-destructive-disabled: transparent;

  --button-text-color-destructive: var(--color-foreground-primary);
  --button-text-color-destructive-hover: var(--color-foreground-primary);
  --button-text-color-destructive-pressed: var(--color-accent-error);
  --button-text-color-destructive-focus: var(--color-foreground-secondary);
  --button-text-color-destructive-disabled: var(--color-foreground-disabled);

  --button-text-decoration-destructive: none;
  --button-text-decoration-destructive-hover: none;
  --button-text-decoration-destructive-pressed: none;
  --button-text-decoration-destructive-focus: none;
  --button-text-decoration-destructive-disabled: none;

  --button-icon-color-destructive: var(--color-foreground-primary);
  --button-icon-color-destructive-hover: var(--color-foreground-primary);
  --button-icon-color-destructive-pressed: var(--color-accent-error);
  --button-icon-color-destructive-focus: var(--color-foreground-secondary);
  --button-icon-color-destructive-disabled: var(--color-foreground-disabled);

  /* Alternative */
  --button-background-color-alternative: var(--color-accent-primary-muted);
  --button-background-color-alternative-hover: var(--color-accent-tertiary);
  --button-background-color-alternative-pressed: var(
    --color-background-secondary
  );
  --button-background-color-alternative-focus: var(--color-background-tertiary);
  --button-background-color-alternative-disabled: var(
    --color-background-quaternary
  );

  --button-border-width-alternative: 0;
  --button-border-width-alternative-hover: 0;
  --button-border-width-alternative-pressed: 0;
  --button-border-width-alternative-focus: var(--size-unit);
  --button-border-width-alternative-disabled: 0;

  --button-border-offset-alternative: 0;
  --button-border-offset-alternative-hover: 0;
  --button-border-offset-alternative-pressed: 0;
  --button-border-offset-alternative-focus: var(--size-neg-unit);
  --button-border-offset-alternative-disabled: 0;

  --button-border-color-alternative: transparent;
  --button-border-color-alternative-hover: transparent;
  --button-border-color-alternative-pressed: transparent;
  --button-border-color-alternative-focus: var(--color-accent-tertiary);
  --button-border-color-alternative-disabled: transparent;

  --button-text-color-alternative: var(--color-accent-primary);
  --button-text-color-alternative-hover: var(--color-foreground-primary);
  --button-text-color-alternative-pressed: var(--color-accent-tertiary);
  --button-text-color-alternative-focus: var(--color-accent-tertiary);
  --button-text-color-alternative-disabled: var(--color-foreground-disabled);

  --button-text-decoration-alternative: none;
  --button-text-decoration-alternative-hover: none;
  --button-text-decoration-alternative-pressed: none;
  --button-text-decoration-alternative-focus: none;
  --button-text-decoration-alternative-disabled: none;

  --button-icon-color-alternative: var(--color-accent-primary);
  --button-icon-color-alternative-hover: var(--color-foreground-primary);
  --button-icon-color-alternative-pressed: var(--color-accent-tertiary);
  --button-icon-color-alternative-focus: var(--color-accent-tertiary);
  --button-icon-color-alternative-disabled: var(--color-foreground-disabled);

  /* Icon Button - Default */
  --icon-button-background-color: var(--color-background-primary);
  --icon-button-background-color-hover: var(--color-background-tertiary);
  --icon-button-background-color-pressed: var(--color-background-secondary);
  --icon-button-background-color-focus: var(--color-background-tertiary);
  --icon-button-background-color-disabled: var(--color-background-quaternary);

  --icon-button-border-width: 0;
  --icon-button-border-width-hover: 0;
  --icon-button-border-width-pressed: 0;
  --icon-button-border-width-focus: var(--size-unit);
  --icon-button-border-width-disabled: 0;

  --icon-button-border-offset: 0;
  --icon-button-border-offset-hover: 0;
  --icon-button-border-offset-pressed: 0;
  --icon-button-border-offset-focus: var(--size-neg-unit);
  --icon-button-border-offset-disabled: 0;

  --icon-button-border-color: transparent;
  --icon-button-border-color-hover: transparent;
  --icon-button-border-color-pressed: transparent;
  --icon-button-border-color-focus: var(--color-accent-primary);
  --icon-button-border-color-disabled: transparent;

  --icon-button-icon-color: var(--color-icon-default);
  --icon-button-icon-color-hover: var(--color-accent-primary);
  --icon-button-icon-color-pressed: var(--color-accent-primary);
  --icon-button-icon-color-focus: var(--color-foreground-primary);
  --icon-button-icon-color-disabled: var(--color-foreground-disabled);

  --icon-button-notification-background-color: var(--color-accent-primary);
  --icon-button-notification-background-color-hover: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-pressed: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-focus: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-disabled: var(
    --color-accent-primary-muted
  );

  --icon-button-notification-border-color: var(--color-background-primary);
  --icon-button-notification-border-color-hover: var(
    --color-background-tertiary
  );
  --icon-button-notification-border-color-pressed: var(
    --color-background-secondary
  );
  --icon-button-notification-border-color-focus: var(
    --color-background-tertiary
  );
  --icon-button-notification-border-color-disabled: var(
    --color-background-quaternary
  );

  --icon-button-background-color-onselected: var(--color-accent-primary-muted);
  --icon-button-background-color-onselected-hover: var(
    --color-accent-primary-muted
  );

  /* Icon Button - Selected */
  --icon-button-background-color-selected: var(--color-background-tertiary);
  --icon-button-background-color-selected-hover: var(
    --color-background-tertiary
  );
  --icon-button-background-color-selected-pressed: var(
    --color-background-tertiary
  );
  --icon-button-background-color-selected-focus: var(
    --color-background-tertiary
  );
  --icon-button-background-color-selected-disabled: var(
    --color-background-tertiary
  );

  --icon-button-border-width-selected: 0;
  --icon-button-border-width-selected-hover: 0;
  --icon-button-border-width-selected-pressed: 0;
  --icon-button-border-width-selected-focus: var(--size-unit);
  --icon-button-border-width-selected-disabled: 0;

  --icon-button-border-offset-selected: 0;
  --icon-button-border-offset-selected-hover: 0;
  --icon-button-border-offset-selected-pressed: 0;
  --icon-button-border-offset-selected-focus: var(--size-neg-unit);
  --icon-button-border-offset-selected-disabled: 0;

  --icon-button-border-color-selected: transparent;
  --icon-button-border-color-selected-hover: transparent;
  --icon-button-border-color-selected-pressed: transparent;
  --icon-button-border-color-selected-focus: var(--color-accent-primary);
  --icon-button-border-color-selected-disabled: transparent;

  --icon-button-icon-color-selected: var(--color-accent-primary);
  --icon-button-icon-color-selected-hover: var(--color-accent-primary);
  --icon-button-icon-color-selected-pressed: var(--color-accent-primary);
  --icon-button-icon-color-selected-focus: var(--color-accent-primary);
  --icon-button-icon-color-selected-disabled: var(--color-accent-primary-muted);

  --icon-button-notification-background-color-selected: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-selected-hover: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-selected-pressed: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-selected-focus: var(
    --color-accent-primary
  );
  --icon-button-notification-background-color-selected-disabled: var(
    --color-accent-primary-muted
  );

  --icon-button-notification-border-color-selected: var(
    --color-background-tertiary
  );
  --icon-button-notification-border-color-selected-hover: var(
    --color-background-tertiary
  );
  --icon-button-notification-border-color-selected-pressed: var(
    --color-background-tertiary
  );
  --icon-button-notification-border-color-selected-focus: var(
    --color-background-tertiary
  );
  --icon-button-notification-border-color-selected-disabled: var(
    --color-background-tertiary
  );
}
