@import 'figma-ui2.scss';

.draggable-window {
  position: fixed;
  z-index: 3;
  outline: var(--draggable-window-border-width) solid
    var(--draggable-window-border-color);
  outline-offset: var(--draggable-window-border-offset);
  box-shadow: var(--draggable-window-shadow);
  border-radius: var(--draggable-window-radius);
  background-color: var(--draggable-window-background-color);
  width: var(--draggable-window-width);
  max-width: 100%;

  &__header {
    cursor: move;

    .section-title {
      pointer-events: none;
    }
  }

  &__content {
    padding: var(--draggable-window-content-padding);
  }
}
