@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.draggable-window {
  position: absolute;
  z-index: 3;
  outline: var(--draggable_window-border-width) solid
    var(--draggable_window-border-color);
  outline-offset: var(--draggable_window-border-offset);
  box-shadow: var(--draggable_window-shadow);
  border-radius: var(--draggable_window-radius);
  background-color: var(--draggable_window-background-color);
  width: var(--draggable_window-width);
  max-width: 100%;

  &__header {
    --bar-border: var(--draggable_window-header-border);
    cursor: move;

    .section-title {
      pointer-events: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--draggable_window-content-gap);
    padding: var(--draggable_window-content-padding);
  }
}
