:root[data-theme='penpot'] {
  --draggable_window-width: 296px;
  --draggable_window-radius: var(--border-radius-xxlarge);
  --draggable_window-shadow: none;
  --draggable_window-background-color: var(--penpot-color-background-primary);
  --draggable_window-border-color: var(--penpot-color-background-quaternary);
  --draggable_window-border-width: var(--size-pos-unit);
  --draggable_window-border-offset: var(--size-neg-unit);

  --draggable_window-header-border: 0 solid transparent;

  --draggable_window-content-padding: var(--size-pos-xxsmall);
  --draggable_window-content-gap: var(--size-pos-xxxsmall);
}
