:root[data-theme='sketch'] {
  --draggable_window-width: 320px;
  --draggable_window-radius: var(--border-radius-xxxlarge);
  --draggable_window-shadow: var(--elevation-500-modal-window);
  --draggable_window-background-color: var(--sketch-color-background-primary);
  --draggable_window-border-color: var(--sketch-color-border-primary);
  --draggable_window-border-width: var(--size-pos-unit);
  --draggable_window-border-offset: var(--size-neg-unit);

  --draggable_window-header-border: var(--size-pos-unit) solid
    var(--sketch-color-border-disabled);

  --draggable_window-content-padding: var(--size-pos-xxsmall);
  --draggable_window-content-gap: var(--size-pos-xxxsmall);
}
