.consent-overlay.recharged {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: default;
  user-select: none;
  pointer-events: none;

  .consent-banner {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxsmall) 0;
    width: 100%;
    max-height: calc(100% - var(--size-large));
    background-color: var(--figma-color-bg);
    border-top: 1px solid var(--figma-color-border);
    padding: var(--size-xxsmall) var(--size-xsmall);
    pointer-events: all;

    &__message {
      max-width: 400px;
      overflow-y: auto;
    }

    &__content {
      overflow-y: auto;
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 var(--size-xsmall);
      list-style-type: none;
    }

    &__item__icon {
      flex: none;
    }

    &__item__description {
      max-width: 400px;
    }

    & > .bar {
      flex: none;
    }
  }
}

@media (max-width: 460px) {
  .consent-overlay.recharged {
    & .consent-banner__actions {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
