@import 'figma-ui2';
@import 'figma-ui3';

.consent {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  z-index: 5;
  cursor: default;
  inset: 0 0 0 0;
  pointer-events: none;
  user-select: none;

  .consent__banner {
    display: flex;
    flex-direction: column;
    gap: var(--consent-banner-gap);
    border-top: var(--consent-banner-border);
    background-color: var(--consent-banner-background-color);
    padding: var(--consent-banner-padding);
    width: 100%;
    max-height: var(--consent-banner-max-height);
    pointer-events: all;

    &__message {
      max-width: var(--consent-banner-max-width);
      overflow-y: auto;
    }

    &__content {
      overflow-y: auto;
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding: var(--consent-list-padding);
      list-style-type: none;
    }

    &__item__icon {
      flex: none;
    }

    &__item__description {
      max-width: var(--consent-list-max-width);
    }

    & > .bar {
      flex: none;
    }
  }
}

@media (max-width: 460px) {
  .consent {
    .consent__banner__message {
      flex: 1;
    }

    .consent__banner__actions {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
