$id: "consent";

:root {
  --#{$id}-banner-gap: var(--size-xxsmall) 0;
  --#{$id}-banner-padding: var(--size-xxsmall) var(--size-xsmall);
  --#{$id}-banner-max-height: calc(100% - var(--size-large));
  --#{$id}-banner-max-width: 400px;
  --#{$id}-banner-background-color: var(--figma-color-bg);
  --#{$id}-banner-border: var(--size-unit) solid var(--figma-color-border);

  --#{$id}-list-padding: 0 0 0 var(--size-xsmall);
  --#{$id}-list-max-width: 400px;
}

.consent {
  display: flex;
  position: absolute;
  inset: 0 0 0 0;
  justify-content: center;
  align-items: flex-end;
  z-index: 5;
  cursor: default;
  pointer-events: none;
  user-select: none;

  .consent__banner {
    display: flex;
    flex-direction: column;
    gap: var(--#{$id}-banner-gap);
    border-top: var(--#{$id}-banner-border);
    background-color: var(--#{$id}-banner-background-color);
    padding: var(--#{$id}-banner-padding);
    width: 100%;
    max-height: var(--#{$id}-banner-max-height);
    pointer-events: all;

    &__message {
      max-width: var(--#{$id}-banner-max-width);
      overflow-y: auto;
    }

    &__content {
      overflow-y: auto;
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding: var(--#{$id}-list-padding);
      list-style-type: none;
    }

    &__item__icon {
      flex: none;
    }

    &__item__description {
      max-width: var(--#{$id}-list-max-width);
    }

    & > .bar {
      flex: none;
    }
  }
}

@media (max-width: 460px) {
  .consent {
    & .consent__banner__actions {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
