:root[data-theme='figma-ui3'] {
  --consent-banner-gap: var(--size-pos-xxsmall);
  --consent-banner-padding: var(--size-pos-xxsmall) var(--size-pos-xsmall);
  --consent-banner-max_height: calc(100% - var(--size-pos-large));
  --consent-banner-max_width: 400px;
  --consent-banner-background-color: var(--figma-color-bg);
  --consent-banner-border: var(--size-pos-unit) solid var(--figma-color-border);

  --consent-list-padding: 0 0 0 var(--size-pos-xsmall);
  --consent-list-max_width: 400px;
}
