:root[data-theme='penpot'] {
  --consent-banner-gap: var(--size-xxsmall);
  --consent-banner-padding: var(--size-xxsmall) var(--size-xsmall);
  --consent-banner-max-height: calc(100% - var(--size-large));
  --consent-banner-max-width: 400px;
  --consent-banner-background-color: var(--color-background-primary);
  --consent-banner-border: var(--size-unit) solid
    var(--color-background-quaternary);

  --consent-list-padding: 0 0 0 var(--size-xsmall);
  --consent-list-max-width: 400px;
}
