:root[data-theme='sketch'] {
  --consent-background-color: var(--sketch-color-overlay-default);

  --consent-banner-gap: var(--size-pos-xxsmall);
  --consent-banner-padding: var(--size-pos-xxsmall) var(--size-pos-xsmall);
  --consent-banner-max_height: calc(100% - var(--size-pos-large));
  --consent-banner-max_width: 400px;
  --consent-banner-background-color: var(--sketch-color-background-primary);
  --consent-banner-border: var(--size-pos-unit) solid
    var(--sketch-color-border-primary);

  --consent-list-padding: 0 0 0 var(--size-pos-xsmall);
  --consent-list-max_width: 400px;
}
