.select-menu {
  display: flex;
  align-items: baseline;
  cursor: default;
  user-select: none;

  &__label {
    color: var(--figma-color-text);
  }

  &--right {
    justify-content: flex-end;
  }

  &--left {
    justify-content: flex-start;
  }

  &--fill {
    justify-content: stretch;
  }

  &__button {
    --white: var(--figma-color-bg);
    padding: 0 0 0 var(--size-xxsmall);
    width: auto;
  }

  &__button:hover {
    --black1: var(--figma-color-border);
  }

  &__button:focus {
    --blue: var(--figma-color-border-selected);
  }

  &__label {
    margin-top: 0;
  }

  &__item-label {
    flex: 1;
  }

  &__caret {
    opacity: 1;
  }

  & .icon-box {
    margin-left: -8px;
  }

  &__button:hover .icon-box,
  &__button:focus .icon-box {
    background: var(--figma-color-icon) !important;
    margin-left: -8px;
  }

  .floating-menu &__menu {
    position: relative;
  }
}
