@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.select-menu {
  display: flex;
  position: relative;
  align-items: center;
  cursor: default;
  user-select: none;

  &.select-menu--right {
    justify-content: end;
  }

  &.select-menu--left {
    justify-content: start;
  }

  &.select-menu--fill {
    justify-content: stretch;

    .select-menu__button {
      justify-content: space-between;
      width: 100%;
    }
  }

  .select-menu__button {
    display: flex;
    position: relative;
    align-items: center;
    gap: var(--dropdown-gap);
    outline: var(--dropdown-border-width) solid var(--dropdown-border-color);
    outline-offset: var(--dropdown-border-offset);
    border: none;
    border-radius: var(--dropdown-radius);
    background-color: var(--dropdown-background-color);
    padding: var(--dropdown-padding-top) var(--dropdown-padding-right)
      var(--dropdown-padding-bottom) var(--dropdown-padding-left);
    width: auto;
    height: var(--dropdown-height);
    max-width: 100%;

    & {
      --dropdown-background-color: var(--dropdown-background-color-default);
      --dropdown-border-color: var(--dropdown-border-color-default);
      --dropdown-border-width: var(--dropdown-border-width-default);
      --dropdown-border-offset: var(--dropdown-border-offset-default);
      --dropdown-caret-color: var(--dropdown-caret-color-default);
      --dropdown-text-color: var(--dropdown-text-color-default);
    }

    &:hover {
      --dropdown-background-color: var(--dropdown-background-color-hover);
      --dropdown-border-color: var(--dropdown-border-color-hover);
      --dropdown-border-width: var(--dropdown-border-width-hover);
      --dropdown-border-offset: var(--dropdown-border-offset-hover);
      --dropdown-caret-color: var(--dropdown-caret-color-hover);
      --dropdown-text-color: var(--dropdown-text-color-hover);
    }

    &:focus {
      --dropdown-background-color: var(--dropdown-background-color-focus);
      --dropdown-border-color: var(--dropdown-border-color-focus);
      --dropdown-border-width: var(--dropdown-border-width-focus);
      --dropdown-border-offset: var(--dropdown-border-offset-focus);
      --dropdown-caret-color: var(--dropdown-caret-color-focus);
      --dropdown-text-color: var(--dropdown-text-color-focus);
    }

    &:disabled {
      --dropdown-background-color: var(--dropdown-background-color-disabled);
      --dropdown-border-color: var(--dropdown-border-color-disabled);
      --dropdown-border-width: var(--dropdown-border-width-disabled);
      --dropdown-border-offset: var(--dropdown-border-offset-disabled);
      --dropdown-caret-color: var(--dropdown-caret-color-disabled);
      --dropdown-text-color: var(--dropdown-text-color-disabled);
    }
  }

  .select-menu__label {
    --text-color-primary: var(--dropdown-text-color);

    pointer-events: none;
  }

  .select-menu__item-label {
    flex: 1;
  }

  .select-menu__caret {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--dropdown-caret-width);
    height: var(--dropdown-caret-width);
    pointer-events: none;
    --icon-picto-color: var(--dropdown-caret-color);
  }

  .select-menu__status {
    display: flex;
    align-items: center;
    gap: var(--dropdown-status-gap);
    margin: var(--dropdown-status-margin-top)
      var(--dropdown-status-margin-right) var(--dropdown-status-margin-bottom)
      var(--dropdown-status-margin-left);
    height: var(--dropdown-status-height);
  }

  .floating-menu &__menu {
    position: relative;
  }
}
