.select-menu.recharged {
  display: flex;
  align-items: baseline;
  cursor: default;
  user-select: none;

  &.select-menu--right {
    justify-content: flex-end;
  }

  &.select-menu--left {
    justify-content: flex-start;
  }

  &.select-menu--fill {
    justify-content: stretch;
  }

  .select-menu__button {
    --white: var(--figma-color-bg);
    background-color: transparent;
    padding: 0 0 0 var(--size-xxsmall);
    width: auto;
  }

  .select-menu__button:hover {
    --black1: var(--figma-color-border);
  }

  .select-menu__button:focus {
    --blue: var(--figma-color-border-selected);
  }

  &.select-menu--fill .select-menu__button {
    justify-content: space-between;
    width: 100%;
  }

  .select-menu__label {
    margin-top: 0;
    color: var(--figma-color-text);
  }

  .select-menu__item-label {
    flex: 1;
  }

  .select-menu__caret {
    opacity: 1;
    margin-left: -8px;
    background-image: none;
  }

  .select-menu__button:hover .select-menu__caret,
  .select-menu__button:focus .select-menu__caret {
    opacity: 1;
    margin-left: -8px;
    background: var(--figma-color-icon) !important;
  }

  .floating-menu &__menu {
    position: relative;
  }

  &.select-menu--disabled {
    .select-menu__label {
      color: var(--figma-color-text-disabled);
    }

    .select-menu__caret {
      background: var(--figma-color-icon-disabled) !important;
    }

    .select-menu__button:hover .select-menu__caret {
      opacity: 1;
      background: var(--figma-color-icon-disabled) !important;
    }
  }
}
