:root[data-theme='figma-ui3'] {
  /* Base */
  --dropdown-height: var(--size-small);
  --dropdown-padding: 0 var(--size-xxxsmall) 0 var(--size-xxsmall);
  --dropdown-radius: var(--border-radius-med);
  --dropdown-gap: var(--size-xxxsmall);

  --dropdown-background-color: var(--figma-color-bg);

  --dropdown-border-color: var(--figma-color-border);
  --dropdown-border-width: var(--size-unit);
  --dropdown-border-offset: var(--size-neg-unit);

  --dropdown-text-color: var(--figma-color-text);

  --dropdown-caret-width: var(--size-xsmall);
  --dropdown-caret-height: var(--size-xsmall);
  --dropdown-caret-color: var(--figma-color-icon);

  --dropdown-status-gap: var(--size-xxsmall);
  --dropdown-status-height: var(--size-small);
  --dropdown-status-margin: 0 0 0 var(--size-xxsmall);

  /* States */
  --dropdown-background-color-hover: var(--figma-color-bg);
  --dropdown-border-color-hover: var(--figma-color-border);
  --dropdown-border-width-hover: var(--size-unit);
  --dropdown-border-offset-hover: var(--size-neg-unit);
  --dropdown-caret-color-hover: var(--figma-color-icon);
  --dropdown-text-color-hover: var(--figma-color-text);

  --dropdown-background-color-focus: var(--figma-color-bg);
  --dropdown-border-color-focus: var(--figma-color-border-selected);
  --dropdown-border-width-focus: var(--size-unit);
  --dropdown-border-offset-focus: var(--size-neg-unit);
  --dropdown-caret-color-focus: var(--figma-color-icon);
  --dropdown-text-color-focus: var(--figma-color-text);

  --dropdown-background-color-disabled: var(--figma-color-bg);
  --dropdown-border-color-disabled: var(--figma-color-border-disabled);
  --dropdown-border-width-disabled: var(--size-unit);
  --dropdown-border-offset-disabled: var(--size-neg-unit);
  --dropdown-caret-color-disabled: var(--figma-color-icon-disabled);
  --dropdown-text-color-disabled: var(--figma-color-text-disabled);
}
