:root[data-theme='figma-ui3'] {
  --tooltip-min_width: 172px;
  --tooltip-max_width: 200px;
  --tooltip-gap: var(--size-pos-xxsmall);
  --tooltip-radius: var(--border-radius-medium);
  --tooltip-padding: var(--size-pos-xxxsmall) var(--size-pos-xxsmall);
  --tooltip-background-color: var(--grey-1000);
  --tooltip-border-color: transparent;
  --tooltip-border-width: 0;
  --tooltip-border-offset: 0;
  --tooltip-text-color: var(--grey-0);
  --tooltip-shadow: var(--elevation-300-tooltip);

  --tooltip-arrow-size: var(--size-pos-xxsmall);
  --tooltip-arrow-radius: 0;
  --tooltip-arrow-background-color: var(--grey-1000);
  --tooltip-arrow-border-color: var(--grey-900);
  --tooltip-arrow-border-width: var(--size-pos-unit);

  --tooltip-image-width: 96px;
  --tooltip-image-height: 96px;
  --tooltip-image-radius: var(--border-radius-medium);

  --tooltip-withimage-min_width: 248px;
  --tooltip-withimage-padding: var(--size-pos-xxxsmall) var(--size-pos-xxsmall)
    var(--size-pos-xxxsmall) var(--size-pos-xxxsmall);
}
