:root[data-theme='figma-ui2'] {
  --tooltip-min-width: 172px;
  --tooltip-max-width: 200px;
  --tooltip-gap: var(--size-xxsmall);
  --tooltip-radius: var(--border-radius-small);
  --tooltip-padding: var(--size-xxxsmall) var(--size-xxsmall);
  --tooltip-arrow-size: var(--size-xxsmall);
  --tooltip-background-color: var(--grey-1000);
  --tooltip-border-color: var(--grey-800);
  --tooltip-border-width: var(--size-unit);
  --tooltip-border-offset: var(--size-neg-unit);
  --tooltip-text-color: var(--grey-0);
  --tooltip-shadow: var(--shadow-hud);

  --tooltip-image-width: 96px;
  --tooltip-image-height: 96px;
  --tooltip-image-radius: var(--border-radius-med);

  --tooltip-withimage-min-width: 248px;
  --tooltip-withimage-padding: var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxxsmall);
}
