:root[data-theme='figma-ui3'] {
  --tooltip-min-width: 148px;
  --tooltip-max-width: 200px;
  --tooltip-gap: var(--size-xxsmall);
  --tooltip-radius: var(--border-radius-med);
  --tooltip-padding: var(--size-xxxsmall) var(--size-xxsmall);
  --tooltip-arrow-size: var(--size-xxsmall);
  --tooltip-background-color: var(--grey-1000);
  --tooltip-border-color: transparent;
  --tooltip-border-width: 0;
  --tooltip-border-offset: 0;
  --tooltip-text-color: var(--grey-0);
  --tooltip-shadow: var(--elevation-300-tooltip);
}
