:root[data-theme='penpot'] {
  --tooltip-min_width: 172px;
  --tooltip-max_width: 200px;
  --tooltip-gap: var(--size-pos-xxsmall);
  --tooltip-radius: var(--border-radius-medium);
  --tooltip-padding: var(--size-pos-xxxsmall) var(--size-pos-xxsmall);
  --tooltip-background-color: var(--penpot-color-background-primary);
  --tooltip-border-color: var(--penpot-color-accent-primary-muted);
  --tooltip-border-width: var(--size-pos-unit);
  --tooltip-border-offset: var(--size-neg-unit);
  --tooltip-text-color: var(--penpot-color-foreground-primary);
  --tooltip-shadow: none;

  --tooltip-arrow-size: var(--size-pos-xxsmall);
  --tooltip-arrow-background-color: var(--penpot-color-background-primary);

  --tooltip-image-width: 96px;
  --tooltip-image-height: 96px;
  --tooltip-image-radius: var(--border-radius-medium);

  --tooltip-withimage-min_width: 248px;
  --tooltip-withimage-padding: var(--size-pos-xxxsmall) var(--size-pos-xxsmall)
    var(--size-pos-xxxsmall) var(--size-pos-xxxsmall);
}
