:root[data-theme='sketch'] {
  --tooltip-min-width: 172px;
  --tooltip-max-width: 200px;
  --tooltip-gap: var(--size-xxsmall);
  --tooltip-radius: var(--border-radius-xlarge);
  --tooltip-padding: var(--size-xmsmall) var(--size-xxsmall);
  --tooltip-background-color: var(--sketch-color-background-primary);
  --tooltip-border-color: transparent;
  --tooltip-border-width: 0;
  --tooltip-border-offset: 0;
  --tooltip-text-color: var(--sketch-color-foreground-primary);
  --tooltip-shadow: var(--elevation-300-tooltip);

  --tooltip-arrow-size: var(--size-xxsmall);
  --tooltip-arrow-background-color: transparent;

  --tooltip-image-width: 96px;
  --tooltip-image-height: 96px;
  --tooltip-image-radius: var(--border-radius-med);

  --tooltip-withimage-min-width: 248px;
  --tooltip-withimage-padding: var(--size-xxxsmall) var(--size-xxsmall)
    var(--size-xxxsmall) var(--size-xxxsmall);
}
