@import 'figma-ui2.scss';

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: 3;
  width: auto;
  min-width: var(--tooltip-min-width);
  max-width: var(--tooltip-max-width);
  user-select: none;

  &:after {
    position: absolute;
    left: calc(50% - var(--tooltip-arrow-size));
    border-width: var(--tooltip-arrow-size);
    border-style: solid;
    width: 0;
    height: 0;
    content: '';
  }

  &.tooltip--top {
    bottom: calc(100% + var(--tooltip-arrow-size));

    &:after {
      bottom: -14px;
      border-top-color: var(--tooltip-background-color);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  &.tooltip--bottom {
    top: calc(100% + var(--tooltip-arrow-size));

    &:after {
      top: -14px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--tooltip-background-color);
      border-left-color: transparent;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    gap: var(--tooltip-gap);
    outline: var(--tooltip-border-width) solid var(--tooltip-border-color);
    outline-offset: var(--tooltip-border-offset);
    box-shadow: var(--tooltip-shadow);
    border-radius: var(--tooltip-radius);
    background-color: var(--tooltip-background-color);
    padding: var(--tooltip-padding);
  }

  &__text {
    --text-color-primary: var(--tooltip-text-color);
    text-align: center;
  }

  &--singleline {
    min-width: unset;

    .tooltip__text {
      white-space: nowrap;
    }
  }
}
