.tooltip.recharged {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: 3;
  width: auto;
  min-width: 148px;
  max-width: 200px;
  user-select: none;

  &:after {
    position: absolute;
    left: calc(50% - var(--size-xxsmall));
    border-width: var(--size-xxsmall);
    border-style: solid;
    width: 0;
    height: 0;
    content: '';
  }

  &.tooltip--top {
    bottom: calc(100% + var(--size-xxsmall));
  
    &:after {
      bottom: -14px;
      border-top-color: var(--hud);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  &.tooltip--bottom {
    top: calc(100% + var(--size-xxsmall));

    &:after {
      top: -14px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--hud);
      border-left-color: transparent;
    }
  }

  .tooltip__block {
    display: flex;
    justify-content: center;
    gap: var(--size-xxsmall);
    outline: 1px solid rgba(255, 255, 255, 0.1);
    outline-offset: -1px;
    box-shadow: var(--shadow-hud);
    border-radius: var(--border-radius-small);
    background-color: var(--hud);
    padding: var(--size-xxxsmall) var(--size-xxsmall);
  }

  .tooltip__text {
    color: var(--white);
    text-align: center;
  }

  &.tooltip--singleline {
    min-width: unset;

    .tooltip__text {
      white-space: nowrap;
    }
  }
}
