:root {
  --icon-width: var(--size-medium);
  --icon-height: var(--size-medium);
  --icon-picto-color: var(--figma-color-icon);
  --icon-letter-color: var(--figma-color-text-disabled);
}

.icon-box {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: var(--icon-width);
  height: var(--icon-height);
  user-select: none;

  &--picto {
    background-color: var(--icon-picto-color);
  }

  &--letter span {
    color: var(--icon-letter-color);
  }
}
