:root[data-theme='penpot'] {
  --icon-width: var(--size-small);
  --icon-height: var(--size-small);
  --icon-picto-color: var(--penpot-color-icon-default);
  --icon-letter-color: var(--penpot-color-icon-default);
  --icon-letter-text-size: var(--font-size-small);
}
