:root[data-theme='sketch'] {
  --icon-width: var(--size-small);
  --icon-height: var(--size-small);
  --icon-picto-color: var(--sketch-color-foreground-tertiary);
  --icon-letter-color: var(--sketch-color-foreground-tertiary);
  --icon-letter-text-size: var(--font-size-small);
}
