@import 'figma-ui2';
@import 'figma-ui3';

.dialog {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: default;
  inset: 0 0 0 0;
  background-color: var(--dialog-background-color);
  padding: var(--dialog-padding);
  user-select: none;

  &--right {
    justify-content: flex-end;
    align-items: flex-start;
    --dialog-padding: 0;
  }

  .dialog__cover {
    display: flex;
    flex: 1 0 var(--dialog-cover-width);
    justify-content: center;
    align-items: center;
    max-width: var(--dialog-cover-width);
    overflow: hidden;

    &--padding {
      padding: var(--dialog-cover-padding);
    }
  }

  .dialog__text {
    display: flex;
    flex-direction: column;
    gap: var(--dialog-text-gap);
    margin: 0;
    padding: var(--dialog-text-padding);

    p {
      margin: 0;
    }
  }

  .dialog__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--dialog-form-gap);
    margin: 0;
    padding: var(--dialog-form-padding);
  }
}

@media (max-width: 460px) {
  .dialog {
    & .dialog__cover {
      flex: auto;
      width: 100%;
      max-width: none;
    }
  }
}
