.dialog.recharged {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  padding: var(--size-medium);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
  user-select: none;

  & .dialog__cover {
    flex: 1 0 248px;
    max-width: 248px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .dialog__text {
    padding: var(--size-xsmall);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-xxsmall);

    p {
      margin: 0;
    }
  }

  & .dialog__cover--padding {
    padding: var(--size-xsmall);
  }

  & .dialog__form {
    padding: var(--size-xxsmall) 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--size-xxxsmall);

    & > .dialog__form__item {
      padding: 0 var(--size-xsmall);
    }
  }
}

@media (max-width: 460px) {
  .dialog.recharged {
    & .dialog__cover {
      width: 100%;
      max-width: none;
      flex: auto;
    }
  }
}
