@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.dialog {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  inset: 0;
  border: none;
  background-color: var(--dialog-background-color);
  padding: var(--dialog-padding);
  width: 100%;
  height: 100%;
  user-select: none;

  & {
    --dialog-padding: var(--dialog-padding-top) var(--dialog-padding-right)
      var(--dialog-padding-bottom) var(--dialog-padding-left);
  }

  &--right {
    justify-content: end;
    align-items: start;
    --dialog-padding: 0;
  }

  .dialog__cover {
    display: flex;
    flex: 1 0 var(--dialog-cover-width);
    justify-content: center;
    align-items: center;
    aspect-ratio: var(--dialog-cover-ratio);
    max-width: var(--dialog-cover-width);
    overflow: hidden;

    &--padding {
      padding: var(--dialog-cover-padding-top) var(--dialog-cover-padding-right)
        var(--dialog-cover-padding-bottom) var(--dialog-cover-padding-left);
    }
  }

  .dialog__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--dialog-text-gap);
    margin: 0;
    padding: var(--dialog-text-padding-top) var(--dialog-text-padding-right)
      var(--dialog-text-padding-bottom) var(--dialog-text-padding-left);

    p {
      margin: 0;
    }
  }

  .dialog__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--dialog-form-gap);
    margin: 0;
    padding: var(--dialog-form-padding-top) var(--dialog-form-padding-right)
      var(--dialog-form-padding-bottom) var(--dialog-form-padding-left);
  }
}

@media (width <= 460px) {
  .dialog {
    & .dialog__cover {
      flex: auto;
      width: 100%;
      max-width: none;
      box-sizing: border-box;
    }
  }
}
