:root {
  --dialog-padding: var(--size-medium);
  --dialog-background-color: rgba(0, 0, 0, 0.5);

  --dialog-cover-width: 248px;
  --dialog-cover-padding: var(--size-xsmall);

  --dialog-text-gap: var(--size-xxsmall);
  --dialog-text-padding: var(--size-xsmall);

  --dialog-form-gap: var(--size-xxxsmall);
  --dialog-form-padding: var(--size-xxsmall) var(--size-xxsmall);
}

.dialog {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: default;
  inset: 0 0 0 0;
  background-color: var(--dialog-background-color);
  padding: var(--dialog-padding);
  user-select: none;

  .dialog__cover {
    display: flex;
    flex: 1 0 var(--dialog-cover-width);
    justify-content: center;
    align-items: center;
    max-width: var(--dialog-cover-width);
    overflow: hidden;

    &--padding {
      padding: var(--dialog-cover-padding);
    }
  }

  .dialog__text {
    display: flex;
    flex-direction: column;
    gap: var(--dialog-text-gap);
    margin: 0;
    padding: var(--dialog-text-padding);

    p {
      margin: 0;
    }
  }

  .dialog__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--dialog-form-gap);
    margin: 0;
    padding: var(--dialog-form-padding);
  }
}

@media (max-width: 460px) {
  .dialog {
    & .dialog__cover {
      flex: auto;
      width: 100%;
      max-width: none;
    }
  }
}
