:root[data-theme='penpot'] {
  --dialog-padding: var(--size-pos-medium);
  --dialog-background-color: var(--penpot-color-overlay-default);

  --dialog-cover-width: 248px;
  --dialog-cover-padding: var(--size-pos-xsmall) 0 var(--size-pos-xsmall)
    var(--size-pos-medium);
  --dialog-cover-ratio: 8 / 5;

  --dialog-text-gap: var(--size-pos-xxsmall);
  --dialog-text-padding: var(--size-pos-xsmall) var(--size-pos-medium);

  --dialog-form-gap: var(--size-pos-xxxsmall);
  --dialog-form-padding: var(--size-pos-xxsmall) var(--size-pos-medium)
    var(--size-pos-xxsmall) var(--size-pos-small);
}
