:root {
  --color-item-padding: 0 var(--size-xsmall) 0 var(--size-small);
  --color-item-height: var(--size-medium);
  --color-item-gap: var(--size-xxsmall);
}

.color-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--color-item-padding);
  height: var(--color-item-height);

  .color-item__left-part,
  .color-item__right-part {
    max-width: 100%;
  }

  .color-item__info {
    display: flex;
    align-items: center;
    gap: var(--color-item-gap);
    max-width: 100%;
    white-space: nowrap;
  }
}
