@import 'penpot';
@import 'styles/sketch';
@import 'styles/figma';

.color-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--color-item-padding-top) var(--color-item-padding-right) var(--color-item-padding-bottom) var(--color-item-padding-left);
  height: var(--color-item-height);
  user-select: none;
  cursor: default;

  .color-item__left,
  .color-item__right {
    max-width: 100%;
  }

  .color-item__info {
    display: flex;
    align-items: center;
    gap: var(--color-item-gap);
    max-width: 100%;
    white-space: nowrap;
  }
}
