.color-item.recharged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size-xsmall);
  height: var(--size-medium);

  .color-item__left-part,
  .color-item__right-part {
    max-width: 100%;
  }

  .color-item__info {
    display: flex;
    align-items: center;
    gap: 0 var(--size-xxsmall);
    max-width: 100%;
    white-space: nowrap;
  }

  .color-item__color {
    padding: 0 0 0 var(--size-xxsmall);
  }
}
