:root[data-theme='figma-ui3'] {
  --tabs-gap: var(--size-xxxsmall);
  --tabs-radius: 0;
  --tabs-padding: 0;
  --tabs-background-color: var(--figma-color-bg);

  --tabs-tab-padding: var(--size-xxxsmall) var(--size-xxsmall);
  --tabs-tab-radius: var(--border-radius-med);
  --tabs-tab-background-color: var(--figma-color-bg);
  --tabs-tab-text-size: var(--font-size-xsmall);
  --tabs-tab-text-color: var(--figma-color-text-secondary);
  --tabs-tab-text-weight: var(--font-weight-semi);
  --tabs-tab-text-transform: none;

  --tabs-tab-notification-inset: var(--size-xunit) var(--size-xunit) auto auto;
  --tabs-tab-notification-width: var(--size-xxsmall);
  --tabs-tab-notification-height: var(--size-xxsmall);
  --tabs-tab-notification-radius: var(--border-radius-full);
  --tabs-tab-notification-background-color: var(--figma-color-bg-brand);
  --tabs-tab-notification-border-color: var(--figma-color-bg);
  --tabs-tab-notification-border-width: var(--size-xunit);
  --tabs-tab-notification-border-offset: 0;

  --tabs-tab-background-color-hover: var(--figma-color-bg-hover);
  --tabs-tab-text-color-hover: var(--figma-color-text-secondary);
  --tabs-tab-text-weight-hover: var(--font-weight-semi);
  --tabs-tab-notification-border-color-hover: var(--figma-color-bg-hover);

  --tabs-tab-background-color-active: var(--figma-color-bg-secondary);
  --tabs-tab-text-color-active: var(--figma-color-text);
  --tabs-tab-text-weight-active: var(--font-weight-bold);
  --tabs-tab-notification-border-color-active: var(--figma-color-bg-secondary);
}
