.tabs.recharged {
  display: flex;
  align-items: stretch;
  cursor: default;
  user-select: none;

  & .tabs__tab {
    position: relative;
    cursor: default;
    padding: 0 var(--size-xxsmall);
    color: var(--figma-color-text-secondary);
    font-weight: var(--font-weight-medium);
    line-height: var(--size-large);
  }

  & .tabs__tab:hover {
    color: var(--figma-color-text-hover);
  }

  & .tabs__tab--active {
    color: var(--figma-color-text);
    font-weight: var(--font-weight-bold);
  }

  & .tabs__tab--new:after {
    position: absolute;
    top: 12px;
    right: 2px;
    border-radius: var(--border-radius-small);
    background-color: var(--figma-color-text);
    width: var(--size-xxxsmall);
    height: var(--size-xxxsmall);
    content: '';
  }
}
