@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.accordion {
  cursor: default;
  border-bottom: var(--accordion-border);
  padding: var(--accordion-padding);
  user-select: none;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--accordion-row-gap);
    padding: var(--accordion-row-padding);
    height: var(--accordion-row-height);

    --section-title-text-color: var(--accordion-text-color);
    --text-color-primary: var(--accordion-text-color);
    --icon-picto-color: var(--accordion-icon-color);
    --icon-button-icon-color: var(--accordion-icon-color);

    &:hover, &:focus-within {
      --section-title-text-color: var(--accordion-text-color-hover);
      --text-color-primary: var(--accordion-text-color-hover);
      --icon-picto-color: var(--accordion-icon-color-hover);
      --icon-button-icon-color: var(--accordion-icon-color-hover);
    }

    &:focus-within {
      --section-title-text-color: var(--accordion-text-color-hover);
      --text-color-primary: var(--accordion-text-color-hover);
    }
  }

  &__row__left {
    display: flex;
    flex: 1;
    align-items: baseline;
  }

  &__row__right {
    display: flex;
    align-items: center;
  }

  &--expanded &__row {
    --section-title-text-color: var(--accordion-text-color-expanded);
    --text-color-primary: var(--accordion-text-color-expanded);
    --icon-picto-color: var(--accordion-icon-color-expanded);
    --icon-button-icon-color: var(--accordion-icon-color-expanded);
  }

  &--blocked &__row {
    --section-title-text-color: var(--accordion-text-color-disabled);
    --text-color-primary: var(--accordion-text-color-disabled);
    --icon-picto-color: var(--accordion-icon-color-disabled);
    --icon-button-icon-color: var(--accordion-icon-color-disabled);
  }
}
