.accordion.recharged {
  padding: var(--size-xxsmall) 0;
  border-bottom: 1px solid var(--figma-color-border-disabled);
  cursor: default;
  user-select: none;

  .accordion__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--size-xsmall);
    height: var(--size-medium);
  }

  .accordion__row__left-part {
    display: flex;
    align-items: baseline;
    flex: 1;
  }
  .accordion__row__right-part {
    display: flex;
    align-items: center;
  }

  .accordion__row .section-title,
  .accordion__row .label {
    width: auto;
  }

  .accordion__row .section-title {
    display: flex;
    gap: var(--size-xxxsmall);
  }

  .accordion__row .section-title__title,
  .accordion__row .section-title__indicator {
    color: var(--figma-color-text-secondary);
  }

  .accordion__row .tooltip__icon {
    background: var(--figma-color-text-secondary) !important;
  }

  &:hover .accordion__row .section-title__title,
  &:hover .accordion__row .section-title__indicator,
  &.accordion--expanded .accordion__row .section-title__title,
  &.accordion--expanded .accordion__row .section-title__indicator {
    color: var(--figma-color-text);
  }

  &:hover .accordion__row .icon,
  &:hover .accordion__row .tooltip__icon,
  &.accordion--expanded .accordion__row .icon,
  &.accordion--expanded .accordion__row .tooltip__icon {
    background: var(--figma-color-icon) !important;
  }

  &.accordion--blocked .accordion__row .section-title__title,
  &.accordion--blocked .accordion__row .section-title__indicator,
  &.accordion--blocked:hover .accordion__row .section-title__title,
  &.accordion--blocked:hover .accordion__row .section-title__indicator {
    color: var(--figma-color-text-disabled);
  }

  &.accordion--blocked .accordion__row .tooltip__icon {
    color: var(--figma-color-icon);
  }

  &.accordion--blocked .accordion__row .icon,
  &.accordion--blocked:hover .accordion__row .icon {
    background: var(--figma-color-icon-disabled);
  }
}
