:root[data-theme='figma-ui3'] {
  --accordion-padding: var(--size-pos-xxxsmall) 0;
  --accordion-border: var(--size-pos-unit) solid
    var(--figma-color-border-disabled);

  --accordion-row-gap: var(--size-pos-xsmall);
  --accordion-row-height: var(--size-pos-medium);
  --accordion-row-padding: 0 var(--size-pos-xsmall);

  --accordion-text-color: var(--figma-color-text-secondary);
  --accordion-icon-color: var(--figma-color-icon-secondary);

  --accordion-text-color-hover: var(--figma-color-text);
  --accordion-icon-color-hover: var(--figma-color-icon);

  --accordion-icon-color-expanded: var(--figma-color-icon);
  --accordion-text-color-expanded: var(--figma-color-text);

  --accordion-icon-color-disabled: var(--figma-color-icon-disabled);
  --accordion-text-color-disabled: var(--figma-color-text-disabled);
}
