:root[data-theme='penpot'] {
  --accordion-padding: var(--size-xxxsmall) 0;
  --accordion-border: var(--size-unit) solid var(--color-background-quaternary);

  --accordion-row-gap: var(--size-xsmall);
  --accordion-row-height: var(--size-medium);
  --accordion-row-padding: 0 var(--size-xsmall);

  --accordion-text-color: var(--color-foreground-secondary);
  --accordion-icon-color: var(--color-foreground-secondary);

  --accordion-text-color-hover: var(--color-foreground-primary);
  --accordion-icon-color-hover: var(--color-foreground-primary);

  --accordion-icon-color-expanded: var(--color-foreground-primary);
  --accordion-text-color-expanded: var(--color-foreground-primary);

  --accordion-icon-color-disabled: var(--color-background-tertiary);
  --accordion-text-color-disabled: var(--color-background-tertiary);
}
