:root[data-theme='figma-ui2'] {
  --simple_slider-margin: var(--size-pos-small) 0 0;
  --simple_slider-padding: 0 var(--size-pos-medium);
  --simple_slider-height: var(--size-pos-small);
  --simple_slider-radius: var(--border-radius-large);
  --simple_slider-border-color: var(--figma-color-border-disabled-strong);
  --simple_slider-border-width: var(--size-pos-unit);

  --simple_slider-status-gap: var(--size-pos-xxsmall);
  --simple_slider-status-margin: 0 0 0 var(--size-pos-xxsmall);
  --simple_slider-status-height: var(--size-pos-small);
}
