:root[data-theme='figma-ui3'] {
  --simple-slider-margin-top: var(--size-small) 0 0;
  --simple-slider-padding: 0 var(--size-medium);
  --simple-slider-height: 12px;
  --simple-slider-radius: var(--border-radius-large);
  --simple-slider-border-color: var(--figma-color-border-disabled-strong);
  --simple-slider-border-width: var(--size-unit);
}
