:root[data-theme='figma-ui2'] {
  --simple-slider-margin: var(--size-small) 0 0;
  --simple-slider-padding: 0 var(--size-medium);
  --simple-slider-height: var(--size-small);
  --simple-slider-radius: var(--border-radius-large);
  --simple-slider-border-color: var(--figma-color-border-disabled-strong);
  --simple-slider-border-width: var(--size-unit);

  --simple-slider-status-gap: var(--size-xxsmall);
  --simple-slider-status-margin: 0 0 0 var(--size-xxsmall);
  --simple-slider-status-height: var(--size-small);
}
