:root[data-theme='penpot'] {
  --simple-slider-margin-top: var(--size-small) 0 0;
  --simple-slider-padding: 0 var(--size-medium);
  --simple-slider-height: var(--size-xsmall);
  --simple-slider-radius: var(--border-radius-large);
  --simple-slider-border-color: var(--color-background-quaternary);
  --simple-slider-border-width: var(--size-unit);
}
