:root[data-theme='penpot'] {
  --simple-slider-margin: var(--size-pos-small) 0 0;
  --simple-slider-padding: 0 var(--size-pos-medium);
  --simple-slider-height: var(--size-pos-xmsmall);
  --simple-slider-radius: var(--border-radius-large);
  --simple-slider-border-color: var(--penpot-color-background-quaternary);
  --simple-slider-border-width: var(--size-pos-unit);

  --simple-slider-status-gap: var(--size-pos-xxsmall);
  --simple-slider-status-margin: 0 0 0 var(--size-pos-xxsmall);
  --simple-slider-status-height: var(--size-pos-xmsmall);
}
