:root {
  --simple-slider-margin-top: var(--size-small) 0 0;
  --simple-slider-padding: 0 var(--size-medium);
  --simple-slider-height: var(--size-small);
  --simple-slider-radius: var(--border-radius-large);
  --simple-slider-border-color: var(--figma-color-border-disabled-strong);
  --simple-slider-border-width: var(--size-unit);
}

.simple-slider {
  display: flex;
  position: relative;
  align-items: center;
  margin: var(--simple-slider-margin-top);
  padding: var(--simple-slider-padding);

  &__range {
    position: relative;
    flex: 1 1 auto;
    box-shadow: inset 0 0 0 var(--simple-slider-border-width) var(--simple-slider-border-color);
    border-radius: var(--simple-slider-radius);
    height: var(--simple-slider-height);
  }
}