@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.simple-slider {
  display: flex;
  position: relative;
  align-items: center;
  margin: var(--simple_slider-margin);
  padding: var(--simple_slider-padding);

  &__range {
    position: relative;
    flex: 1 1 auto;
    box-shadow: inset 0 0 0 var(--simple_slider-border-width)
      var(--simple_slider-border-color);
    border-radius: var(--simple_slider-radius);
    height: var(--simple_slider-height);
  }

  &__status {
    display: flex;
    align-items: center;
    gap: var(--simple_slider-status-gap);
    margin: var(--simple_slider-status-margin);
    height: var(--simple_slider-status-height);
  }
}
