@import 'figma-ui2';
@import 'figma-ui3';

.draggable-item {
  display: grid;
  position: relative;
  grid-template-rows: var(--draggable-item-template-rows);
  grid-template-columns: var(--draggable-item-template-columns);
  background-color: var(--draggable-item-background-color);
  padding: var(--draggable-item-padding);

  &[draggable='true'] {
    --draggable-item-background-color: var(--figma-color-bg-selected);
    --input-background-color: var(--figma-color-bg-selected);
    --dropdown-background-color: var(--figma-color-bg-selected);
    --icon-button-background-color: var(--figma-color-bg-selected);

    --input-background-color-hover: var(--figma-color-bg-selected);
    --dropdown-background-color-hover: var(--figma-color-bg-selected);
    --icon-button-background-color-hover: var(
      --figma-color-bg-selected-secondary
    );

    --input-background-color-focus: var(--figma-color-bg-selected-secondary);
    --dropdown-background-color-focus: var(--figma-color-bg-selected-secondary);
    --icon-button-background-color-focus: var(
      --figma-color-bg-selected-secondary
    );

    --input-background-color-disabled: var(--figma-color-bg-selected);
    --dropdown-background-color-disabled: var(--figma-color-bg-selected);
    --icon-button-background-color-disabled: var(--figma-color-bg-selected);
  }

  &[draggable='true']:active {
    cursor: grabbing;
  }

  &--dragged:active > div {
    pointer-events: none;
  }

  &--above::before {
    position: absolute;
    top: var(--draggable-item-ghost-inset);
    left: 0;
    z-index: 99;
    background-color: var(--draggable-item-ghost-color);
    width: 100%;
    height: var(--draggable-item-ghost-height);
    content: '';
  }

  &--below:before {
    position: absolute;
    bottom: var(--draggable-item-ghost-inset);
    left: 0;
    z-index: 99;
    background-color: var(--draggable-item-ghost-color);
    width: 100%;
    height: var(--draggable-item-ghost-height);
    content: '';
  }

  .draggable-item__primary {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 77;
    justify-content: space-between;
  }

  .draggable-item__left-part,
  .draggable-item__right-part {
    display: flex;
    align-items: center;
    gap: var(--draggable-item-gap);
    max-width: 100%;
  }

  .draggable-item__param {
    max-width: 100%;
    white-space: nowrap;

    &--compact {
      width: var(--draggable-item-param-width-compact);
    }

    &--square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--draggable-item-param-width-square);
    }
  }

  .draggable-item__buttons--compact {
    grid-column: span 4 / 37;
  }
}
