:root {
  --draggable-item-template-rows: var(--size-medium);
  --draggable-item-template-columns: repeat(76, 1fr);
  --draggable-item-padding: var(--size-xunit) var(--size-xsmall);
  --draggable-item-background-color: var(--figma-color-bg);

  --draggable-item-background-color-selected: var(--figma-color-bg-selected);
  --draggable-item-background-color-pressed: var(--figma-color-bg-pressed);
}

.draggable-item {
  display: grid;
  position: relative;
  grid-template-rows: var(--draggable-item-template-rows);
  grid-template-columns: var(--draggable-item-template-columns);
  background-color: var(--draggable-item-background-color);
  padding: var(--draggable-item-padding);

  &[draggable='true'] {
    --draggable-item-background-color: var(--figma-color-bg-selected);
  }

  &--emphasis,
  &--emphasis .input__field,
  &--emphasis .select-menu__button {
    background-color: var(--figma-color-bg-pressed);
    --white: var(--figma-color-bg-pressed) !important;
  }

  &[draggable='true']:active {
    cursor: grabbing;
  }

  &--dragged:active > div {
    pointer-events: none;
  }

  &--above::before {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 99;
    background-color: var(--figma-color-border-selected);
    width: 100%;
    height: 2px;
    content: '';
  }

  &--below:before {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 99;
    background-color: var(--figma-color-border-selected);
    width: 100%;
    height: 2px;
    content: '';
  }

  .draggable-item__primary {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 77;
    justify-content: space-between;
  }

  .draggable-item__secondary {
    display: flex;
    grid-row: 2 / 2;
    grid-column: 1 / 77;
    flex-direction: column;
  }

  .draggable-item__left-part,
  .draggable-item__right-part {
    display: flex;
    max-width: 100%;
  }

  .draggable-item__param {
    max-width: 100%;
    white-space: nowrap;

    &--compact {
      width: 112px;
      min-width: 112px;
    }

    &--square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--size-medium);
      min-width: var(--size-medium);
    }
  }

  .draggable-item__buttons--compact {
    grid-column: span 4 / 37;
  }
}
