:root[data-theme='penpot'] {
  --draggable-item-template-rows: var(--size-medium);
  --draggable-item-template-columns: repeat(76, 1fr);
  --draggable-item-padding: var(--size-xunit) var(--size-xsmall);
  --draggable-item-background-color: var(--penpot-color-background-primary);
  --draggable-item-gap: var(--size-xxsmall);

  --draggable-item-ghost-color: var(--penpot-color-accent-primary);
  --draggable-item-ghost-height: var(--size-xunit);
  --draggable-item-ghost-inset: var(--size-neg-unit);

  --draggable-item-background-color-selected: var(
    --penpot-color-accent-primary-muted
  );
  --draggable-item-background-color-pressed: var(
    --penpot-color-accent-primary-muted
  );

  --draggable-item-param-width-compact: 112px;
  --draaggagle-item-param-width-square: var(--size-medium);
}
