$id: "message";

:root {
  --#{$id}-padding: 0 calc(var(--size-xsmall) + var(--size-xxxsmall));
  --#{$id}-gap: var(--size-xxsmall);
  --#{$id}-text-color: var(--figma-color-text);
  --#{$id}-icon-color: var(--figma-color-icon);

  --#{$id}-message-padding: var(--size-xxsmall) 0;

  --#{$id}-ticker-height: var(--size-medium);
  --#{$id}-ticker-max-width: 640px;
  --#{$id}-ticker-gap: var(--size-medium);
  --#{$id}-ticker-padding: 0 var(--size-xsmall);
  --#{$id}-ticker-mask-background-color: var(--figma-color-bg);
  --#{$id}-ticker-mask-width: var(--size-xsmall);

  --#{$id}-text-color-disabled: var(--figma-color-text-disabled);
  --#{$id}-icon-color-disabled: var(--figma-color-icon-disabled);
}

.message {
  cursor: default;
  padding: var(--#{$id}-padding);
  user-select: none;
  display: flex;
  align-items: flex-start;
  gap: var(--#{$id}-gap);
  --icon-picto-color: var(--#{$id}-icon-color);
  --text-color-primary: var(--#{$id}-text-color);

  &--blocked{
    --icon-picto-color: var(--#{$id}-icon-color-disabled);
    --text-color-primary: var(--#{$id}-text-color-disabled);
  }

  &__msg {
    padding: var(--#{$id}-message-padding);
  }

  /* Tips ticker */
  &__ticker {
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    height: var(--#{$id}-ticker-height);
    max-width: var(--#{$id}-ticker-max-width);

    &__msg {
      padding: var(--#{$id}-message-padding);
    }

    &:before,
    &:after {
      position: absolute;
      z-index: 2;
      width: var(--#{$id}-ticker-mask-width);
      height: 100%;
      content: '';
    }
  
    &:before {
      left: 0;
      background: linear-gradient(
        90deg,
        var(--#{$id}-ticker-mask-background-color) 0%,
        transparent 100%
      );
    }
  
    &:after {
      right: 0;
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--#{$id}-ticker-mask-background-color) 100%
      );
    }
  }

  &__tips {
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: var(--#{$id}-ticker-gap);
    padding: var(--#{$id}-ticker-padding);
    width: max-content;
  }

  &__ticker:hover &__tips {
    animation-play-state: paused !important;
  }
}

.callout .message__msg {
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
