.onboarding-tip.recharged {
  cursor: default;
  padding: 0 calc(var(--size-xsmall) + var(--size-xxxsmall));
  user-select: none;

  &.onboarding-tip--blocked .onboarding-tip__msg {
    color: var(--figma-color-text-disabled);
  }

  &.onboarding-tip--blocked .icon {
    background: var(--figma-color-icon-disabled);
  }

  .onboarding-tip__msg {
    color: var(--figma-color-text);
    line-height: var(--font-line-height);
  }

  /* Tips ticker */
  .onboarding-tip__ticker {
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  .onboarding-tip__ticker:before,
  .onboarding-tip__ticker:after {
    position: absolute;
    z-index: 2;
    width: var(--size-xsmall);
    height: 100%;
    content: '';
  }

  .onboarding-tip__ticker:before {
    left: 0;
    background: linear-gradient(
      90deg,
      var(--figma-color-bg) 0%,
      transparent 100%
    );
  }

  .onboarding-tip__ticker:after {
    right: 0;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--figma-color-bg) 100%
    );
  }

  .onboarding-tip__tips {
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 0 var(--size-medium);
    padding: 0 var(--size-xsmall);
    width: max-content;
  }

  .onboarding-tip__ticker:hover .onboarding-tip__tips {
    animation-play-state: paused !important;
  }
}

.callout .onboarding-tip__msg {
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
