:root {
  --message-padding: 0 calc(var(--size-xsmall) + var(--size-xxxsmall));
  --message-gap: var(--size-xxsmall);
  --message-text-color: var(--figma-color-text);
  --message-icon-color: var(--figma-color-icon);

  --message-message-padding: var(--size-xxsmall) 0;

  --message-ticker-height: var(--size-medium);
  --message-ticker-max-width: 640px;
  --message-ticker-gap: var(--size-medium);
  --message-ticker-padding: 0 var(--size-xsmall);
  --message-ticker-mask-background-color: var(--figma-color-bg);
  --message-ticker-mask-width: var(--size-xsmall);

  --message-text-color-disabled: var(--figma-color-text-disabled);
  --message-icon-color-disabled: var(--figma-color-icon-disabled);
}

.message {
  display: flex;
  align-items: flex-start;
  gap: var(--message-gap);
  cursor: default;
  padding: var(--message-padding);
  user-select: none;
  --icon-picto-color: var(--message-icon-color);
  --text-color-primary: var(--message-text-color);

  &--blocked {
    --icon-picto-color: var(--message-icon-color-disabled);
    --text-color-primary: var(--message-text-color-disabled);
  }

  &__msg {
    padding: var(--message-message-padding);
  }

  /* Tips ticker */
  &__ticker {
    display: flex;
    position: relative;
    flex: 1;
    max-width: var(--message-ticker-max-width);
    height: var(--message-ticker-height);
    overflow: hidden;

    &__msg {
      padding: var(--message-message-padding);
    }

    &:before,
    &:after {
      position: absolute;
      z-index: 2;
      width: var(--message-ticker-mask-width);
      height: 100%;
      content: '';
    }

    &:before {
      left: 0;
      background: linear-gradient(
        90deg,
        var(--message-ticker-mask-background-color) 0%,
        transparent 100%
      );
    }

    &:after {
      right: 0;
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--message-ticker-mask-background-color) 100%
      );
    }
  }

  &__tips {
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: var(--message-ticker-gap);
    padding: var(--message-ticker-padding);
    width: max-content;
  }

  &__ticker:hover &__tips {
    animation-play-state: paused !important;
  }
}

.callout .message__msg {
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
