name: Tests components and stories

on:
  deployment_status:

permissions:
  contents: read

jobs:
  test:
    if: github.event.deployment_status.state == 'success'
    name: Test UI
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.52.0-noble
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run storybook tests
        run: npm run test:storybook
        env:
          SB_URL: '${{ github.event.deployment_status.environment_url }}'