:root[data-theme='figma-ui2'] {
  --members-list-gap: var(--size-neg-xxxsmall);
  --members-list-avatar-radius: var(--size-small);
  --members-list-avatar-width: var(--size-small);
  --members-list-avatar-height: var(--size-small);
  --members-list-more-padding: 0 var(--size-xxsmall);
  --members-list-text-color: var(--grey-0);
}
