:root[data-theme='figma-ui3'] {
  --members_list-gap: var(--size-neg-xxxsmall);
  --members_list-avatar-radius: var(--size-pos-small);
  --members_list-avatar-width: var(--size-pos-small);
  --members_list-avatar-height: var(--size-pos-small);
  --members_list-more-padding: 0 var(--size-pos-xxsmall);
  --members_list-text-color: var(--grey-0);
}
