@import 'figma-ui2';
@import 'figma-ui3';
@import 'penpot';
@import 'sketch';

.members-list {
  display: inline-flex;
  align-items: center;
  cursor: default;
  user-select: none;

  &__member {
    position: relative;
    margin-left: var(--members_list-gap);
  }

  &__member:first-child {
    margin-left: 0;
  }

  &__avatar {
    flex: none;
    border-radius: var(--members_list-avatar-radius);
    width: var(--members_list-avatar-width);
    height: var(--members_list-avatar-height);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__remaining {
    display: flex;
    position: relative;
    align-items: center;
    padding: var(--members_list-more-padding);
    height: var(--members_list-avatar-height);
  }

  &__list {
    display: flex;
    flex-direction: column;
    --text-color-primary: var(--members_list-text-color);
  }
}
