:root[data-theme='penpot'] {
  --members-list-gap: var(--size-neg-xxxsmall);
  --members-list-avatar-radius: var(--size-pos-small);
  --members-list-avatar-width: var(--size-pos-small);
  --members-list-avatar-height: var(--size-pos-small);
  --members-list-more-padding: 0 var(--size-pos-xxsmall);
  --members-list-text-color: var(--penpot-color-foreground-primary);
}
